
/* 통합검색 */
.totalSearch { position:relative; width: 11rem; height: 2rem; border-radius: 1rem; overflow: hidden; background:#eaeaea; }
.totalSearch input { padding: 0 2.25rem 0 .5rem; width: 100%; height: 2rem; line-height: 2rem; font-size: 0.6rem; border: none; font-family: '돋움', Dotum; background:none;}
.totalSearch button { position: absolute; top: -1px; right: -1px; padding: 0; width: 2rem; height: 2rem; line-height:38px; color:#000; border: none; border-radius: 50%; font-size:.9rem; }
.totalSearch input::-webkit-input-placeholder { color: #555; }
.totalSearch input::placeholder { color: #555; }

/* gnb color */
/* gnb : default */
#gnb{ background:#fff; }/* gnb 배경색 */
#gnb .depth01 > ul > li.on > a{ color:#0084bd; } /* 1차메뉴 active 텍스트 색상 */
#gnb .depth01 > ul > li > a{ color:#333; }/* 1차메뉴 텍스트 색상 */
#gnb .depth01 > ul > li > a:before{ background:#0084bd;} /* 1차메뉴 active underline 색상*/
#gnb .depth01 > ul > li > a > span:before{background:#dae7f8; } /* 1차메뉴 active 그림자 색상 */
#gnb .depth02 > ul > li > a{ color:#111; }/* 2차메뉴 텍스트 색상 */
/* gnb : fullDown */
#nav.fullDown .depth02 > ul > li > a:hover,
#nav.fullDown .depth02 > ul > li > a:focus,
#nav.fullDown .depth02 > ul > li.active > a{ color:#fff; background:#0084bd; }/* 2차메뉴 active 효과 */
/* gnb : oneDown */
#nav.oneDown .depth02{ border:2px solid #0084bd;}/* 2차메뉴 border-color */
#nav.oneDown .depth02 > ul > li > a:hover,
#nav.oneDown .depth02 > ul > li > a:focus,
#nav.oneDown .depth02 > ul > li.dep.active > a{ color:#0084bd; font-weight:600; }/* 2차메뉴 active 텍스트 색상 */
/* gnb : oneFull */
#nav.oneFull .depth02 > ul > li > a:hover,
#nav.oneFull .depth02 > ul > li > a:focus,
#nav.oneFull .depth02 > ul > li.dep.active > a{ color:#fff; background:#0084bd; }/* 2차메뉴 active 배경색 */
#nav.oneFull .depth03 > ul > li > a:before{background:#0084bd;}/* 3차메뉴 블릿 색상 */

/* footer */
#footer { border-top:1px solid #e5e5e5; color:#fff; background: #2b2e2f; }/* footer 배경, 폰트색상, border */
.footer_link li a:before{ border-left:1px solid #ccc; }/* footer link 영역 라인색상 */
.footer_link li a strong { color: #a9e5ff; }/* footer link 강조 폰트색상 */
#footer .copyright { color:#9ba1a8; }/* copyright 폰트색상 */
#footer .btn_top{ background:#fcd462; color:#fff;}/* footer 상단이동 버튼 색상 */

/* 방문자수 */
.visitant{background:#fff; }
.visitant ul li{ color:#000;}
.visitant ul li strong { color:#0084bd;}
.visitant ul li + li:before{ border-left:1px solid #ccc;}

/* moblie  */
#header .mBtn.mSearch{ background: #33b2e9; color:#fff;}/* 모바일 검색 버튼 */
#header .mBtn.mNav{ background: #fcd462; color:#000;}/* 모바일 메뉴 버튼 */

/* moblie navigation  */
#mNav #mNavClose { border-radius:.5rem; color:#000; background:#fcd462;}/* 모바일 메뉴 닫기 버튼 */
#mgnb .depth02{ background:#f7faff;}/* 2차메뉴 배경 */
#mgnb .depth02 > ul > li:before{ background:#33b2e9;}/* 2차메뉴 블릿 색상*/
#mgnb .depth03{ border-top:2px solid #33b2e9;}/* 3차메뉴 border 색상 */
#mgnb .depth01 > ul > li.active > a { color: #fff; background-color:#33b2e9; }/* 1차메뉴 active */
#mgnb .depth02 > ul > li.active > a { color: #33b2e9; }/* 2차메뉴 active */

/* moblie search  */
#mSearch .btnSearch { background: #33b2e9; }
#mSearch .btnClose { background:#33b2e9;  }

/* lnb */
#lnb h2{ color:#fff;background: #33b2e9;
    background: -moz-linear-gradient(90deg, #33b2e9 0%, #1f42a4 100%);
    background: -webkit-linear-gradient(90deg, #33b2e9 0%, #1f42a4 100%);
    background: linear-gradient(90deg, #33b2e9 0%, #1f42a4 100%); }
/* lnb:active */
#lnb .dep01 > li > a:before{ background:#f0faff;}
#lnb .dep01 > li.active > a{ border-color:#33b2e9;}
#lnb .dep02 > li > a:before{ background:#33b2e9;}
#lnb .dep02 > li.active > a{ color:#33b2e9; }
#lnb .dep03 { border-top:2px solid #33b2e9;}
#lnb ul > li > a:hover,
#lnb ul > li > a:focus{color:#33b2e9;}

/* location : snsBox */
.snsBox button.active,
.snsBox button:hover,
.snsBox button:focus{ color:#fff; border-color:#33b2e9; background:#33b2e9;}