/* 메인 컨테이너 */
#container { position:relative; z-index:2; width:100%; }
#container *{ scrollbar-arrow-color: #ddd; scrollbar-Track-Color: #ddd; scrollbar-base-color: #aaa; scrollbar-Face-Color: #aaa; scrollbar-3dLight-Color: #aaa; scrollbar-DarkShadow-Color: #aaa; scrollbar-Highlight-Color: #aaa; scrollbar-Shadow-Color: #aaa;}
#container ::-webkit-scrollbar { width: 5px; }
#container ::-webkit-scrollbar-thumb { background-color: #aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color: #ddd; border-radius:10px; }

.MC_wrap1 { position:relative; padding-top:1.4rem; }
.MC_wrap1::before { position:absolute; right:calc(50% - 10.6rem); top:0; border-radius:0 7rem 7rem 0; width:200%; height:40.8rem; content:''; z-index:-1; background: #ebfaff;
    background: -moz-linear-gradient(45deg, #fffaf0 60%, #ebfaff 90%);
    background: -webkit-linear-gradient(45deg, #fffaf0 60%, #ebfaff 90%);
    background: linear-gradient(45deg, #fffaf0 60%, #ebfaff 90%); }
.MC_wrap1::after { position:absolute; left:0; bottom:-2.4rem; width:175px; height:331px; background:url('/images/template/T0014/main/0014_wrap1_bg.png') no-repeat center / cover; content:''; z-index:0; }
.MC_wrap1 .container { margin-top:2.5rem; }
.MC_wrap2 { position:relative; }
.MC_wrap3 { position:relative; }
.MC_wrap3 .container { padding: 1.7rem 0 3rem; }
.MC_wrap3 .container::before { position:absolute; top: 0; left: -8.75rem; border-radius:7.25rem 0 0; width: 200%; height: 100%; background: url('/images/template/T0014/main/0014_wrap3_bg.png') repeat; content: ""; z-index: -2;}

.MC_box1 { position:relative; width:100%; height:22.85rem; background:url('/images/template/T0014/main/0014_bg_box1.png') no-repeat center top; } /* 메인비주얼 */
.MC_box2 { position:relative; width:65.5%; height:15.3rem; float:left; } /* 게시판 */
.MC_box3 { position:relative; width:29%; height: 15.3rem; float:right; } /* 캘린더 */
.MC_box3::before{ position:absolute; bottom:0; right:0; width:3.5rem; height:2.95rem; background:url('/images/template/T0014/main/0001_bg_sche.png') no-repeat center / cover; content:""; }
.MC_box4 { position:relative; width:100%; height: 20.1rem; margin: 2.25rem 0 1.5rem;  } /* 갤러리 */
.MC_box5 { position:relative; width:17.5rem; height: 14.5rem; float: left; } /* 팝업존 */
.MC_box6 { position:relative; width:calc(100% - 36.35rem); height: 14.5rem; float: left; padding: 0 3.9%; } /* 식단 */
.MC_box7 { position:relative; width:18.85rem; height: 14.5rem; float: right; background:#fff; border-radius:1.5rem; box-shadow:3px 3px 7px rgba(95, 122, 132, 0.2); } /* 바로가기1 */


@media (max-width: 1240px) {
	.MC_wrap1::before { right:calc(50% - 5.2rem); height:34rem; }
	.MC_wrap1::after { display:none; }
	.MC_wrap3 .container { padding: 1.7rem 1rem 3rem; }

    .MC_box1 { height:auto; } /* 메인비주얼 */
    .MC_box6 { width:calc(100% - 34.35rem); padding: 0 3%; } /* 식단 */
	.MC_box7 { width:16.85rem; } /* 바로가기1 */
}

@media (max-width: 1024px) {
	.MC_wrap1 .container { margin-top:1.5rem; }

	.MC_box2 { width:63.3%; } /* 게시판 */
	.MC_box3 { width:33%; } /* 캘린더 */
}

@media (max-width: 960px) {
    .MC_wrap3 { padding: 2rem 0 0; }
    .MC_wrap3 .container { padding: 1.7rem 1rem 2rem; }

    .MC_box4 { height: auto; margin: 1.5rem 0 0; } /* 갤러리 */
    .MC_box5 { width:48%; } /* 팝업존 */
    .MC_box6 { width:48%; float:right; margin-left:0; } /* 식단 */
    .MC_box7 { width:100%; height: auto; margin-top: 2rem; } /* 바로가기1 */
}

@media (max-width: 768px) {
	.MC_wrap1::before { right:0; height:26rem; border-radius:0; }
	.MC_wrap3 { padding: 0; }

    .MC_box2 { width:100%; height: auto; float:none; } /* 게시판 */
    .MC_box3 { width:100%; float:none; height:auto; } /* 캘린더 */
	.MC_box4{ margin: 2rem 0; } /* 갤러리 */
}

@media (max-width: 680px) {
	.MC_wrap1 { padding-top:1rem; }

    .MC_box5 { width:100%; height:auto; float: none; } /* 팝업존 */
    .MC_box6 { width:100%; float:none; height:12.5rem; margin:1rem 0; padding:0; } /* 식단 */
    .MC_box7 { margin-top: 1rem; } /* 바로가기1 */
}

@media (max-width: 480px) {
	.MC_wrap1::before { height:35rem; }
	.MC_wrap3 .container { padding: 1.5rem 1rem 2rem; }

	.MC_box3 { margin-top:3rem; } /* 캘린더 */
    .MC_box4 { height: auto; margin:2rem 0 1.5rem; }
}