﻿/* 메인비주얼 */
.MVisual0032 {  } 
.MVisual0032 { position: relative; height: 100%; line-height:1;}
.MVisual0032 .slider{height:100%; overflow:hidden;}
.MVisual0032 .item{overflow:hidden;}
.MVisual0032 .item img{position:relative; width:auto; height:100%; left:50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%);}
.MVisual0032 .control{position:absolute; right:50%; margin-right:-30rem; bottom:2rem; z-index:1;}
.MVisual0032 .control > a{display:inline-block; width:2rem; height:2rem; line-height:2rem; background:rgb(17, 50, 30, 0.5); color:#fff; text-align: center; border-radius:50%; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.MVisual0032 .control > a.play{display:none;}
.MVisual0032 .control > a:hover,
.MVisual0032 .control > a:focus{ background:rgb(17, 50, 30, 0.9);}

/* 바로가기1 */
.M_link0032 { position:relative; height:100%;}
.M_link0032 ul{display:flex; justify-content:space-between; }  
.M_link0032 ul li { position:relative; flex:1; max-width:8rem; } 
.M_link0032 ul li:before { position:absolute; left:-.5rem; top:45%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); width:15px; height:22px; background:url('/images/template/T0032/main/0032_bg_link.png') no-repeat center; content:''; }
.M_link0032 ul li:first-child:before { display:none; }
.M_link0032 ul li a { position:relative; display:block; text-align:center; }
.M_link0032 ul li a:before { position:absolute; bottom:-1.75rem; left:40%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); width:.55rem; height:.55rem; background:#5d6fca; border-radius:50%; opacity:0; content:''; -webkit-transition:0.3s; transition:0.3s;}
.M_link0032 ul li a p { position:relative; width:3.05rem; margin:0 auto; -webkit-transition:background-color 0.3s; transition:background-color 0.3s; }
.M_link0032 ul li a p img { -webkit-transition:transform 0.3s; transition:transform 0.3s;}
.M_link0032 ul li a span { position:relative; display:inline-block; line-height:1.2rem; height:2.3rem; max-height:3rem; font-size:0.9rem; font-weight:600; color:#222; margin-top:0.7rem; overflow:hidden; } 
.M_link0032 ul li a span:before { content:""; position:absolute; left:0; bottom:0; width:100%; height:0; background:#c9d9f8; border-radius:0.8rem; z-index:-1; -webkit-transition:0.3s; transition:0.3s; }
/** 바로가기1 : active **/
.M_link0032 ul li a:hover:before,
.M_link0032 ul li a:focus:before { opacity:1; left:50%; }

/* 게시판 */
.notice0032 { position:relative; height:100%; }
.notice0032:before { content:""; position:absolute; left:-3rem; top:0; width:11rem; height:100%; border-radius:3.5rem 0 0; background:linear-gradient(to bottom, #d8ddf2 20%, #f8eadc); }
.notice0032:after { content:""; position:absolute; left:0; top:0; width:200%; height:100%; background:#f7f8fc; z-index:-2; }
.notice0032 .titTab { position:absolute; left:0; top:2rem; width:8rem; }
.notice0032 .titTab li { position:relative; }
.notice0032 .titTab li a { position:relative; display:block; height:3rem; font-size:1.1rem; font-weight: 600; line-height:3rem; overflow:hidden; text-overflow:ellipsis;}
.notice0032 .titTab li a:before { content:""; position:absolute; left:0; top:0; width:0; height:100%; background:#5d6fca; border-radius:1.5rem 1.5rem 0 1.5rem; opacity:0; }  
.notice0032 .titTab li a:after { content:""; position:absolute; right:1.5rem; top:0; width:23px; height:100%; background:url('/images/template/T0032/main/0032_noti_dot.png') no-repeat center; opacity:0; -webkit-transition:0.3s; transition:0.3s; }  
.notice0032 .titTab li a span { position:relative; }
.notice0032 .list_box {display:none; width:100%; height:14.5rem; padding-left:12rem; }
.notice0032 .list_box ul { position:relative; overflow:hidden; height:100%; }
.notice0032 .list_box li { width:30%; float:left; } 
.notice0032 .list_box li + li { margin-left:5%; }
.notice0032 .list_box li:nth-child(n+4) { display:none; }
.notice0032 .list_box li a { position:relative;  height:14.5rem; display:block; padding:2rem 0; font-weight: 400; color:#333; }
.notice0032 .list_box li a:before{content:""; position:absolute; left:0; bottom:0; width:0; height:0.3rem; background:#5d6fca; opacity: 0; z-index:1;} 
.notice0032 .list_box li span { position:relative; color:#222; }
.notice0032 .list_box li a.new span { padding-right: 2rem;}
.notice0032 .list_box li a.new span:after { position:absolute; right:0; top:-0.2rem; content:"\e9a8"; font-family:"xeicon"; color:#5d6fca; font-size:1.5rem; }
.notice0032 .list_box li .tit { display:block; height:2.6rem; line-height:1.3rem; font-size:1rem; color:#333; font-weight:600; overflow:hidden; margin:1.6rem 0 2.1rem; }
.notice0032 .list_box li .txt { display:block; height:2.4rem; line-height:1.2rem; font-size:0.8rem; color:#444;  overflow:hidden; }
.notice0032 .btn_more { position:absolute; left:1.25rem; bottom:-1rem; width:2.5rem; height:2.5rem; background:#ff9314; color:#fff; border-radius:.75rem; line-height:2.5rem; text-align:center; font-size:1rem; }
/* 게시판 : 데이터 없음 */ 
.notice0032 .list_box li.no_data{width:100%; display:flex; height:100%; align-items:center; justify-content:center;}
/* 게시판 : active */ 
.notice0032 .titTab li a.current { width:10rem; text-align:center; color:#fff;  padding:0 3rem 0 0.5rem; font-weight:700; letter-spacing:-.1rem;}
.notice0032 .titTab li a.current:before { width:100%; opacity:1;} 
.notice0032 .titTab li a.current:after { opacity:1; }
.notice0032 .list_box.on { display: block; }
.notice0032 .list_box li a:hover:before,
.notice0032 .list_box li a:focus:before{width:100%; opacity: 1;}  
.notice0032 a, .notice0032 p{-webkit-transition:all 0.3s; -ms-transition:all 0.3s; transition:all 0.3s; }
.notice0032 :before{-webkit-transition:all .3s; -ms-transition:all .3s; transition:all .3s; }
.notice0032 .btn_more:hover,
.notice0032 .btn_more:focus { background:#5d6fca; }
 
/* 식단 */
.meal_menu0032 { position:relative; height:100%; }
.meal_menu0032:after { content:''; display:block; clear:both; }
.meal_menu0032:before { content:""; position:absolute; left:0; top:0; width:100%; height:100%; border-radius:2.5rem 2.5rem 0 0; background:url('/images/template/T0032/main/0032_ptrn2.png'); box-shadow:0 0 13px rgba(0,0,0,0.13); z-index:-1;}
.meal_menu0032 h2 { position:relative; width:9.25rem; line-height:5.5rem; text-align:center; font-size:1.1rem; overflow:hidden; white-space:nowrap; color:#000; font-weight: 700; float:left; }
.meal_menu0032 h2:before { content:""; position:absolute; right:0; top:calc(50% - 0.175rem); width:.35rem; height:0.35rem; background:#5d6fca; border-radius:50%; }
.meal_menu0032 .inner { position:relative; width:calc(100% - 23rem); float:left; }
.meal_menu0032 .inner ul { height:2.2rem; overflow-y:auto; margin-top:1.35rem; padding-top:0.6rem; }
.meal_menu0032 .inner li + li{margin-top:.75rem;} 
.meal_menu0032 .inner li.no_data { display:flex; height:100%; align-items:center; justify-content:center;}
.meal_menu0032 .inner dl { display:flex; } 
.meal_menu0032 .inner dl dt { flex-basis:8.5rem; font-size:0.9rem; color:#000; text-align:center; font-weight:600; line-height:1.6rem; }
.meal_menu0032 .inner dl dt span { position:relative; display:inline-block; padding:0 .2rem; }
.meal_menu0032 .inner dl dt span:before { position:absolute; left:0; right:0; bottom:0; height:.75rem; border-radius:.5rem; background:rgba(176,189,255,.5); z-index:-1; content:''; }
.meal_menu0032 .inner dl dt em { color:#4a76ca; font-weight:700; }
.meal_menu0032 .inner dd { width:calc(100% - 8.5rem); color:#000; font-size:0.8rem; word-break:keep-all;  line-height:1.6rem; font-weight:400; }
.meal_menu0032 > img{position:absolute; right:6.5rem; top:50%; max-width:3.85rem; max-height:2.6rem; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%);}
.meal_menu0032 .btn_more { position:absolute; right:2rem; top:calc(50% - 1.05rem); width:2.1rem; height:2.1rem; background:#4a76ca; border-radius:50%; line-height:2.1rem; text-align:center; color:#fff; font-size:1rem; }
/* 식단 : active */
.meal_menu0032 a {-webkit-transition:all 0.3s; -ms-transition:all 0.3s; transition:all 0.3s; }
.meal_menu0032 .btn_more:hover,
.meal_menu0032 .btn_more:focus{background:#ff9314;}

/* 팝업존 */
.pop0032 { position:relative; width:100%; height:100%;}
.pop0032 h2 { color:#111; font-weight:700; font-size:1.1rem; line-height:2rem; white-space: nowrap; overflow:hidden;}
.pop0032 .tit_wrap{position:relative; padding-right:11rem; margin-bottom:0.7rem;}
.pop0032 .control{position:absolute; right:0; top:0; color:#000; line-height:2rem; }
.pop0032 .control p { display:inline-block; font-size:.7rem; font-weight:600; margin-right:.5rem; }
.pop0032 .control p strong { font-size:.9rem; color: #ff9314; font-weight: 700;}
.pop0032 .control p strong:after{content:""; display:inline-block; width:.5rem; height:0.1rem; background:#000; margin:0 0.3rem .1rem; vertical-align:middle; }
.pop0032 .control a {display: inline-block; overflow: hidden; text-align:center; font-size:1rem; vertical-align:top; margin-left:0.1rem; -webkit-transition:0.3s; transition:0.3s; width:2rem; height:2rem; line-height:2rem; border-radius:50%; background:#d8dcf2; }
.pop0032 .control .bTstlye.next:before { left:auto; right:0;}  
.pop0032 .control .play,
.pop0032 .control .stop {background:#5d6fca; color:#fff;}
.pop0032 .control .play {display: none;}
.pop0032 .pop_img { position:relative; height:11.25rem; overflow: hidden; border-radius:1rem; isolation: isolate; background:#f1f1f1}
.pop0032 .pop_img div,
.pop0032 .pop_img .item {height:100%;}
.pop0032 .pop_img .item a { display: block; height:100%; line-height:0; text-align:center; overflow:hidden;}
.pop0032 .pop_img .item img {position:relative; max-width:100%; width:auto; height:100%;}
/* 팝업존 : active */
.pop0032 .control a:hover,
.pop0032 .control a:focus{color:#ff9314;}

/* 갤러리 */
.gallery0032 { position:relative; }
.gallery0032 h2 { color:#000; font-weight: 700; font-size:1.1rem; line-height:2rem; overflow:hidden; white-space:nowrap; margin-right:2.5rem;  margin-bottom:0.7rem; }
.gallery0032 .list_box{ height:11.25rem; border-radius:1rem; overflow:hidden; isolation: isolate;}
.gallery0032 .list_box.no_data{height:100%; display:flex; align-items:center; justify-content:center; border-radius:1rem; background:#e5ecf9; padding: 5rem 0;}
.gallery0032 .list_box li{width:47.5%; float:left; margin:5px 0;}
.gallery0032 .list_box li + li{margin-left:5%;}
.gallery0032 .list_box a { position:relative; display:block; height:100%; overflow:hidden;}
.gallery0032 .list_box a:before{content:"\e913"; position:absolute; right:0; bottom:0; width:2.25rem; height:2.25rem; line-height:2.25rem; border-radius:50%; font-size:1.1rem; color:#111; font-family: 'xeicon'; background:#75e4ff; text-align: center; opacity: 0;}
.gallery0032 .list_box a .img{height:100%; overflow:hidden; background:#f1f1f1;}
.gallery0032 .list_box a .img img { position:relative; top:50%; left:50%; transform:translate(-50%, -50%); width:auto; height:100%; } 
.gallery0032 .list_box a .txt { position:absolute; left:0; bottom:0; width:80%; line-height:3.5rem; padding:0 1rem; text-align:center; font-size:0.8rem; font-weight:600; color:#000; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; background:#fff; border-radius: 0 1.75rem 1.75rem 0; isolation: isolate; }
.gallery0032 .btn_more{position:absolute; right:0; top:0; width:2rem; height:2rem; color:#fff; background:#ff9314; border-radius:50%; text-align:center; line-height:2rem; font-size:1rem; }
/** 갤러리 : active **/
.gallery0032 .list_box a:hover .txt,
.gallery0032 .list_box a:focus .txt{ color:#ff9314; text-decoration:underline;}
.gallery0032 .btn_more:hover,
.gallery0032 .btn_more:focus{ background:#5d6fca; }
.gallery0032 a, .gallery0032 a .txt{-webkit-transition:all .3s; -ms-transition:all .3s; transition:all .3s; }

/* 캘린더 */
.pop_schedule0032 { position:relative; height:100%; }
.pop_schedule0032 h2{position:relative; line-height:2rem; font-size:1.1rem; overflow:hidden; white-space:nowrap; color:#000; font-weight: 700; margin-bottom:0.5rem; margin-right:2.5rem; } 
.pop_schedule0032 .month { position:relative; display:flex; justify-content:space-between; align-items:center; } 
.pop_schedule0032 .month:before { content:""; position:absolute; left:2.3rem; top:50%; width:calc(50% - 5.5rem); height:1px; border-top:2px dotted #3b3b3b;  }
.pop_schedule0032 .month:after { content:""; position:absolute; right:2.3rem; top:50%; width:calc(50% - 5.5rem); height:1px; border-top:2px dotted #3b3b3b;  }
.pop_schedule0032 .month > span {  position:relative; display:flex; flex-direction:column; justify-content:center; align-items:center; width:5.5rem; height:5.5rem; background:#ffb800; color:#fff; border-radius:1rem; font-size:0.85rem; font-weight:600; line-height:1; overflow:hidden; z-index:0; }
.pop_schedule0032 .month > span:before { content:""; position:absolute; left:2rem; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); width:5.7rem; height:5.7rem; background:#ff9314; border-radius:50%; z-index:-1; }
.pop_schedule0032 .month > span em { position:relative; display:block; font-size:1.75rem; font-weight:700; }
.pop_schedule0032 .month a { position:relative; display:block; width:1.75rem; height:1.75rem; border-radius:50%; text-align:center; line-height:1.75rem; }
.pop_schedule0032 .month a:before { content:""; position:absolute; left:0; top:0; width:100%; height:100%; border:2px solid #ff9314; border-radius:50%;}
.pop_schedule0032 .month a i { transform:rotate(90deg); }
.pop_schedule0032 .lst { position:relative; z-index:1; padding:.5rem 0 0;}
.pop_schedule0032 .lst ul { overflow-y:auto; height:8.5rem; margin-right:6rem; }
.pop_schedule0032 .lst ul li a { position:relative; display:block; padding:0.5rem 0 0.5rem 2.5rem; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.pop_schedule0032 .lst ul li a span { position:absolute; left:0; top:0.2rem; width:1.75rem; height:1.75rem; background:#ffe9d0; border-radius:50%; text-align: center; line-height:1.75rem; color:#333; font-weight:600; } 
.pop_schedule0032 .lst .no_data { width:100%; height:100%; display:flex; align-items:center; justify-content:center; padding-right:0; padding-top: 1rem; }
.pop_schedule0032 .img { position:absolute; right:0; bottom:0; font-size:0; }
.pop_schedule0032 .img img { width:5.55rem;}
.pop_schedule0032 .btn_more{position:absolute; right:0; top:0; width:2rem; height:2rem; color:#fff; background:#ff9314; border-radius:50%; text-align:center; line-height:2rem; font-size:1rem; }
/** 캘린더 : active **/ 
.pop_schedule0032 .month a:hover,
.pop_schedule0032 .month a:focus { background:#ffd46a; }
.pop_schedule0032 .btn_more:hover,
.pop_schedule0032 .btn_more:focus{ background:#5d6fca; }
.pop_schedule0032 .lst ul li a:hover span,
.pop_schedule0032 .lst ul li a:focus span { background:#ffd46a; }
.pop_schedule0032 a,
.pop_schedule0032 a span{-webkit-transition:all .3s; -ms-transition:all .3s; transition:all .3s; }


/* 배너존 */
.banner_zone {line-height: 1; border-top: 1px solid #d1d8e4;}
.banner_zone .container {position: relative; height: 4rem; overflow: hidden;}
.banner_zone h2 {float:left; margin-top: 1.5rem; width: 4rem; font-size: 0.8rem; font-weight: 600; color: #191919;}
.banner_zone .btn {float: left; margin-top: 1.3rem; overflow: hidden; border-left:1px solid #ccc;}
.banner_zone .btn a {float: left; width: 1.4rem; height: 1.4rem; line-height:1.4rem; text-align:center; overflow: hidden; border:1px solid #ccc; border-left:0;}
.banner_zone .btn a.play{display:none;}
.banner_zone .bnWrap { width: calc(100% - 10rem); float:left; padding-top: 0.75rem; padding-left:1.5rem; overflow: hidden;}
.banner_zone .bnWrap a {display: block; height: 2.5rem; line-height: 2.3rem; text-align: center; margin:0 5px; border: 1px solid #c8d1db; overflow: hidden;}
.banner_zone .bnWrap a img {max-width: 100%; max-height: 100%; vertical-align: middle;}
/* 배너존 : active */
.banner_zone .btn a:hover,
.banner_zone .btn a:focus{background:#f1f1f1;}

@media (max-width: 1240px) {
 
	/* 메인비주얼 */
	.MVisual0032 .item img{ width:115%; height:auto; }
	.MVisual0032 .control{right:1rem; margin-right:0;} 

	/* 게시판 */
	.notice0032:before { border-radius:0; }

	/* 학교일정 */
	.pop_schedule0032 .lst ul { margin-right:0; }
	.pop_schedule0032 .img { display:none; }

	/* 팝업존 */
	.pop0032 .pop_img .item img {width:auto; height:100%;}
 
} 
@media (max-width: 1024px) {
	/* 메인비주얼 */
	.MVisual0032 .control{bottom:1rem;}
	
	/* 식단 */
	.meal_menu0032 .inner { width:calc(100% - 21rem); 	}
} 
@media (max-width: 980px) { 
	/* 바로가기 */
	.M_link0032 ul { flex-wrap:wrap; justify-content:initial; align-items:baseline;} 
	.M_link0032 ul li { flex:inherit; width:25%; max-width:none; }
	.M_link0032 ul li:nth-child(n+5) { margin-top:1rem;}
	.M_link0032 ul li:nth-child(4n+1)::before {display:none;}
	.M_link0032 ul li a:before { bottom:-.5rem; }
	
	/* 게시판 */
	.notice0032 .list_box li { width:48%; }
	.notice0032 .list_box li + li { margin-left:4%; }
	
	/* 식단 */
	.meal_menu0032 .inner { width:calc(100% - 20rem); padding:1rem; }
	.meal_menu0032 .inner ul { padding:0 0 0 1rem; height:4.5rem; margin-top:0; }
	.meal_menu0032 .inner dl { display:block; }
	.meal_menu0032 .inner dl dt { text-align:left; }
	.meal_menu0032 .inner dd { width:100%; line-height:1.2rem; margin-top:.5rem; }
  
	/* 학교일정 */
	.pop_schedule0032 .lst ul { height:7rem; }
	.pop_schedule0032 .lst ul li { width:50%; float:left; padding-right:1rem; } 
} 

@media (max-width: 860px) {
 
	/* 배너존 */
	.banner_zone h2{display:none;}
	.banner_zone .bnWrap{width:calc(100% - 6rem); padding-left:0.75rem;}
} 
@media (max-width: 640px) {	 
	/* 게시판 */
	.notice0032:before { display:none; }
	.notice0032:after { left:-1rem; }
	.notice0032 .titTab { position:relative; left:auto; top:auto; width:100%; padding:1rem 3rem 1rem 0; }
	.notice0032 .titTab:before { content:""; position:absolute; left:-1rem; top:0; width:calc(100% + 2rem); height:100%; background:linear-gradient(to right, #74c9de, #ffd546); opacity:0.2;}
	.notice0032 .titTab li { display:inline-block; }
	.notice0032 .titTab li + li { margin-left:0.7rem;}
	.notice0032 .titTab li a { line-height:2.5rem; height:2.5rem; font-size:1rem; }
	.notice0032 .titTab li a:after { display:none; }
	.notice0032 .titTab li a.current { width:auto; padding:0 0.5rem; }
	.notice0032 .list_box { padding-left:0; height:18rem; }  
	.notice0032 .list_box li { width:100%; }
	.notice0032 .list_box li + li { margin:0; border-top:1px dashed #ddd; }
	.notice0032 .list_box li a {height:9rem; padding:1rem 0;}
	.notice0032 .list_box li .tit { height:1.3rem; margin:1rem 0;}
	.meal_menu0032 > img{right:1rem; top:auto; transform: translateY(0); -webkit-transform: translateY(0); -ms-transform: translateY(0); bottom:1rem;}
	.notice0032 .btn_more { left:auto; right:0; top:1.1rem; }

	/* 바로가기 */
	.M_link0032 ul li a p { width:4.5rem; }

	/* 식단 */
	.meal_menu0032 { padding:1rem 1.3rem; }
	.meal_menu0032 h2 { line-height:2rem; text-align:left; float:none; }
	.meal_menu0032 h2:before { display:none; }
	.meal_menu0032 .inner { width:calc(100% - 6rem); float:none; padding:0; }
	.meal_menu0032 .inner ul {padding-left:0; margin-top:0.5rem; }
	.meal_menu0032 .btn_more { right:1.5rem; top:1rem; } 

	/* 팝업존 */
    .pop0032 .pop_img{ height:auto; text-align:center; }
    .pop0032 .pop_img .item img { top:auto; left:auto; max-height:15rem; transform: none; -ms-transform: none;}
}

@media (max-width: 560px) {
	/* 메인비주얼 */
	.MVisual0032 .control{ bottom:.5rem; }
	.MVisual0032 .control > a{ width:1.65rem; height:1.65rem; line-height:1.65rem; }
}

@media (max-width: 480px) {
	/* 학교일정 */
	.pop_schedule0032 .lst ul li { width:100%; padding-right:0; }
	
	/* 식단 */
	.meal_menu0032 .inner { width:calc(100% - 3.7rem); }
	.meal_menu0032 > img { max-width:3.3rem; }
	
	/* 갤러리 */
	.gallery0032 .list_box a .txt { line-height:2.5rem; }
	
	/* 학교일정 */
	.pop_schedule0032 .month > span { width:4.5rem; height:4.5rem; }
	.pop_schedule0032 .lst ul { height:8.5rem; } 
	
	/* 바로가기 */
	.M_link0032 ul li a span { font-size:.85rem; letter-spacing:-.05rem; }
}

@media (min-width:370px) and (max-width: 480px) {
	/* 바로가기 */
	.M_link0032 ul li { width:50%; margin-top:1rem;}
	.M_link0032 ul li:nth-child(-n+2) {margin-top:0;}
	.M_link0032 ul li:nth-child(2n+1) {padding-right:4%;}
	.M_link0032 ul li:nth-child(2n) {padding-left:4%;}
	.M_link0032 ul li:before { top:50%; }
	.M_link0032 ul li:nth-child(2n+1)::before {display:none; padding-right:2%;}
	.M_link0032 ul li a { display:flex; align-items:center; text-align:left; }
	.M_link0032 ul li a p { width:2.5rem; height:2.5rem; line-height:3rem; display:flex; align-items:center; justify-content:center; }
	.M_link0032 ul li a p img { width:85%; height:85%; }
	.M_link0032 ul li a span { margin-left:.5rem; width:calc(100% - 3.5rem); height:auto; margin-top:0; }
 
} 

@media (max-width: 370px) {
	/* 바로가기 */
	.M_link0032 ul li { width:33.3%; margin-top:1rem; }
	.M_link0032 ul li:nth-child(-n+3) { margin-top:0;}
	.M_link0032 ul li:nth-child(3n+1)::before {display:none;}
	.M_link0032 ul li:nth-child(5)::before {display:block;}
	.M_link0032 ul li a p img { max-width:60%; height:auto; }
	.M_link0032 ul li a span { margin-top:.5rem; }
}

@media (max-width: 320px) { 
	/* 바로가기 */  
	.M_link0032 ul li a p { width:4rem;}
	
	/* 식단 */
	.meal_menu0032 > img { display:none; }
	.meal_menu0032 .inner { width:100%; }
	.meal_menu0032 .btn_more { right:1rem;}
}