/* 메인 컨테이너 */
#container { position:relative; z-index:2; width:100%;}
#container *{ scrollbar-arrow-color:#ddd; scrollbar-Track-Color:#ddd; scrollbar-base-color:#aaa; scrollbar-Face-Color:#aaa; scrollbar-3dLight-Color:#aaa; scrollbar-DarkShadow-Color:#aaa; scrollbar-Highlight-Color:#aaa; scrollbar-Shadow-Color:#aaa;}
#container ::-webkit-scrollbar { width:5px; }
#container ::-webkit-scrollbar-thumb { background-color:#aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color:#ddd; border-radius:10px; }

.MC_wrap1 { position:relative; }
.MC_wrap1::after{content: ''; display: block; clear: both;}

.MC_box1 { position:relative; height: 26rem; } /* 메인비주얼 */
.MC_box2 { position:relative; margin:2.5rem 0 4rem 0; } /* 게시판 */
.MC_box3 { position:relative; margin-bottom: 3rem; } /* 식단 */
.MC_box4 { position:relative; width: 19.5rem; height:15.5rem; float: left; margin-bottom: 3rem; } /* 팝업존 */
.MC_box5 { position:relative; width: calc(100% - 24rem); height:15.5rem; float: right; margin-bottom: 3rem;} /* 바로가기1 */
.MC_box6 { position:relative; width: 39%; height: 21.15rem; float: left;} /* 캘린더 */
.MC_box7 { position:relative; width: 61%; height: 21.15rem; float: right;} /* 갤러리 */

 
@media (max-width: 1240px) {
	.MC_box1 { height: auto; } /* 메인비주얼 */
	.MC_box5 { width: calc(100% - 21.5rem);} /* 바로가기1 */
}

@media (max-width: 1024px) {
	.MC_box2 { margin:2rem 0 2.5rem; } /* 게시판 */
	.MC_box3 { margin-bottom: 2.5rem; } /* 식단 */
    .MC_box4 { width: 17.5rem; height:13.5rem; margin-bottom: 2.5rem; } /* 팝업존 */
    .MC_box5 { width: calc(100% - 19rem); height:13.5rem; margin-bottom: 2.5rem; } /* 바로가기1 */
}

@media (max-width:860px){
    .MC_box3 { height: auto; } /* 식단 */
}

@media (max-width: 768px) {
    .MC_box4 { width: 100%; height:auto; margin-bottom:1rem; } /* 팝업존 */
    .MC_box5 { width: 100%; margin-bottom:1.5rem; } /* 바로가기1 */
    .MC_box6 { width: 100%; height: auto; } /* 캘린더 */
    .MC_box7 { width: 100%; height: auto; margin-top: 0; } /* 갤러리 */
}

@media (max-width: 580px) {
    .MC_box4 { margin-bottom:1.5rem; } /* 팝업존 */
}

@media (max-width: 480px) {
    .MC_box2 { height: auto; margin: 1.5rem 0; } /* 게시판 */
    .MC_box3 { height: 11.5rem; margin-bottom: 1.5rem; } /* 식단 */
}
 