
/* 통합검색 */
.totalSearch {width: 11rem; height: 2rem; border-radius: 2rem; border: 1px solid #69bfe1; background: #fafafa; overflow: hidden; position: relative;}
.totalSearch input { padding: 0 2.25rem 0 .5rem; width: 100%; height: 2rem; line-height: 2rem; font-size: 0.6rem; border: none; font-family: '돋움', Dotum; background:none;}
.totalSearch button {position: absolute; right: 0; bottom: 0; padding: 0; background: #69bfe1; width: 2.25rem; height: 2rem; line-height: 2rem; color: #fff; border: none; font-size: 1rem; /*.9rem */ }
.totalSearch input::-webkit-input-placeholder { color: #555; }
.totalSearch input::placeholder { color: #555; }

#header:before { background:#d2d2d2; } /* header 하단 라인 */

/* gnb color */
/* gnb : default */
#gnb{ background:#fff; }/* gnb 배경색 */
#gnb .depth01 > ul > li.on > a{ color:#69bfe1 !important; } /* 1차메뉴 active 텍스트 색상 */
#gnb .depth01 > ul > li > a{ color:#000; }/* 1차메뉴 텍스트 색상 */
#gnb .depth01 > ul > li > a:before{ background:#69bfe1;} /* 1차메뉴 active underline 색상*/
#gnb .depth01 > ul > li > a > span:before{background:#e3f2fe; } /* 1차메뉴 active 그림자 색상 */
#gnb .depth02 > ul > li > a{ color:#111; }/* 2차메뉴 텍스트 색상 */
/* gnb : fullDown */
#nav.fullDown .active .depth01 > ul > li > a{ color:#333; }
#nav.fullDown .depth02 > ul > li > a:hover,
#nav.fullDown .depth02 > ul > li > a:focus,
#nav.fullDown .depth02 > ul > li.active > a{ color:#fff; background:#69bfe1; }/* 2차메뉴 active 효과 */
/* gnb : oneDown */
#nav.oneDown #gnb:before {display: none;}
#nav.oneDown .depth02{ border:2px solid #69bfe1;}/* 2차메뉴 border-color */
#nav.oneDown .depth02 > ul > li > a:hover,
#nav.oneDown .depth02 > ul > li > a:focus,
#nav.oneDown .depth02 > ul > li.dep.active > a{ color:#69bfe1; font-weight:600; }/* 2차메뉴 active 텍스트 색상 */
/* gnb : oneFull */
#nav.oneFull .depth02 > ul > li > a:hover,
#nav.oneFull .depth02 > ul > li > a:focus,
#nav.oneFull .depth02 > ul > li.dep.active > a{ color:#fff; background:#69bfe1; }/* 2차메뉴 active 배경색 */
#nav.oneFull .depth03 > ul > li > a:before{background:#69bfe1;}/* 3차메뉴 블릿 색상 */

/* footer */
#footer { border-top:1px solid #ddd; color:#222; background: #f6f6f6; }/* footer 배경, 폰트색상, border */
.footer_link li a:before{ border-left:1px solid #595959; }/* footer link 영역 라인색상 */
.footer_link li a strong { color: #42599b; }/* footer link 강조 폰트색상 */
#footer .copyright { color: inherit; }/* copyright 폰트색상 */
#footer .btn_top{ background: #69bfe1; color: #fff;}/* footer 상단이동 버튼 색상 */

/* 방문자수 */
.visitant{background: #69bfe1;}
.visitant ul li{ color:#fff;}
.visitant ul li strong { color:#c6efff;}
.visitant ul li + li:before{ border-left:1px solid #ccc;}

/* moblie  */
#header .mBtn.mSearch{ border-radius: 50%; background: #69bfe1; color:#fff;}/* 모바일 검색 버튼 */
#header .mBtn.mNav{ border-radius: 50%; background: #ffa800; color:#fff;}/* 모바일 메뉴 버튼 */

/* moblie navigation  */
#mNav #mNavClose {  border-radius: 50%; background: #ffa800; color:#fff;}/* 모바일 메뉴 닫기 버튼 */
#mgnb .depth02{ background:#f7faff;}/* 2차메뉴 배경 */
#mgnb .depth02 > ul > li:before{ background:#ffa800;}/* 2차메뉴 블릿 색상*/
#mgnb .depth03{ border-top:2px solid #ffa800;}/* 3차메뉴 border 색상 */
#mgnb .depth01 > ul > li.active > a { color: #fff; background-color:#ffa800; }/* 1차메뉴 active */
#mgnb .depth02 > ul > li.active > a { color: #ffa800; }/* 2차메뉴 active */

/* moblie search  */
#mSearch .btnSearch { background: #69bfe1; color:#fff; }
#mSearch .btnClose { border-radius:50%; background:#69bfe1; color:#fff; }

/* lnb */
#lnb h2{ color:#fff;background: #0062ad;
    background: -moz-linear-gradient(90deg, #3996bb 0%, #69bfe1 100%);
    background: -webkit-linear-gradient(90deg, #3996bb 0%, #69bfe1 100%);
    background: linear-gradient(90deg, #3996bb 0%, #69bfe1 100%); }
/* lnb:active */
#lnb .dep01 > li > a:before{ background:#f0f9ff;}
#lnb .dep01 > li.active > a{ border-color:#69bfe1;}
#lnb .dep02 > li > a:before{ background:#69bfe1;}
#lnb .dep02 > li.active > a{ color:#69bfe1; }
#lnb .dep03 { border-top:2px solid #69bfe1;}
#lnb ul > li > a:hover,
#lnb ul > li > a:focus{color:#69bfe1;}

/* location : snsBox */
.snsBox button.active,
.snsBox button:hover,
.snsBox button:focus{ color:#fff; border-color:#69bfe1; background:#69bfe1;}

@media (max-width: 1024px) {
	#header { border-bottom: 1px solid #e0e0e0; }
} 

@media (max-width: 768px) {
	#header { border-bottom: 1px solid #d2d2d2; }
} 