/* common */
h2.heading{ position:relative; padding:.25rem 0; line-height:1.5rem; font-size:1.1rem; font-weight:700; color:#000; overflow:hidden; white-space: nowrap;}

/* 메인비주얼 */
.MVisual0031 { position: relative; height: 100%; overflow:hidden;}
.MVisual0031 .slider{ position:relative; z-index: 0;}
.MVisual0031 .item{overflow:hidden; line-height:0;}
.MVisual0031 .item img{position:relative; width:auto; height:100%; left:50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%);}
.MVisual0031 .control{position:absolute; left:50% ;margin-left: -3rem; bottom:2rem; z-index:1;}
.MVisual0031 .control > a{display:inline-block; width:2rem; height:2rem; line-height:2rem;  background:rgb(17, 26, 50, 0.5); color:#fff; text-align: center; border-radius:50%; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.MVisual0031 .control > a.play{display:none;}
.MVisual0031 .control > a:hover,
.MVisual0031 .control > a:focus{ background:rgb(17, 26, 50, 0.9);}

/* 바로가기1 */
.M_link0031 { position:relative; height:100%; display:flex; align-items: center; justify-content: center; }
.M_link0031 ul{ display:flex; flex-wrap:wrap; width:calc(100% + 1rem); }
.M_link0031 li { width:25%; padding:.5rem .2rem; flex: 1;}
.M_link0031 li a {display:block; position:relative; width:100%; height:8rem; padding-top:1.5rem; word-break: keep-all; border:2px solid transparent; }
.M_link0031 li a .img { position:relative; text-align: center; display: inline-block; border-radius:2rem; margin-right: .5rem; background:#fff;  vertical-align: middle; width:4.75rem; height:4.75rem;line-height: 3.9rem; background: #fff; border: 3px solid transparent; box-shadow: 0 0 10px rgba(0,0,0,.15); transition: all .2s; -webkit-transition: all .2s;}
.M_link0031 li a .img img { width:3.55rem; height:2.9rem; vertical-align: middle;}
.M_link0031 li a p { display: inline-block; max-width: calc(100% - 6rem); max-height:2rem; vertical-align: middle; font-size:.9rem; text-align: center; line-height:1rem;word-break: break-all; padding:0 .25rem; margin-top:.15rem; overflow:hidden; font-weight: 600; color:#000;}
.M_link0031 li a p::before { content: "\002B"; display: block; position: absolute; top:calc(50% - .875rem); right: 0; width: 1.75rem; height: 1.75rem; border-radius: 50%; opacity: 0; transition: all .2s; -webkit-transition: all .2s; background: #ff8c8a; color: #fff; line-height: 1.6rem; font-size:1.7rem; font-weight: lighter;}
/** 바로가기1 : active **/
.M_link0031 li a:hover .img {border-color: #ff8c8a;}
.M_link0031 li a:hover p::before {opacity: 1;}

/* 게시판 */
.notice0031 { position:relative; height:100%;  }
.notice0031 .titTab{position:relative;max-width: calc(100% - 4rem);}
.notice0031 .titTab ul{font-size:0; margin-left:-.85rem;}
.notice0031 .titTab li { position:relative; display:inline-block; max-width:33%; padding:.7rem .85rem 0.25rem .85rem;; vertical-align: top; background:#fff;}
.notice0031 .titTab li ~ li:before {content: ""; display: block; position: absolute; top: calc(50% - .2rem); left: -.5rem; width: .65rem; height: .75rem; background:url('/images/template/T0031/main/0031_notice_line.png') no-repeat center;}
.notice0031 .titTab li a { display:block; position:relative; line-height:1.5rem; padding:0 3px 0 0; font-size:1.1rem; font-weight: 600; color:#595959;}
.notice0031 .titTab li a span{ position:relative; display:block; overflow:hidden; white-space:nowrap;}
.notice0031 .tabWrap{ height:calc(100% - 3rem); padding-top:.7rem; margin-top: 1rem; border-top: 2px dotted #b7b7b8;}
.notice0031 .list_box { display:none; width:100%; height:100%; }
.notice0031 .list_box ul { position: relative; }
.notice0031 .list_box li { width: 100%; }
.notice0031 .list_box li:nth-child(n + 7){ display:none;}
.notice0031 .list_box li a { position:relative; display:block; height:100%; padding-left: 1.25rem; overflow:hidden; line-height: 1.9rem;}
.notice0031 .list_box li a.new:before { position: absolute; top:.5rem; left: 0; width: 1.25rem; height: 1.25rem; line-height: 1.25rem; border-radius: 50%; background: #6ab1ff; color: #fff; text-align: center; content: "N"; font-size: 0.7rem; font-weight: 600; }
.notice0031 .list_box li a::before {content: ""; display: block; width: 6px; height: 2px; background: #787878; position: absolute; top: calc(50% + 2px); left: .25rem;}
.notice0031 .list_box li a p{ position:relative; display:inline-block; max-width:calc(100% - 4.5rem); line-height:1.1rem; vertical-align:middle; font-size:.85rem; font-weight:500; color:#58585a; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}
.notice0031 .list_box li a span { position: absolute; top: 0; right: 0; color:#999; font-size:.75rem; vertical-align:middle;}
.notice0031 .list_box li.no_data{text-align:center;line-height: 10rem;}
.notice0031 .btn_more { position:absolute; right:0; top:.5rem;  background: #eee; display: inline-block; padding: .3rem .8rem; border-radius: 1rem; transition: all .2s; -webkit-transition: all .2s;}
.notice0031 .btn_more em { display: inline-block; font-size: .8rem; color:#000; vertical-align: middle; margin-right:.2rem;}
.notice0031 .btn_more i { display: inline-block; font-size: 1rem; color: #464646; vertical-align: middle; }
/* 게시판 : active */
.notice0031 .titTab li a:hover {color: #000; font-weight:700;}
.notice0031 .titTab li a.current { color:#000; font-weight:700; }
.notice0031 .titTab li a.current:before { content: ""; display: block; width: 1.75rem; height: 1.75rem; border-radius: 50%; background: rgba(0,87,216,.1); position: absolute; top: -.65rem; left: -.7rem;}
.notice0031 .list_box.on { display: block; }
.notice0031 .list_box li a:hover p{text-decoration:underline;}
.notice0031 .btn_more:hover { background: rgba(0,87,216,.1); }

/* 팝업존 */
.pop0031 { position:relative; width:100%; height:100%; overflow:hidden;}
.pop0031 h2 { margin-right: 8rem;}
.pop0031 .control{ position:absolute; right:0; top:0;}
.pop0031 .control p { display: inline-block; vertical-align: middle; line-height:2rem; color:#000; font-size:.75rem; margin-right: .8rem;}
.pop0031 .control p strong { position: relative; font-size: .9rem; font-weight: 600; margin-right: .5rem; padding-right: .7rem;}
.pop0031 .control p strong::before {content: ""; display: block; width: 6px; height: 6px; border-radius: 50%; background: #d2d2d2; position: absolute; top: calc(50% - 3px); right: 0;}
.pop0031 .control a {display: inline-block; overflow: hidden; width:1.2rem; height:.4rem; vertical-align: middle; line-height:1.5rem; text-align:center; transition: all .2s; -webkit-transition: all .2s;}
.pop0031 .control a.prev { background: url('/images/template/T0031/main/0031_schl_prev.png') no-repeat center / cover; }
.pop0031 .control a.next { background: url('/images/template/T0031/main/0031_schl_next.png') no-repeat center / cover; }
.pop0031 .control .play,
.pop0031 .control .stop{ width: 1.5rem; height: 1.5rem; border-radius: 50%; background:#9d9d9d; color: #fff;}
.pop0031 .control .play {display: none;  width: 1.5rem; height: 1.5rem; border-radius: 50%; background:#9d9d9d; color: #fff;}
.pop0031 .pop_img { position:relative; height:11.25rem; margin-top:.25rem; overflow: hidden; border-radius:2rem; isolation: isolate; background:rgba(0,0,0,0.1);}
.pop0031 .pop_img div[class*='slick-'],
.pop0031 .pop_img .item {height:100%;}
.pop0031 .pop_img .item a { display: flex; height:100%; line-height:0; align-items:center; justify-content: center; overflow:hidden;}
.pop0031 .pop_img .item img {position:relative; max-width:100%; width:auto; height:auto;}
/* 팝업존 : active */
.pop0031 .control .play:hover,
.pop0031 .control .stop:hover {background: #69b2ff;}
.pop0031 .control a.prev:hover { transform: translateX(2px); -webkit-transform: translateX(2px); -ms-transform: translateX(2px); }
.pop0031 .control a.next:hover { transform: translateX(-2px); -webkit-transform: translateX(-2px); -ms-transform: translateX(-2px); }
/* 캘린더 */
.pop_schedule0031 { position:relative; height:100%; }
.pop_schedule0031 .tit_wrap h2 { display:block; max-width:calc(100% - 11.5rem); }
.pop_schedule0031 .sche_wrap { position:relative; }
.pop_schedule0031 .sche_table { width: 55%; border-radius:1rem; border: 1px solid #ddd; overflow:hidden; background: #fff; float: left;}
.pop_schedule0031 .sche_table table {text-align:center;padding: .2rem .5rem;}
.pop_schedule0031 .sche_table table thead th { padding:.42rem; color:#3e3e3f; font-size:.8rem; font-weight:600; border-bottom:2px solid #dfe4e8; }
.pop_schedule0031 .sche_table table thead th.sat { color:#0288d1; }
.pop_schedule0031 .sche_table table thead th.sun { color:#ff5656; }
.pop_schedule0031 .sche_table table tbody { padding: .3rem 0; }
.pop_schedule0031 .sche_table table tbody td {padding: .15rem;font-size:.7rem;text-align:center;}
.pop_schedule0031 .sche_table table tbody td .sat { color:#0288d1; }
.pop_schedule0031 .sche_table table tbody td .sun { color:#ff5656; }
.pop_schedule0031 .sche_table table tbody tr:last-child td { padding:.2rem .2rem .3rem .2rem; }
.pop_schedule0031 .sche_table table tbody td a,
.pop_schedule0031 .sche_table table tbody td span { display:inline-block; width:1.05rem; height:1.05rem; line-height:1.05rem; border-radius:50%; color:#3e3e3f; }
.pop_schedule0031 .sche_table table tbody td .event { background:#ebf5fe; }
.pop_schedule0031 .sche_table table tbody td .today { background:#69b2ff !important; color:#fff; }
.pop_schedule0031 .month {width:44.8%; height: 5rem; position: absolute; top: -2.25rem; right: 1px; background: #69b2ff; border-radius: 1rem 1rem 0 0; z-index: 1; padding-left: 1.4rem;}
.pop_schedule0031 .month a { display:inline-block; vertical-align:middle; font-size:.9rem; color: #fff; line-height:2.2rem;}
.pop_schedule0031 .month a i { -webkit-transition:all .15s; transition:all .15s; }
.pop_schedule0031 .month span { display:inline-block; font-size:.8rem; line-height:1.5rem; font-weight:600; color: #fff; margin:0 .5rem; vertical-align:middle; }
.pop_schedule0031 .month span em { position:relative; display:inline-block; font-size:1.1rem; font-weight:700; }
.pop_schedule0031 .lst {width: 45%;position:relative;z-index:1;float: left;background: #fff;border-radius: 1rem;padding: 1.4rem .8rem .6rem;}
.pop_schedule0031 .lst ul {overflow-y:auto; height: 9.5rem;}
.pop_schedule0031 .lst ul li{position: relative;}
.pop_schedule0031 .lst .no_data { color:#222; line-height:7.8rem; text-align:center; letter-spacing:-2px; }
.pop_schedule0031 .lst li a { position:relative; display:block; line-height:1.37rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:0.75rem; font-weight:600; color:#2c3445; }
.pop_schedule0031 .lst li a:before {content: "\2713"; display: block; position:absolute; top: calc(50% - .8rem); left: 0; font-size: .6rem; color: #6ab1ff;}
.pop_schedule0031 .lst li ~ li { margin-top:0.25rem; }
.pop_schedule0031 .lst li a span { font-size:.75rem; font-weight: 600; text-align:center; color:#000; padding: 0 .4rem 0 .75rem;}
.pop_schedule0031 a,
.pop_schedule0031 a span { -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.pop_schedule0031 .btn_more {position: absolute; top: .2rem; right: .6rem; color: #535f66; width: 1.3rem; height: 1.3rem; font-weight: bold; background: #fff; text-align: center; line-height: 1.3rem; font-size: .8rem; font-weight: bold; border-radius: 50%; z-index: 99;}
.pop_schedule0031 .btn_more i { font-weight: bold; transition: all .2s; -webkit-transition: all .2s; }
/** 캘린더 : active **/
.pop_schedule0031 .month a.prev:hover {transform: translateX(-3px); -webkit-transform: translateX(-3px); -ms-transform: translateX(-3px);}
.pop_schedule0031 .month a.next:hover { transform: translateX(3px); -webkit-transform: translateX(3px); -ms-transform: translateX(3px); }
.pop_schedule0031 .sche_table table tbody td span a:not(.event):focus,
.pop_schedule0031 .sche_table table tbody td span a:not(.event):hover { text-decoration:none; cursor:auto; } /* 20230204 <span><a></a></span> 관련 수정 */
.pop_schedule0031 .lst li a:hover {text-decoration: underline;}
.pop_schedule0031 .btn_more:hover i { transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); }

/* 식단 */
.meal_menu0031 { position:relative; height:100%;}
.meal_menu0031 .tit_wrap{position:relative;}
.meal_menu0031 h2 { margin-right:5.5rem; }
.meal_menu0031 .inner { position:relative; padding:.75rem 0 0; z-index:1; }
.meal_menu0031 .inner ul { overflow-y:auto; height:4.25rem; }
.meal_menu0031 .inner li + li { margin-top:1rem; }
.meal_menu0031 .inner .no_data { line-height:4.2rem; text-align:center; }
.meal_menu0031 .inner dl { position:relative; min-height:6rem;}
.meal_menu0031 .inner dt { position:relative; display:inline-block; font-size:.9rem; font-weight:700; color:#000; margin-bottom:.6rem; padding-left: .9rem;}
.meal_menu0031 .inner dt:before { content: ""; display: block; width: .5rem; height: .5rem; border-radius: 50%; position: absolute; left: 0; top: calc(50% - 5px); background: #ff8e8a;}
.meal_menu0031 .inner dd { color:#515050; font-size:0.8rem; word-break:keep-all;  }
.meal_menu0031 > img{ max-width: 7.95rem; max-height: 4.75rem; position:absolute; right:calc(50% - 3.975rem); bottom:.5rem;}
.meal_menu0031 .btn_more { position:absolute; right:0; top:0; background: #ff8e8a; display: inline-block; padding: .3rem .8rem; border-radius: 1rem; transition: all .2s; -webkit-transition: all .2s;}
.meal_menu0031 .btn_more em { display: inline-block; font-size: .8rem; color:#fff; vertical-align: middle; margin-right:.2rem;}
.meal_menu0031 .btn_more i { display: inline-block; font-size: 1rem; color: #fff; vertical-align: middle; }
/** 식단 : active **/
.meal_menu0031 .btn_more:hover { background: #ec6e69; }

/* 갤러리 */
.gallery0031 { position:relative; height:100%; }
.gallery0031 h2 { max-width:calc(100% - 3rem); }
.gallery0031 .list_box{height:100%; margin-top:1.3rem;}
.gallery0031 .list_box ul{ display:flex; width:calc(100% + 1.5rem); margin-left:-.75rem;}
.gallery0031 .list_box li{flex:1; min-width:0px; padding:0 .75rem;}
.gallery0031 .list_box li:nth-child(n+3){ display:none;}
.gallery0031 .list_box li a { position:relative; display:block; height: 12.5rem; border-radius: 2rem; text-align: center; overflow: hidden; transition: all .2s; -webkit-transition: all .2s; }
.gallery0031 .list_box li a .img{ height:9.25rem; background:rgba(0,0,0,0.2); overflow:hidden; border-radius: 2rem; transition: all .2s; -webkit-transition: all .2s; }
.gallery0031 .list_box li a .img img{position:relative; width:auto; height:100%; }
.gallery0031 .list_box li a .txt{ position:relative; line-height:3rem; padding: 0 1rem; font-size:.9rem; font-weight:600; color:#000; text-align: center; text-overflow: ellipsis; overflow:hidden; white-space: nowrap; }
.gallery0031 .list_box li.no_data{width:100%; height:12rem; display:flex; align-items:center; justify-content:center; text-align:center; line-height:12rem; color:#333; font-size:0.9rem; border-radius:2rem; background:#eee;}
.gallery0031 .btn_more { position:absolute; top:0; right:0; width:2rem; height:2rem; background:#ff8e8a; color: #000; font-size: 1.15rem; text-align: center; line-height: 2rem; border-radius: 50%;}
.gallery0031 .btn_more i {color:#fff;}


/* 배너존 */
.banner_zone {line-height: 1; border-top: 1px solid #d1d8e4;}
.banner_zone .container {position: relative; height: 4rem; overflow: hidden;}
.banner_zone h2 {float:left; margin-top: 1.5rem; width: 4rem; font-size: 0.8rem; font-weight: 600; color: #191919;}
.banner_zone .btn {float: left; margin-top: 1.3rem; overflow: hidden; border-left:1px solid #ccc;}
.banner_zone .btn a {float: left; width: 1.4rem; height: 1.4rem; line-height:1.4rem; text-align:center; overflow: hidden; border:1px solid #ccc; border-left:0;}
.banner_zone .btn a.play{display:none;}
.banner_zone .bnWrap { width: calc(100% - 10rem); float:left; padding-top: 0.75rem; padding-left:1.5rem; overflow: hidden;}
.banner_zone .bnWrap a {display: block; height: 2.5rem; line-height: 2.3rem; text-align: center; margin:0 5px; border: 1px solid #c8d1db; overflow: hidden;}
.banner_zone .bnWrap a img {max-width: 100%; max-height: 100%; vertical-align: middle;}

@media (max-width: 1240px) {


	/* 메인비주얼 */
	.MVisual0031 .item img{width:120%; height:auto; left:0; transform: none; -webkit-transform: none; -ms-transform: none;}
	.MVisual0031 .control{right:2rem; left:auto; margin-left:0;}

	/* 바로가기1 */
	.M_link0031 li a .img { margin-right: .2rem; }
	.M_link0031 li a p { font-size:.8rem; padding:0 .25rem; margin-top:.15rem; overflow:hidden; font-weight: 600; color:#000;}
	.M_link0031 li a p::before { width: 1.3rem; height: 1.3rem; line-height: 1.2rem; font-size:1.4rem; }

	/* 식단  */
	.meal_menu0031 h2 { margin-right:15rem; }
	.meal_menu0031 > img{ right:5rem; bottom:-1rem;}
	.meal_menu0031 .inner ul { height:1.2rem; }
	.meal_menu0031 .inner .no_data { line-height:1.2rem; }
	.meal_menu0031 .inner { margin-right:14rem;}
	.meal_menu0031 .inner dt { vertical-align:top;}
	.meal_menu0031 .inner dd { display:inline-block; width: calc(100% - 8rem); margin-left:.8rem; }

}

@media (max-width: 1024px){

	/* 메인비주얼 */
	.MVisual0031 .control{bottom:1rem;}

	/* 갤러리 */
	.gallery0031 .list_box li a .txt{ padding: 0 .5rem; font-size:.8rem; }
	.gallery0031 .list_box ul{ width:calc(100% + 1rem); margin-left:-.5rem;}
	.gallery0031 .list_box li{ padding:0 .5rem;}



}
@media (max-width: 950px){

	/* 메인비주얼 */
	.MVisual0031 .control{bottom:1rem;}

	/* 갤러리 */
	.gallery0031 .list_box li:nth-child(n+2){ display:none;}

}
@media (max-width: 840px) {
	/* 바로가기1 */
	.M_link0031 li a p { max-width: calc(100% - 5.2rem); }
	.M_link0031 li a p::before { display:none;}

    /* 갤러리 */
	.gallery0031 .list_box li a { height: auto;}
	.gallery0031 .list_box li a .txt{ line-height:2.3rem; padding: 0 .5rem; }
	.gallery0031 .list_box li:nth-child(n+2){ display:block;}
	.gallery0031 .list_box li:nth-child(n+3){ display:none;}

	/* 팝업존 */
	.pop0031 .control{top:-.2rem;}
	.pop0031 .pop_img { height:auto; }

	/* 배너존 */
	.banner_zone h2{display:none;}
	.banner_zone .bnWrap{width:calc(100% - 6rem); padding-left:0.75rem;}
}
@media (min-width: 769px) {

	/** 갤러리 : active **/
    .gallery0031 .list_box li a:hover { box-shadow: 0 0 10px rgba(0,0,0,.19); border: 1px solid #d1d1d1; transform: translateY(-.5rem); -webkit-transform: translateY(-.5rem); -ms-transform: translateY(-.5rem);}
    .gallery0031 .list_box li a:hover .img {border-radius: 0;}
    .gallery0031 .btn_more:hover {background: #f48884; color:#fff;}

}
@media (max-width: 768px) {

	h2.heading,
	.notice0031 .titTab li a,
	.gallery0031 h2{ font-size:1rem; padding:.1rem 0;}

	/* 바로가기1 */
	.M_link0031 li { width:50%; padding:.5rem .2rem; flex:initial;}
	.M_link0031 li a {height:auto; padding-top:0; text-align:left;}
	.M_link0031 li a .img {text-align:center;}
	.M_link0031 li a p {text-align:left;}

	/* 식단  */
	.meal_menu0031 h2 { margin-right:3rem; }
	.meal_menu0031 > img{width: 5rem;}
	.meal_menu0031 .inner { margin-right:11.5rem;}
	.meal_menu0031 .btn_more { width:2rem; height:2rem; line-height:1.8rem; text-align:center; padding: 0; border-radius: 50%; }
	.meal_menu0031 .btn_more em { display: none;}

    /* 게시판 */
	.notice0031 .titTab { max-width: calc(100% - 2.5rem);}
    .notice0031 .tabWrap{ padding-top:.3rem; margin-top: .5rem; }
	.notice0031 .btn_more { width:2rem; height:2rem; line-height:1.8rem; text-align:center; padding: 0; border-radius: 50%; }
	.notice0031 .btn_more em { display: none;}

    /* 캘린더 */
    .pop_schedule0031 .btn_more { top: 0; }

}

@media (max-width: 640px) {

	/* 바로가기1 */
	.M_link0031 li a .img { border-radius:50%; width:4rem; height:4rem; line-height: 3.5rem; }
	.M_link0031 li a .img img { width:3rem; height:auto; }

}

@media (max-width: 570px) {
    /* 게시판 */
    .notice0031 .titTab li {max-width:100%;}

	/* 메인비주얼 */
	.MVisual0031 .control > a{ width:1.65rem; height:1.65rem; line-height:1.65rem; }

	/* 식단  */
	.meal_menu0031 > img{right: 0rem; bottom:-1.7rem;}
	.meal_menu0031 .inner {margin-top:.5rem;}
	.meal_menu0031 .inner ul { height:4.3rem; }
	.meal_menu0031 .inner .no_data { line-height:4.3rem; }
	.meal_menu0031 .inner {margin-right: 0; padding-bottom:1.5rem;}
	.meal_menu0031 .inner dd {display:block; width: 100%; margin-left: 0;}
}

@media (max-width: 460px) {
    /* 캘린더 */
    .pop_schedule0031 .tit_wrap h2 { max-width:100%; }
    .pop_schedule0031 .sche_table { width: 100%; border-radius:0; border: none; float: none;}
    .pop_schedule0031 .sche_table table { padding: .2rem 0;}
    .pop_schedule0031 .month { position: relative; width:100%; top: 0; right: 0; padding-left: 0; text-align: center; margin-top: 0.2rem;}
    .pop_schedule0031 .lst { width: 100%; margin-top: -3rem;}
    .pop_schedule0031 .btn_more { bottom: 3.3rem; top:auto; }


}


@media (max-width: 380px) {
    /* 갤러리 */
	.gallery0031 .list_box ul{ display:block; }
	.gallery0031 .list_box li ~ li{ margin-top:.5rem; }

	/* 바로가기1 */
	.M_link0031 li a .img { display:block; margin: 0 auto;}
	.M_link0031 li a p {display:block; max-width: 100%; height: 1.9rem; text-align:center;}
}
