/* 메인 컨테이너 */
#container { position:relative; z-index:2; width:100%; }
#container *{ scrollbar-arrow-color: #ddd; scrollbar-Track-Color: #ddd; scrollbar-base-color: #aaa; scrollbar-Face-Color: #aaa; scrollbar-3dLight-Color: #aaa; scrollbar-DarkShadow-Color: #aaa; scrollbar-Highlight-Color: #aaa; scrollbar-Shadow-Color: #aaa;}
#container ::-webkit-scrollbar { width: 5px; height: 5px; }
#container ::-webkit-scrollbar-thumb { background-color: #aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color: #ddd; border-radius:10px; }

.MC_wrap1 { position:relative; padding-top: 1.4rem;}
.MC_wrap2 { position:relative; margin-top: 2.2rem; padding-bottom: 2.4rem; } 

.MC_wrap1 .con_wrap1 { position: relative; width: 54%; height: 31.5rem; float: left;}
.MC_wrap1 .con_wrap2 { position: relative; width: 38.5%; height: 31.5rem; float: right;}
.MC_wrap2 .con_wrap { position: relative; width: 52%; float: right;}

.MC_box1 { position:relative; width: 100%; height: 21.4rem; } /* 메인비주얼 */
.MC_box1::before { content: ""; display: block; width: 300%; height: 19.5rem; background: url('/images/template/T0046/main/0046_box1_pttrn.png'); position: absolute; right: -2.45rem; top: -1.4rem; z-index: -1; border-radius: 0 0 5rem 0;} 
.MC_box2 { position:relative; width: 100%; height: 8.25rem; margin-top: 1.5rem;} /* 바로가기1 */
.MC_box3 {position:relative; width: 100%; height: 12.5rem; margin-top: .75rem;} /* 게시판 */
.MC_box4 {position:relative; width: 100%; height: 16.5rem; margin-top: 1.2rem;} /* 갤러리 */
.MC_box5 { position:relative; width: 45%; height: 14.25rem; float: left;} /* 캘린더 */
.MC_box6 { position:relative; width: 56.45%; height: 14.25rem; float: left;} /* 팝업존 */
.MC_box6::after { content: ""; display: block; width: 600%; height: 18.5rem; background: #f5f5f5; border-radius: 8rem 0 0 0; position: absolute; top: -1.85rem; left: 1.35rem; z-index: -1;} /* 팝업존 */
.MC_box7 { position:relative; width: 37%; height: 14.25rem; float: right; } /* 식단 */

@media (max-width: 1140px) {
    .MC_wrap1 .con_wrap2 { width: 41%; height: 31.5rem; float: right;}

    .MC_box1::before { right: -1.5rem; } 
}

@media (max-width: 1024px) {

    #container{ padding-top:3.5rem;}
 
}
@media (max-width: 950px) {	
    .MC_wrap2 { margin-top: 1.5rem; } 
    
    .MC_wrap1 .con_wrap1 { width: 100%; height: auto;}
    .MC_wrap1 .con_wrap2 { width: 100%; height: auto;}
    .MC_wrap2 .con_wrap { width: 100%; margin-top:2rem;}

    .MC_box3 {width: 48.5%; height: auto; float: left; margin-top:1.5rem;} /* 게시판 */
    .MC_box4 {width: 48.5%; height: auto; float: right;} /* 갤러리 */ 
    .MC_box5 { width: 100%; } /* 캘린더 */
 
}

@media (max-width: 768px) {

    .MC_box1 { height: auto; } /* 메인비주얼 */
    .MC_box1::before { height: calc(100% - .7rem); border-radius: 0;}
    .MC_box2 { height: auto;} /* 바로가기1 */
    .MC_box3 { width: 100%;} /* 게시판 */
    .MC_box4 {width: 100%; height: 14rem;} /* 갤러리 */
    .MC_box5 { height:auto; } /* 캘린더 */
    .MC_box6::after { top: -1.7rem; height:18.4rem; } /* 팝업존 */

}

@media (max-width: 560px) {
    .MC_box3 { height: auto; margin-top:.7rem;} /* 게시판 */
    .MC_box6 { width: 100%; height: auto; } /* 팝업존 */
    .MC_box6::after {height: calc(100% + 12.1rem); border-radius:0; top: 5rem; left:-50%;} /* 팝업존 */
    .MC_box7 { width: 100%; height: auto; margin-top: 1.5rem;} /* 식단 */
}
