
/* 통합검색 */
.totalSearch { position:relative; width: 11rem; height: 2rem; border-radius: 1rem; overflow: hidden; }
.totalSearch input { padding: 0 2.25rem 0 .5rem; width: 100%; height: 2rem; line-height: 2rem; font-size: 0.6rem; border: none; font-family: '돋움', Dotum; background:#ebebeb;}
.totalSearch button { position: absolute; top: 0; right: -1px; padding: 0; width: 2rem; height: 2rem; line-height:38px; color:#fff; background: #ff3f54; border: none; border-radius: 50%; font-size:.9rem; }
.totalSearch input::-webkit-input-placeholder { color: #555; }
.totalSearch input::placeholder { color: #555; }

/* gnb color */
/* gnb : default */
#gnb{ background:#fff; }/* gnb 배경색 */
#gnb .depth01 > ul > li.on > a{ color:#189671; } /* 1차메뉴 active 텍스트 색상 */
#gnb .depth01 > ul > li > a{ color:#333; }/* 1차메뉴 텍스트 색상 */
#gnb .depth01 > ul > li > a:before{ background:#189671;} /* 1차메뉴 active underline 색상*/
#gnb .depth01 > ul > li > a > span:before{background:#daf8e4; } /* 1차메뉴 active 그림자 색상 */
#gnb .depth02 > ul > li > a{ color:#111; }/* 2차메뉴 텍스트 색상 */
/* gnb : fullDown */
#nav.fullDown #gnb:before{background: #189671; height: 2px;}
#nav.fullDown .depth02 > ul > li > a:hover,
#nav.fullDown .depth02 > ul > li > a:focus,
#nav.fullDown .depth02 > ul > li.active > a{ color:#fff; background:#189671; }/* 2차메뉴 active 효과 */
/* gnb : oneDown */
#nav.oneDown #gnb:before{background: #189671; height: 2px;}
#nav.oneDown .depth02{ border:2px solid #189671;}/* 2차메뉴 border-color */
#nav.oneDown .depth02 > ul > li > a:hover,
#nav.oneDown .depth02 > ul > li > a:focus,
#nav.oneDown .depth02 > ul > li.dep.active > a{ color:#189671; font-weight:600; }/* 2차메뉴 active 텍스트 색상 */
/* gnb : oneFull */
#nav.oneFull #gnb:before{background: linear-gradient(to right, #8387d8, #00b4a8); height: 2px;}
#nav.oneFull .depth02 > ul > li > a:hover,
#nav.oneFull .depth02 > ul > li > a:focus,
#nav.oneFull .depth02 > ul > li.dep.active > a{ color:#fff; background:#189671; }/* 2차메뉴 active 배경색 */
#nav.oneFull .depth03 > ul > li > a:before{background:#189671;}/* 3차메뉴 블릿 색상 */

/* footer */
#footer { border-top:1px solid #ddd; background: #fff; }/* footer 배경, 폰트색상, border */
.footer_link li a:before{ border-left:1px solid #ccc; }/* footer link 영역 라인색상 */
.footer_link li a strong { color: #ff4052; }/* footer link 강조 폰트색상 */
#footer .copyright { color:#585858; }/* copyright 폰트색상 */
#footer .btn_top{ background:#189671; color:#fff;}/* footer 상단이동 버튼 색상 */

/* 방문자수 */
.visitant{background:#189671; }
.visitant ul li{ color:#fff;}
.visitant ul li strong { color:#fff;}
.visitant ul li + li:before{ border-left:1px solid #ccc;}

/* moblie  */
#header .mBtn.mSearch{ background: #ff4052; color:#fff; border-radius: 50%;}/* 모바일 검색 버튼 */
#header .mBtn.mNav{ background: #189671; color:#fff; border-radius: 50%;}/* 모바일 메뉴 버튼 */

/* moblie navigation  */
#mNav #mNavClose { border-radius:50%; color:#fff; background:#189671;}/* 모바일 메뉴 닫기 버튼 */
#mgnb .depth02{ background:#f7faff;}/* 2차메뉴 배경 */
#mgnb .depth02 > ul > li:before{ background:#189671;}/* 2차메뉴 블릿 색상*/
#mgnb .depth03{ border-top:2px solid #189671;}/* 3차메뉴 border 색상 */
#mgnb .depth01 > ul > li.active > a { color: #fff; background-color:#189671; }/* 1차메뉴 active */
#mgnb .depth02 > ul > li.active > a { color: #189671; }/* 2차메뉴 active */

/* moblie search  */
#mSearch .btnSearch { background: #ff4052; }
#mSearch .btnClose { background:#ff4052; border-radius: 50%; }

/* lnb */
#lnb h2{ color:#fff;background: #189671;
    background: -moz-linear-gradient(90deg, #189671 0%, #0a7c5a 100%);
    background: -webkit-linear-gradient(90deg, #189671 0%, #0a7c5a 100%);
    background: linear-gradient(90deg, #189671 0%, #0a7c5a 100%); }
/* lnb:active */
#lnb .dep01 > li > a:before{ background:#e8f8f0;}
#lnb .dep01 > li.active > a{ border-color:#189671;}
#lnb .dep02 > li > a:before{ background:#189671;}
#lnb .dep02 > li.active > a{ color:#189671; }
#lnb .dep03 { border-top:2px solid #189671;}
#lnb ul > li > a:hover,
#lnb ul > li > a:focus{color:#189671;}

/* location : snsBox */
.snsBox button.active,
.snsBox button:hover,
.snsBox button:focus{ color:#fff; border-color:#189671; background:#189671;}
