
/* btn */
.btn_more1 { position:absolute; top:0; right:0; font-weight:600;}
.btn_more1 img { vertical-align: middle; width: 2.1rem; height: 0.7rem; margin-left: 0.5rem; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.btn_more2 { position:absolute; top:-.25rem; right:0; width:2.25rem; height:2.25rem; line-height:2.25rem; text-align:center; background: #ff4052; color:#fff; border-radius: 0.5rem; font-size:1.1rem; }
.btn_more2 i { position:relative; z-index:1; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
/* btn_more : over */
.btn_more1:hover img,
.btn_more1:focus img { -webkit-transform:translateX(3px); -ms-transform:translateX(3px); transform:translateX(3px); }
.btn_more2:hover i,
.btn_more2:focus i { -webkit-transform:rotate(180deg); transform:rotate(180deg); }

/* heading*/
.heading { margin-bottom:1rem; font-size:1.1rem; font-weight:700; color:#000; word-break:keep-all; white-space:nowrap; overflow:hidden; }

/* 메인비주얼 */
.MVisual0049 { position: relative; height: 100%; overflow:hidden;}
.MVisual0049 .slider{ position:relative; z-index: 0;}
.MVisual0049 .item{overflow:hidden; line-height:0;}
.MVisual0049 .item img{position:relative; width:auto; height:100%; left:50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%);}
.MVisual0049 .control{position:absolute; left:50%; margin-left:-30rem; bottom:2rem; z-index:1;}
.MVisual0049 .control > a{display:inline-block; width:2rem; height:2rem; line-height:2rem;  background:rgb(17, 26, 50, 0.5); color:#fff; text-align: center; border-radius:50%; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.MVisual0049 .control > a.play{display:none;}
.MVisual0049 .control > a:hover,
.MVisual0049 .control > a:focus{ background:rgb(17, 26, 50, 0.9);}


/* 바로가기1 */
.M_link0049 { position:relative; height:100%; }
.M_link0049 ul { display:table; table-layout:fixed; width:100%; padding-top: 1.25rem; }
.M_link0049 li { position:relative; display:table-cell; vertical-align:top; z-index:1; }
.M_link0049 li + li::before{content: "\e949"; font-family: 'xeicon'; position: absolute; left: -0.9rem; top: 2rem; font-size: 2rem; color: #bbb;} 
.M_link0049 li a { position:relative; display:block; width:100%; word-break:keep-all; text-align:center; }
.M_link0049 li a .ico { position:relative; display:block; width:5.75rem; height:5.75rem; border-radius:50%; box-shadow:0 0 0.5rem rgba(0,0,0,0.2); border: 3px solid transparent; margin:0 auto; background:#fff; }
.M_link0049 li a .ico img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); width: 3rem; height: 3rem;}
.M_link0049 li a span { position:relative; display:block; width:100%; max-height:2.4rem; text-align:center; margin-top:0.5rem; overflow:hidden; line-height:1.2rem; font-weight:700; color:#222; font-size:.9rem; padding: 0 1rem; word-break:break-all; }
/* 바로가기1 : over */
.M_link0049 li a:hover .ico,
.M_link0049 li a:focus .ico { border-color: #189671; }
.M_link0049 li a:hover .ico img,
.M_link0049 li a:focus .ico img { transform: translate(-50%, -50%) rotateY(180deg); -webkit-transform: translate(-50%, -50%) rotateY(180deg); }
.M_link0049 li a:hover span,
.M_link0049 li a:focus span { color:#189671; }
.M_link0049 li a .ico,
.M_link0049 li a .ico img,
.M_link0049 li a span{transition: all 0.2s; -webkit-transition: all 0.2s;}

/* 게시판 */
.notice0049 { position:relative; height:100%;}
.notice0049 .titTab {position:relative;margin-right: 5rem;font-size: 0; margin-bottom: 1.5rem;}  
.notice0049 .titTab li {position:relative;display:inline-block;max-width: calc((100% - 2.6rem) / 3);vertical-align:top;}
.notice0049 .titTab li + li {margin-left: 1.3rem;}
.notice0049 .titTab li a { position:relative; display:block; color:#000; font-size: 1rem; padding-bottom: 0.5rem;}
.notice0049 .titTab li a::before{width: 100%; height: 3px; background: #189671; border-radius: 0.1rem; position: absolute; left: 0; bottom: 0; opacity: 0; content: '';}
.notice0049 .titTab li a span{position: relative; display:block; overflow:hidden; white-space:nowrap;}
.notice0049 .list_box { display:none; width:100%; max-height:calc(100% - 3.5rem);}
.notice0049 .list_box .topList{ position:relative; display:block; padding: 1rem 0 1rem 7.5rem;}
.notice0049 .list_box dt{ position:relative; font-size:1rem; color: #222; font-weight: 600; margin-bottom: 0.5rem; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice0049 .list_box .new dt{padding: 0.3rem 0 0.3rem 1.6rem;}
.notice0049 .list_box .new dt::before{content: ''; position: absolute; top: 0.2rem; width: 1.55rem; height: 1.55rem; line-height: 1.55rem; border-radius: 50%; background: #00b4a8 url(/images/template/T0049/main/0049_notice_new.png) no-repeat center center; margin-left: -1.6rem;}
.notice0049 .list_box dd > p { overflow:hidden; white-space: nowrap; text-overflow: ellipsis; color: #444;}
.notice0049 .list_box dd .date{ position: absolute; top: 0; left: 0; width: 5.5rem; height: 5.5rem; background: #189671; border-radius: 1rem; line-height: 1.2; color: #fff; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; flex-direction: column;}
.notice0049 .list_box dd .date em{display: block; font-size: 1.25rem; font-weight: 700;}
.notice0049 .list_box ul { overflow:hidden; border-top: 2px dotted #000; padding-top: 1rem; margin-top: 1.5rem;}
.notice0049 .list_box li.no_data { text-align:center; line-height: 7rem;}
.notice0049 .list_box li:nth-of-type(n+5){display: none;}
.notice0049 .list_box li a { position:relative; display:block; line-height: 2rem; padding:0 4.5rem 0 1rem; font-size: 0.9rem; font-weight: 600; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color: #222;}
.notice0049 .list_box li a:before { content:""; display:block; width:0.4rem; height: 0.4rem; border-radius:50%; background:#189671; position:absolute; top: 0.8rem; left:0;}
.notice0049 .list_box li a span { position:absolute; right:0; top:0; color:#888; font-size: 0.75rem; font-weight: 400;}
/* 게시판 : active */
.notice0049 .titTab li a:hover,
.notice0049 .titTab li a:focus,
.notice0049 .titTab li a.current{font-weight: 700; color: #189671;}
.notice0049 .titTab li a.current::before{opacity: 1;}
.notice0049 .list_box.on{display: block;}
.notice0049 .list_box .topList:hover dt,
.notice0049 .list_box .topList:focus dt{color: #189671;}
.notice0049 .list_box li a:hover,
.notice0049 .list_box li a:focus,
.notice0049 .list_box li a:hover span,
.notice0049 .list_box li a:focus span{text-decoration: underline;}
.notice0049 .titTab li a, 
.notice0049 .list_box li a,
.notice0049 .list_box dt,
.notice0049 .list_box dd .date .ico{transition: all 0.2s; -webkit-transition: all 0.2s;}

/* 캘린더 */
.pop_schedule0049 { position:relative; height:calc(100% + 2.5rem); }
.pop_schedule0049 .sche_wrap { position:relative; height:100%; }
.pop_schedule0049 .sche_wrap .heading { position:relative; width:calc(100% - 4rem); color: #222; }
.pop_schedule0049 .sche_wrap .lst { max-height:20.75rem; overflow-y:auto; }
.pop_schedule0049 .sche_wrap .lst ul > li {margin-bottom: 0.8rem; }
.pop_schedule0049 .sche_wrap .lst ul > li > a { position:relative; display: flex; align-items: center;}
.pop_schedule0049 .sche_wrap .lst ul > li .date { display:flex; flex-wrap: wrap; align-items: center; justify-content: center; flex-direction: column; width:4.55rem; height:4.55rem; border:2px dashed #ff4052; border-radius:0.75rem; background: #fff4f5; text-align: center; font-weight: 600; }
.pop_schedule0049 .sche_wrap .lst ul > li.no_data{text-align: center; line-height: 18rem;}
.pop_schedule0049 .sche_wrap .lst ul > li.no_data .date{display: none;}
.pop_schedule0049 .sche_wrap .lst ul > li .date strong { display:block; font-weight:700; font-size:1rem; color: #ff4052; }
.pop_schedule0049 .sche_wrap .lst ul > li p { width: calc(100% - 4.55rem); padding-left: 1rem; max-height: 2.3rem; font-weight: 600; overflow: hidden; color: #222;}
/* 캘린더 : active */
.pop_schedule0049 .sche_wrap .lst ul > li a:hover .date{background: #ffe8ea;}
.pop_schedule0049 .sche_wrap .lst ul > li a:hover p{color: #ff4052;}
.pop_schedule0049 .sche_wrap .lst ul > li .date,
.pop_schedule0049 .sche_wrap .lst ul > li p{transition: all 0.2s; -webkit-transition: all 0.2s;}

/* 식단 */
.meal_menu0049 { position:relative; height:100%; }
.meal_menu0049 h2 { position:absolute; top: calc(50% - 1.75rem); left: 0; font-size: 1rem; font-weight: 600; width:12.75rem; height:3.5rem; line-height:3.5rem; padding:0 1rem 0 4.5rem; background:#ff4052; border-radius:1.75rem; color:#fff; text-align:center; z-index: 2;}
.meal_menu0049 h2 > span { position:relative; display:block; white-space:nowrap; overflow:hidden; }
.meal_menu0049 .inner { position:relative; margin-left: 11rem; height:5rem; background: #f5f5f5; border-radius: 1rem; padding-top: 1.3rem;}
.meal_menu0049 .inner ul{height: 2.4rem; overflow-y: auto; margin-right: 4rem;}
.meal_menu0049 .inner li + li { margin-top:1.2rem; }
.meal_menu0049 .inner .no_data { text-align:center; line-height: 2.4rem;}
.meal_menu0049 .inner dl { position:relative; overflow:hidden; padding-left:3.5rem; }
.meal_menu0049 .inner dt { position:relative; display:inline-block; width:8.5rem; font-size:.9rem; font-weight:700; color:#000; vertical-align: top; line-height: 2.4rem;}
.meal_menu0049 .inner dt:before { content:"\e94a"; position:absolute; top:-0.35rem; right:0; font-size:2rem; font-family:"xeicon"; font-weight: 400; color:#bebfbf; line-height: 3rem; }
.meal_menu0049 .inner dt span { color:#ff4052; font-weight:700; }
.meal_menu0049 .inner dt em { font-weight:600; }
.meal_menu0049 .inner dd { display:inline-block;  width:calc(100% - 9rem); padding-left:1.25rem; color:#222; font-size:.8rem; word-break:keep-all; }
.meal_menu0049 .img { position:absolute; top:calc(50% - 2.1rem); left:0; width:4.25rem; height:4.25rem; border-radius:50%; background:#fff; box-shadow:0 0 .2rem rgba(0,0,0,0.4); z-index: 3;}
.meal_menu0049 .img > img { position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%); max-width:80%; }
.meal_menu0049 .btn_more2 { top: 1.3rem; right: 1.5rem; }

/* 갤러리 */
.gallery0049 { position:relative; }
.gallery0049 .heading { width:calc(100% - 6rem); color: #222; }
.gallery0049 .list_box ul { margin:-.75rem; }
.gallery0049 .list_box ul:after { content:""; display:block; clear:both; }
.gallery0049 .list_box li { display:none; width:50%; padding:.75rem; float:left; }
.gallery0049 .list_box li:nth-of-type(-n + 2) { display:block; }
.gallery0049 .list_box a { position:relative; display:block; }
.gallery0049 .list_box a .img { position:relative; width:100%; height:12.25rem; overflow:hidden; background-color:rgba(0,0,0,.1); border-radius:1.5rem;}
.gallery0049 .list_box a .img img { position:absolute; top:50%; left:50%; width:100%; height:auto; -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%);}
.gallery0049 .list_box a .txt {display: block; width: calc(100% - 4.5rem); margin: 0 auto; height:3.25rem; padding:0 1rem; margin-top: 1rem; line-height:3.25rem; background:#ecf2f0 right; border-radius: 1.5rem; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:.9rem; font-weight:600; }
.gallery0049 .list_box li.no_data { width:100%; line-height:15rem; text-align:center; }
/* 갤러리 : over */
.gallery0049 .list_box a:hover .img,
.gallery0049 .list_box a:focus .img { border: 3px solid #189671; }
.gallery0049 .list_box a:hover .img img,
.gallery0049 .list_box a:focus .img img { -webkit-transform:translate(-50%, -50%) scale(1.1); -ms-transform:translate(-50%, -50%) scale(1.1); transform:translate(-50%, -50%) scale(1.1); }	
.gallery0049 .list_box a:hover .txt,
.gallery0049 .list_box a:focus .txt { background:#189671 url('/images/template/T0049/main/0049_gallery_txt.png') no-repeat right center / contain; color:#fff; box-shadow: 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.1);}
.gallery0049 .list_box a .img,
.gallery0049 .list_box a .img img,
.gallery0049 .list_box a .txt{transition: all 0.1s; -webkit-transition: all 0.1s;} 

/* 팝업존 */
.pop0049 { position:relative; width:100%; height:100%; }
.pop0049 .control { position:relative; text-align:right; padding: 1.5rem 0;}
.pop0049 .control:before { content:""; position:absolute; bottom:0; right:-1.5rem; width:100%; height:7.25rem; background:#3d6ae9; border-radius:1.5rem; }
.pop0049 .control .page { position:relative; display:inline-block; vertical-align:middle; color:#fff; font-size:.9rem; margin-right:.75rem; }
.pop0049 .control .page > strong { font-size:1.25rem; font-weight:800; }
.pop0049 .control .page > span { position:relative; padding-left:1.1rem; }
.pop0049 .control .page > span:before { content:""; position:absolute; top:50%; left:.5rem; width:1px; height:.5rem; background:#fff; -webkit-transform:translateY(-50%) rotate(25deg); -ms-transform:translateY(-50%) rotate(25deg); transform:translateY(-50%) rotate(25deg); }
.pop0049 .control a { position:relative; display:inline-block; width:2.25rem; height:2.25rem; background:#8ba6f2; border-radius:50%; text-align:center; line-height:2.25rem; color:#fff; font-size:1.25rem; vertical-align:middle; }
.pop0049 .control .play,
.pop0049 .control .stop { margin:0 .35rem; background:#557cec; }
.pop0049 .control .play { display:none; }
.pop0049 .control a img { display:block; }
.pop0049 .control a:hover{ background:#193fb1 !important;}
.pop0049 .pop_img { position:relative; width:100%; height:11.25rem; z-index:1; border-radius:1.5rem; overflow:hidden; background:#f1f1f1; }
.pop0049 .pop_img div { height:100%; }
.pop0049 .pop_img .item { height:100%; }
.pop0049 .pop_img .item a { position:relative; display:block; height:100%; overflow:hidden; background-color:#eee; text-align:center; }
.pop0049 .pop_img .item a img {position:relative; max-width:100%; width:auto; height:100%;}

/* 배너존 */
.banner_zone {line-height: 1; border-top: 1px solid #d1d8e4; background:#fff; }
.banner_zone .container {position: relative; height: 4rem; overflow: hidden; }
.banner_zone h2 {float:left; margin-top: 1.5rem; width: 4rem; font-size: 0.85rem; font-weight: 400; color: #191919; }
.banner_zone .btn {float: left; margin-top: 1.3rem; overflow: hidden; border-left:1px solid #ccc; }
.banner_zone .btn a {float: left; width: 1.4rem; height: 1.4rem; line-height:1.4rem; text-align:center; overflow: hidden; border:1px solid #ccc; border-left:0; }
.banner_zone .btn a.play{display:none; }
.banner_zone .bnWrap { width: calc(100% - 10rem); float:left; padding-top: 0.75rem; padding-left:1.5rem; overflow: hidden; }
.banner_zone .bnWrap a {display: block; height: 2.5rem; line-height: 2.3rem; text-align: center; margin:0 5px; border: 1px solid #c8d1db; overflow: hidden; }
.banner_zone .bnWrap a img {max-width: 100%; max-height: 100%; vertical-align: middle; }

/* responsive */
@media (max-width:1240px) { 
	/* heading*/
	.heading{font-size:1rem; }
	
	/* 메인비주얼 */
	.MVisual0049 .item img { width:150%; height:auto; }
	.MVisual0049 .control{ left:2%; margin-left: 0; }

	/* 바로가기 */
	.M_link0049 li + li::before{font-size: 1.5rem;}
	.M_link0049 li a .ico{width: 4.5rem; height: 4.5rem;}
	.M_link0049 li a .ico img{width: 2.25rem; height: 2.25rem;}

	/* 갤러리 */
	.gallery0049 .list_box a .txt{width: 100%;}
	
	/* 팝업존 */
	.pop0049 .control {text-align:center; }
	.pop0049 .control:before { left:0; } 
}

@media (max-width: 840px) {
	/* 바로가기1 */
	.M_link0049 ul{display: flex; flex-wrap: wrap; padding: 1rem 0 0.5rem;}
	.M_link0049 li{display: block; width: 33.333%; margin-bottom: 0.5rem;}
	.M_link0049 li:nth-of-type(3n+1)::before{display: none;}

	/* 스케줄 */
	.pop_schedule0049 .sche_wrap .lst{max-height: 10rem;}
	.pop_schedule0049 .sche_wrap .lst ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
	.pop_schedule0049 .sche_wrap .lst ul li{width: 49%;}
	.pop_schedule0049 .sche_wrap .lst ul > li.no_data{width: 100%; line-height: 8rem;}

	/* 식단 */
	.meal_menu0049 h2{position: relative; top: auto; height: 2.5rem; line-height: 2.5rem;}
	.meal_menu0049 .img{width: 3.75rem; height: 3.75rem; top: -0.7rem;}
	.meal_menu0049 .inner{width: 100%; height: auto; margin-left: 0; margin-top: -1rem; padding: 3.25rem 1rem 1rem 1rem;}
	.meal_menu0049 .inner dl{padding-left: 0;}
	.meal_menu0049 .inner ul{margin-right: 0;}
	.meal_menu0049 .btn_more2{top: 2.5rem; right: 1rem;}

	/* 팝업존 */
	.pop0049 .control{padding: 0.75rem 0;}
	.pop0049 .pop_img{ height:auto; max-height: 15rem;}

	/* 배너존 */
	.banner_zone h2{display:none;}
	.banner_zone .bnWrap{width:calc(100% - 6rem); padding-left:0.75rem;}
}


@media (max-width:520px) { 
	/* 메인비주얼 */
	.MVisual0049 .control{bottom: 0.5rem;}
	.MVisual0049 .control a{width: 1.65rem; height: 1.65rem; line-height: 1.65rem;}

	/* 바로가기 */
	.M_link0049 li a span{font-size: 0.85rem;}

	/* 게시판 */
	.notice0049 .titTab{margin-bottom: 0.5rem;}
	.notice0049 .titTab li + li{margin-left: 0;}
	.notice0049 .titTab li { max-width:100%; font-size:.9rem; margin-right: 1rem; margin-bottom: 0.25rem; }
	.notice0049 .titTab li a{padding-bottom: 0.25rem;}
	.notice0049 .list_box dd .date{width: 4.5rem; height: 4.5rem;}
	.notice0049 .list_box dd .date em{font-size: 1rem;}
	.notice0049 .list_box .topList{padding: 0.75rem 0 0.75rem 5.5rem;}
	.notice0049 .list_box ul{padding-top: 0.75rem; margin-top: 1rem;}

	/* 행사일정 */
	.pop_schedule0049 .sche_wrap .lst ul li{width: 100%;}

	/* 식단 */
	.meal_menu0049 .inner dd{width: 100%; padding-left: 0; margin-top: 0.25rem;}
	.meal_menu0049 .inner ul{height: 3.8rem;}
	
	/* 갤러리 */
	.gallery0049 .list_box li{width: 100%;}
	.gallery0049 .list_box a .txt{height: 2.75rem; line-height: 2.75rem;}
	.gallery0049 .list_box a .img{height: 11rem;}

	/* 팝업존 */
	.pop0049 .control a{width: 2rem; height: 2rem; line-height: 2rem;}
}

@media (max-width:380px) { 
	/* 바로가기 */
	.M_link0049 li + li::before{display: none;}
	.M_link0049 li a .ico{width: 3.75rem; height: 3.75rem;}
	.M_link0049 li a .ico img{width: 2rem; height: 2rem;}
	.M_link0049 li a span{font-size: 0.8rem; padding: 0 0.5rem;}

	/* 게시판 */
	.notice0049 .titTab li a{font-size: 0.95rem;}
 }