/* btn_more */
.btn_more { position: absolute; top: 0; right: 9px; font-size:1.2rem; color:#333; }
/** btn_more active **/ 
.btn_more:hover i,
.btn_more:focus i { transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); }
.btn_more,
.btn_more i { -webkit-transition:0.2s; transition:0.2s; }

/* 메인비주얼 */
.MVisual0056 { position:relative; height:100%; }
.MVisual0056 .slider{ position:relative; z-index: 0; background: rgba(0, 0, 0, 0.2); border-radius: 2.5rem; overflow: hidden;}
.MVisual0056 .item{overflow:hidden; line-height:0;  }
.MVisual0056 .item img{position:relative; width:auto; height:100%; left:50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%);}
.MVisual0056 .control { position:absolute; right:1.5rem; bottom:1rem; z-index:1; }
.MVisual0056 .control > a { display:inline-block; width:2rem; height:2rem; line-height:2rem; background:rgba(0, 0, 0, 0.3); color:#fff; text-align:center; border-radius:50%; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.MVisual0056 .control > a.play { display:none; }
/** 메인비주얼 active **/
.MVisual0056 .control > a:hover,
.MVisual0056 .control > a:focus { background:rgba(0,0,0,0.5); }

/* 바로가기 */
.M_link0056 { position:relative; } 
.M_link0056 ul { display: flex; flex-wrap: wrap; width: calc(100% + 2rem); margin-left: -1rem; height:100%; }
.M_link0056 ul li { width: 50%; }
.M_link0056 ul li:nth-child(n + 3) {margin-top: 1.8rem;}
.M_link0056 li a { display:block; position:relative; width:100%; height:100%; word-break:keep-all; text-align:center; } 
.M_link0056 li a .img { position:relative; display:block; width:5.2rem; height:5.2rem; line-height: 7rem; background:#fff; border-radius:1.5rem;  margin:0 auto; border: 2px solid #ece9e9; text-align: center;}
.M_link0056 li a .img::before { opacity: 0; overflow: hidden; position: absolute; top: -0.45rem; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); width: 0.9rem; height: 0.9rem; line-height: 0.9rem; border-radius: 50%; background: #4739b2; color: #fff; font-family: 'xeicon'; font-size: 0.9rem; text-align: center; content: "\e929"; } 
.M_link0056 li a .img img { width: 2.85rem; height: 2.55rem; }
.M_link0056 li a p {max-height:2rem; font-size:0.9rem; color: #222; font-weight:600; line-height:1rem; overflow:hidden; -webkit-transition:color 0.3s; transition:color 0.3s; margin-top: 1rem; word-break:break-all;} 
/** 바로가기 active **/ 
.M_link0056 li a .img,
.M_link0056 li a .img::before,
.M_link0056 li a p {-webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.M_link0056 li a:hover .img,
.M_link0056 li a:focus .img { border-color: #4739b2; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
.M_link0056 li a:hover .img::before,
.M_link0056 li a:focus .img::before { opacity: 1; overflow: visible; }
.M_link0056 li a:hover p,
.M_link0056 li a:focus p {color: #4739b2;}
 
/* 게시판 */
.notice0056 { position:relative; }    
.notice0056 .titTab { margin-right: 2rem; font-size:0; overflow: hidden; } 
.notice0056 .titTab ul li {position: relative; display:inline-block; max-width:33%; padding-right:2.7rem; }
.notice0056 .titTab ul li + li:before { content:""; position:absolute; left:-1.35rem; top:50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); width:1px; height:0.8rem; background:#ccc; }
.notice0056 .titTab ul li a { display:block; font-size:1.1rem; color:#777; font-weight:500; overflow:hidden; white-space: nowrap; }
.notice0056 .titTab ul li a span::before { position: absolute; width: 0; height: 0.3rem; bottom: 0; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); border-radius: 2rem; z-index: 1; content: ""; }
.notice0056 .titTab ul li a span { position: relative; display: block; line-height: 3.7rem; }
.notice0056 .tabWrap { margin-top: -3px;}
.notice0056 .list_box { display:none; width:100%; border-top: 1px solid #e5e5e5; padding-top: 0.5rem; background: #fff; }
.notice0056 .list_box ul { height:12.5rem; overflow:hidden; }
.notice0056 .list_box li { position: relative; display:none; }
.notice0056 .list_box li:nth-of-type(-n + 6) { display:block; }
.notice0056 .list_box li ~ li { border-top: 1px dotted #999; }
.notice0056 .list_box li.new p::before { position: absolute; top: 0.65rem; left: 0; width: 1.15rem; height: 1.15rem; line-height: 1.15rem; border-radius: 0.2rem; text-align: center; color: #fff; font-size: 0.6rem; content: "N"; }
.notice005601 .list_box li.new p::before { background: #4739b2; }
.notice005602 .list_box li.new p::before { background: #3ec1c1; }
.notice0056 .list_box li.new p { padding-left: 1.6rem; }
.notice0056 .list_box li a { position:relative; display:block; line-height:2.5rem; }
.notice0056 .list_box li p { width:calc(100% - 4.5rem); overflow:hidden; font-size:.85rem; color:#444; font-weight: 600; text-overflow:ellipsis; white-space:nowrap; }
.notice0056 .list_box li span { position:absolute; right:0; top:0; font-size:.7rem; color:#777; }
.notice0056 .list_box li span i { margin-right: 0.2rem; }
.notice0056 .btn_more { top: 1rem; }
/** 게시판 : 데이터 없음 **/
.notice0056 .list_box li.no_data { line-height:12.5rem; text-align:center; font-weight:600; }
/** 게시판 :action **/  
.notice0056 .list_box.on { display:block; }
.notice005601 .titTab ul li a:hover,
.notice005601 .titTab ul li a:focus,
.notice005601 .titTab ul li a.current { color: #4739b2; font-weight: 700; }
.notice005602 .titTab ul li a:hover,
.notice005602 .titTab ul li a:focus,
.notice005602 .titTab ul li a.current { color: #3ec1c1; font-weight: 700; }
.notice0056 .titTab ul li a.current span::before { width: 100%; }
.notice005601 .titTab ul li a.current span::before { background: #4739b2; }
.notice005602 .titTab ul li a.current span::before { background: #3ec1c1; }
.notice0056 .list_box li a:hover,
.notice0056 .list_box li a:focus { text-decoration: underline;}
.notice0056 a  { -webkit-transition:all .15s; transition:all .15s; } 

/* 식단 */
.meal_menu0056 { position:relative; height:100%;}
.meal_menu0056 h2 { margin-right: 2rem; font-weight:600; font-size:1.1rem; color: #222; overflow:hidden; white-space: nowrap;} 
.meal_menu0056 .inner {position:relative; height: calc(100% - 2.6rem); border:2px solid #233680; background: #fff; padding: 2rem 1.4rem; border-radius:1.5rem; margin-top: 1.1rem; box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);} 
.meal_menu0056 .inner ul { overflow:hidden; overflow-y:auto; height: 5.7rem; margin-right: 5.5rem; position: relative; z-index: 1;} 
.meal_menu0056 .inner li + li { margin-top:1.2rem; }
.meal_menu0056 .inner .no_data {line-height:5.7rem; font-weight:600; text-align:center;}
.meal_menu0056 .inner dl { position:relative; }
.meal_menu0056 .inner dl dt { display: inline-block; padding: 0 1.9rem; background:#eceaf7; text-align:center; font-size:0.9rem; border-radius: 2rem; line-height: 2.25rem; font-weight: 700; }
.meal_menu0056 .inner dl dt strong { display:inline-block; color:#4739b2; font-size:0.95rem; vertical-align:middle; overflow:hidden; }
.meal_menu0056 .inner dl dt em { display: inline-block; vertical-align: middle; color:#333; font-size: 0.85rem; }
.meal_menu0056 .inner dl dd { margin-top: 0.8rem; font-size: 0.8rem; font-weight: 500; line-height: 1.8; word-break: keep-all; } 
.meal_menu0056 img { position:absolute; bottom:0; right:-1.6rem; width: 8.2rem; height: 10.4rem;}

/* 행사일정 */
.pop_schedule0056 { position:relative; height:100%; }   
.pop_schedule0056 h2 { margin-right: 2rem; font-weight:600; font-size:1.1rem; overflow:hidden; white-space: nowrap;} 
.pop_schedule0056 .sche_wrap { display:flex; height: calc(100% - 2.6rem); background:url('/images/template/T0056/main/0056_ptrn02.png'); border-radius:1.5rem; align-items:center; padding:1.3rem 1.75rem; margin-top: 1.1rem; }
.pop_schedule0056 .month { width:5.9rem; text-align:center; }
.pop_schedule0056 .month a {display:inline-block; width:2rem; height: 2rem; line-height:2rem; background: #2f9595; color: #fff; border-radius: 0.5rem; font-size:1.2rem; vertical-align:bottom; transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg);}
.pop_schedule0056 .month a ~ a { margin-left: 1rem; }
.pop_schedule0056 .month a i { transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); } 
.pop_schedule0056 .month .date { display: flex; justify-content: center; align-items: center; border-radius: 1.5rem; width: 5rem; height: 5rem; background: #fff; margin: 0 auto 0.35rem; overflow: hidden;}
.pop_schedule0056 .month .date strong { display: block; font-size: 0.8rem; color: #222; font-weight:600; line-height: 1.2; }
.pop_schedule0056 .month .date em { display:block; color:#3ec1c1; font-size:1.75rem; font-weight:700; }
.pop_schedule0056 .lst { position:relative; width:calc(100% - 5.9rem); padding-left: 1.35rem; }
.pop_schedule0056 .lst ul { height: 8.65rem; overflow-y:auto; } 
.pop_schedule0056 .lst ul li ~ li { margin-top: 0.2rem; }
.pop_schedule0056 .lst ul li a { position:relative; display:block; line-height:2rem; padding-left:2.4rem; font-weight:600; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.pop_schedule0056 .lst ul li a span { position:absolute; left:0; top:0; width:2rem; height: 2rem; line-height: 2rem; text-align:center; color:#fff; background: #3ec1c1; border-radius: 50%; font-size: 0.8rem; font-weight: 500; z-index: 0; }
.pop_schedule0056 .lst .no_data { width: 100%; line-height:8.65rem; font-weight:600; text-align:center; letter-spacing:-2px; }  
.pop_schedule0056 img { position:absolute; bottom:0.5rem; right:0.5rem; }
/** 행사일정 :action **/  
.pop_schedule0056 .month a:hover,
.pop_schedule0056 .month a:focus { background: #ffb000; color: #fff; }
.pop_schedule0056 .lst ul li a:hover,
.pop_schedule0056 .lst ul li a:focus { text-decoration: underline; }
.pop_schedule0056 a  { -webkit-transition:all .15s; transition:all .15s; } 

/* 팝업존 */
.pop0056 { position:relative; }
.pop0056 .tit_wrap { position:relative; width:100%; z-index:1; } 
.pop0056 h2 { margin:0 7rem 1.1rem 0; font-weight:600; font-size:1.1rem; white-space: nowrap; overflow:hidden; }
.pop0056 .control { position:absolute; top:-6px; right:0; line-height:2rem; font-size:0;}   
.pop0056 .page {display:inline-block; font-size:0.75rem; color: #222; vertical-align:middle; font-family: 'NotoSans'; margin-right: 0.4rem; }
.pop0056 .page strong { font-weight:600; color: #3ec1c1; font-size: 0.9rem; }
.pop0056 .control a { position:relative; display:inline-block; width:1.6rem; height:1.6rem; line-height: 1.6rem; border-radius: 0.5rem; vertical-align:middle; text-align:center; font-size:1.2rem; -webkit-transition:all .15s; transition:all .15s;}  
.pop0056 .control .play { display:none; }
.pop0056 .control .play,
.pop0056 .control .stop { background: #e3f6f6; }
.pop0056 .pop_img { position:relative; height:11.25rem; overflow: hidden; background:#dbdbdb; margin:0 auto; border-radius:1.5rem; box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1); }
.pop0056 .pop_img div,
.pop0056 .pop_img .item {height:100%;}
.pop0056 .pop_img .item a { display: block; height:100%; line-height:0; text-align:center; overflow:hidden;}
.pop0056 .pop_img .item img {position:relative; max-width:100%; width:auto; height:100%;}
/** 팝업존 :action **/ 
.pop0056 a { -webkit-transition:all .15s; transition:all .15s; } 

 
/* 갤러리 */
.gallery0056 { position:relative; height:100%; }
.gallery0056 h2 { margin-right: 7rem; font-weight:600; font-size:1.1rem; overflow:hidden; white-space: nowrap;} 
.gallery0056 ul { position:relative; display: flex; margin: 1.1rem -0.7rem 0;}
.gallery0056 ul li { width:25%; height:14.35rem; padding:0 0.7rem;  }
.gallery0056 ul li:nth-child(n+5) { display:none; }
.gallery0056 ul li a { position:relative; display:block; height:100%; background: #fff; border-radius: 1.5rem; text-align: center; box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1); }
.gallery0056 ul li a .img { position:relative; height:9.55rem; border-radius: 1.5rem; overflow:hidden; box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1); background:rgba(0, 0, 0, 0.2);}
.gallery0056 ul li a .img img { position:absolute; top:50%; left:50%; width:100%; height:auto; -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%); -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.gallery0056 ul li a p { font-weight:600; text-overflow:ellipsis; overflow:hidden; white-space: nowrap; z-index:2; -webkit-transition:0.2s; transition:0.2s; padding: 1rem 0 1.2rem; font-size: 0.85rem; } 
.gallery0056 ul li a p .date { display: block; margin-top: 0.5rem; font-size: 0.75rem; color: #777; }
.gallery0056 .list_box li.no_data{ width:100%; height:14.4rem; display:flex; align-items:center; justify-content:center; padding:2rem 0; font-size:.9rem; background:rgba(0, 0, 0, .1); border-radius:1.5rem; margin:0 0.7rem;}  
.gallery0056 .btn_more { top: -5px; }
.gallery0056 .btn_more em { font-size: 0.75rem; color: #444; font-weight: 600; margin-right: 0.5rem; vertical-align: middle; }
.gallery0056 .btn_more i { width: 1.95rem; height: 1.95rem; line-height: 1.95rem; border-radius: 0.5rem; background: #fff; text-align: center; vertical-align: middle; }
/** 갤러리 active **/ 
.gallery0056 .list_box a:hover .img img,
.gallery0056 .list_box a:focus .img img { -webkit-transform:translate(-50%, -50%) scale(1.1); transform:translate(-50%, -50%) scale(1.1); }

/* 배너존 */
.banner_zone {line-height: 1; border-top: 1px solid #dbdbdd; background:#fff; }
.banner_zone .container {position: relative; height: 4rem; overflow: hidden;}
.banner_zone h2 {float:left; margin-top: 1.5rem; width: 4rem; font-size: 0.85rem; font-weight: 400; color: #191919;}
.banner_zone .btn {float: left; margin-top: 1.3rem; overflow: hidden; border-left:1px solid #ccc;}
.banner_zone .btn a {float: left; width: 1.4rem; height: 1.4rem; line-height:1.4rem; text-align:center; overflow: hidden; border:1px solid #ccc; border-left:0;}
.banner_zone .btn a.play{display:none;}
.banner_zone .bnWrap { width: calc(100% - 10rem); float:left; padding-top: 0.75rem; padding-left:1.5rem; overflow: hidden;}
.banner_zone .bnWrap a {display: block; height: 2.5rem; line-height: 2.3rem; text-align: center; margin:0 5px; border: 1px solid #c8d1db; overflow: hidden;}
.banner_zone .bnWrap a img {max-width: 100%; max-height: 100%; vertical-align: middle;} 
/** 배너존 : active **/
.banner_zone .btn a:hover,
.banner_zone .btn a:focus{background:#f1f1f1;}


@media (max-width: 1240px) {
    /* 바로가기 */
    .M_link0056 li a p {padding: 0 .5rem;}
    
	/* 게시판 */
	.notice0056 .titTab ul li { padding-right: 1.5rem;}
	.notice0056 .titTab ul li + li:before { left: -0.75rem;}

	/* 식단 */
	.meal_menu0056 .inner { padding: 1.2rem; }
	.meal_menu0056 .inner ul { height: 8.7rem; margin-right: 3.5rem; }
	.meal_menu0056 img { width: 6rem; height: auto; right: -1.3rem; }
	.meal_menu0056 .inner .no_data { line-height: 8.7rem;}
	
	/* 캘린더 */
	.pop_schedule0056 .sche_wrap { padding: 1.2rem; flex-direction: column; }
	.pop_schedule0056 .month { position: relative; width: 100%; }
	.pop_schedule0056 .month .date { width: 100%; height: auto; display: block; text-align: center; font-size: 1rem; padding: 0.5rem 0; margin: 0 auto 0.5rem; }
	.pop_schedule0056 .month .date em { display: inline-block; font-size: 1rem; margin-left: 0.3rem; }
	.pop_schedule0056 .month a { position: absolute; top: 2px; }
	.pop_schedule0056 .month a.prev { left: 0; }
	.pop_schedule0056 .month a.next { right: 0; }
	.pop_schedule0056 .lst { padding-left: 0; width: 100%; }
	.pop_schedule0056 .lst ul { height: 6.5rem; }
	.pop_schedule0056 .lst .no_data {line-height:6.5rem; }
}

@media (max-width:1100px){
	/* 바로가기 */
	.M_link0056 ul { display: table; table-layout: fixed; }
	.M_link0056 ul li { display: table-cell; width: auto; float: none; }

	/* 갤러리 */
	.gallery0056 ul li { width: 33.333%; }
	.gallery0056 ul li:nth-child(n+4) { display:none; }

	/* 식단 */
    .meal_menu0056 .inner dl dt {padding: 0 1.5rem;}
    .meal_menu0056 img {right: -.6rem;}
}

@media (max-width:960px){
    /* 게시판 */
	.notice0056 .titTab ul li a span { line-height: 3rem; }
	.notice0056 .btn_more { top: 0.65rem; }

	/* 팝업존 */
    .pop0056 .pop_img{ height:auto; }
    .pop0056 .pop_img .item img { top:auto; left:auto; max-height:15rem;}

	/* 식단 */
    .meal_menu0056 .inner dl dt {padding: 0 1.9rem;}
}

@media (max-width: 860px) {    
	/* 메인비주얼 */
	.MVisual0056 .item img { width: 100%; height: auto;}

	/* 바로가기 */
	.M_link0056 li a .img { width: 5rem; height: 5rem; line-height: 6.8rem; }

	/* 배너존 */
	.banner_zone h2{display:none;}
	.banner_zone .bnWrap{width:calc(100% - 6rem); padding-left:0.75rem;}
}  

@media (max-width:700px){
	/* 바로가기 */
    .M_link0056 ul {display: flex;}
	.M_link0056 ul li { display: block; width: calc(100% / 3); }
    .M_link0056 ul li:nth-child(n + 3) {margin-top: 0;}
    .M_link0056 ul li:nth-child(n + 4) {margin-top: 1.5rem;}

	/* 갤러리 */
	.gallery0056 ul li { width: 50%; }
	.gallery0056 ul li:nth-child(n+3) { display:none; }

	/* 식단 */
	.meal_menu0056 .inner { height: auto; }
	.meal_menu0056 .inner ul { height: 6rem; margin-right: 5.5rem; }
	.meal_menu0056 img { right: 0; }
	.meal_menu0056 .inner .no_data { line-height: 6rem;}

	/* 캘린더 */
	.pop_schedule0056 .sche_wrap { height: auto; }
    .pop_schedule0056 .lst ul {display: flex; flex-wrap: wrap; justify-content: space-between;}
	.pop_schedule0056 .lst ul li {width: calc(50% - .5rem);}
	.pop_schedule0056 .lst ul li:nth-child(2) { margin-top: 0; }

	
}

@media (max-width:500px){
	/* 게시판 */
	.notice0056 .titTab ul li { padding-right: 1.5rem; }
	.notice0056 .titTab ul li + li:before { left: -0.75rem; }

	/* 식단 */
	.meal_menu0056 .inner { padding: 1rem; }
	.meal_menu0056 .inner ul { margin-right: 5.5rem; }

	/* 캘린더 */
	.pop_schedule0056 .sche_wrap { padding: 1rem;}
	.pop_schedule0056 .lst ul li { width: 100%; }
	.pop_schedule0056 .lst ul li:nth-child(2) { margin-top: 0.2rem; }
}

@media (max-width:480px){
	.btn_more { top: -3px; }
    
    /* 바로가기 */
    .M_link0056 li a p {padding: 0;}

	/* 게시판 */
	.notice0056 .titTab ul li { max-width: 100%; }
	.notice0056 .titTab ul li a { font-size: 1rem; }

	/* 식단 */
	.meal_menu0056 h2 { font-size: 1rem; }
	.meal_menu0056 .inner { margin-top: 1rem; }

	/* 캘린더 */
	.pop_schedule0056 h2 { font-size: 1rem; }
	.pop_schedule0056 .sche_wrap { margin-top: 1rem; }

	/* 팝업 */
	.pop0056 h2 { margin: 0 8rem 1rem 0; font-size: 1rem; }

	/* 갤러리 */
	.gallery0056 h2 { font-size: 1rem; }
	.gallery0056 ul { margin: 1rem 0 0 0;}
	.gallery0056 ul li { width: 100%; padding: 0; }
	.gallery0056 ul li:nth-child(n+2) { display:none; }
	.gallery0056 .list_box li.no_data { margin: 0;}
}

@media (max-width:380px){
	/* 바로가기 */
	.M_link0056 li a .img { width: 3.7rem; height: 3.7rem; line-height: 5rem; border-radius: 1.2rem; }
	.M_link0056 li a .img img { width: 2.4rem; height: auto; }

	/* 캘린더 */
	.pop_schedule0056 .lst { width: 100%; padding-left: 0; margin-top: 0.5rem; }

	/* 식단 */
	.meal_menu0056 .inner { height: auto; }
	.meal_menu0056 .inner ul { margin-right: 0; height: 7.4rem; }
	.meal_menu0056 img { display: none; }
	.meal_menu0056 .inner .no_data { line-height: 7.4rem;}
} 
