/* 메인 컨테이너 */
#container { position:relative; z-index:2; width:100%; }
/* #container *{ scrollbar-arrow-color: #ddd; scrollbar-Track-Color: #ddd; scrollbar-base-color: #aaa; scrollbar-Face-Color: #aaa; scrollbar-3dLight-Color: #aaa; scrollbar-DarkShadow-Color: #aaa; scrollbar-Highlight-Color: #aaa; scrollbar-Shadow-Color: #aaa;} */
#container ::-webkit-scrollbar { width: 5px; }
#container ::-webkit-scrollbar-thumb { background-color: #aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color: #ddd; border-radius:10px; }

.MC_wrap1 .container{ position:relative; }
.MC_wrap1 .container:before { content:''; position: absolute; width: 9.4rem; height: 14.45rem; bottom: 0; right: -15.5rem; background:url('/images/template/T0052/main/0052_bg_right.png') no-repeat right bottom; }
.MC_wrap2 { position:relative; padding: 2.6rem 0 2.9rem; }
.MC_wrap2 .container{ position:relative; }
.MC_wrap2 .container:before { content:''; position: absolute; width: 10.5rem; height: 15.5rem; bottom: -2.5rem; left: -18rem; background:url('/images/template/T0052/main/0052_bg_left.png') no-repeat left bottom; }

.MC_box1 {position:relative; width:100%; height:20.5rem;} /* 비주얼 */
.MC_box2 {position:relative; width:100%; height:9rem; margin-top: 2.5rem;} /* 바로가기 */
.MC_box3 {position:relative; width:100%; height:auto; margin-top: 2rem; } /* 게시판 */
.MC_box4 {position:relative; width:18.75rem; height:32rem; float:left; margin-right: 1.75rem; } /* 행사일정 */
.MC_box5 {position:relative; width:20rem; height:15.5rem; float:left; } /* 팝업존 */
.MC_box6 {position:relative; width:18rem; height:15.5rem; float:right; } /* 식단 */
.MC_box7 {position:relative; width:39.5rem; height: 14rem; float:left; margin-top:2.2rem;} /* 포토갤러리 */

@media (max-width:1240px) {
    .MC_box1 {height:auto;} /* 비주얼 */
	.MC_box4 {position:relative; width:calc(100% - 21rem); height: 30rem; float: left; margin-right: 0; } /* 행사일정 */
    .MC_box5 {position:relative; width:20rem; float: right; margin-bottom: 1rem;} /* 팝업존 */
    .MC_box6 {width: 20rem; height: 13.5rem; float: right;} /* 식단 */
    .MC_box7 {width:100%; height: auto; margin-top:1.5rem;} /* 포토갤러리 */
}

@media (max-width: 1024px) {
    #container {padding-top: 3.3rem;}

	.MC_box2{height: auto; margin-top: 2rem;}
	.MC_box3{margin-top: 1rem;}
}
@media (max-width:768px){
	.MC_wrap2{padding: 2rem 0 1.5rem;}

	.MC_box2{margin-top: 1.5rem;}
	.MC_box3{margin-top: 0;}
    .MC_box4 {width:100%; height:auto; } /* 캘린더 */
    .MC_box5 {width:100%; height:auto; margin: 1.5rem 0;} /* 팝업존 */
    .MC_box6 {width: 100%; height: auto;} /* 행사일정 */

}