

/* btn */
.btn_more1 { position:absolute; top:-.35rem; right:0; color:#000; font-weight:600; font-size:.75rem; line-height:1.5rem; }
.btn_more1 i { display:inline-block; vertical-align:middle; width:1.5rem; height:1.5rem; margin-left:.75rem; background:#fff; border-radius:50%; text-align:center; color:#010101; line-height:1.5rem; font-size:1.2rem; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.btn_more1 em { display:inline-block; vertical-align:middle; }
.btn_more2 { position:absolute; top:.75rem; right:0; z-index:1; width:1.95rem; height:1.95rem; background:#e5c3ff; border-radius:50%; line-height:1.95rem; text-align:center; color:#000; font-size:1.2rem; }
.btn_more2 i { -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }

/* heading*/
.heading { margin-bottom:1rem; font-size:1.1rem; font-weight:700; color:#000; word-break:keep-all; white-space:nowrap; overflow:hidden; }

/* 메인비주얼 */
.MVisual0053 { position:relative; height:100%; overflow:hidden; padding-left: calc((100% - 60rem) / 2);}
.MVisual0053 .slider,
.MVisual0053 .slick-list,
.MVisual0053 .slick-track { height:100%; }
.MVisual0053 .item { overflow:hidden; }
.MVisual0053 .item img { position:relative; display:block; width:auto; height:100%; }
.MVisual0053 .control { position:absolute; left:51%; bottom:1rem; z-index:999; -webkit-transform:translateX(-50%) translateX(-536px); -ms-transform:translateX(-50%) translateX(-536px); transform:translateX(-50%) translateX(-536px); }
.MVisual0053 .control > a { display:inline-block; width:2rem; height:2rem; line-height:2rem; background:#d74a8c; color:#fff; text-align:center; border-radius:50%; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.MVisual0053 .control > a.play { display:none; }

/* 바로가기1 */
.M_link0053 { position:relative; height:100%; margin:-.75rem -.25rem; }
.M_link0053:before{ content: ''; position: absolute; width: 6.25rem; height: 8.5rem; top: 50%; right: -20%; background: url(/images/template/T0053/main/0053_img_bg.png) no-repeat;}
.M_link0053 ul { display:table; table-layout:fixed; width:100%; }
.M_link0053 li { position:relative; display:table-cell; padding:.75rem .25rem; vertical-align:top; z-index:1; }
.M_link0053 li a { position:relative; display:block; width:100%; word-break:keep-all; text-align:center; }
.M_link0053 li a .ico { position:relative; display:block; width:3rem; height:3rem; line-height:3rem; margin:auto; }
.M_link0053 li a .ico img { max-width:100%; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.M_link0053 li a span { position:relative; display:inline-block; max-width:100%; height:2.1rem; margin-top:1rem; line-height:1.2; font-weight:400; color:#000; font-size:.9rem; word-break:break-all; }
.M_link0053 li a span:before { content:""; position:absolute; top:-.5rem; left:-.5rem; width:1.5rem; height:1.5rem; border-radius:50%; background:#f2d4fa; opacity:0; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.M_link0053 li a:hover span:before{opacity: 1;}
.M_link0053 li a span > em { position:relative; display:block; width:100%; height:100%; overflow:hidden; z-index:1; font-weight: 600;}

/* 게시판 */
.notice0053 { position:relative; height:100%; }
.notice0053 .titTab a,
.notice0053 .titTab span,
.notice0053 .list_box li,
.notice0053 .list_box li a { position:relative; display:block; }
.notice0053 .titTab { margin-right:7rem; overflow:hidden; }
.notice0053 .titTab ul { margin:-.15rem  -.5rem; }
.notice0053 .titTab li { position:relative; display:inline-block; max-width:calc(33.333% - .15rem); padding:.15rem .5rem; vertical-align:top; }
.notice0053 .titTab a { display:block; padding-bottom:1.5rem; font-size:1.1rem; font-weight:600; color:#565555; letter-spacing:-.11rem; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.notice0053 .titTab a:before { content:""; position:absolute; bottom:.9rem; left:50%; width:0; height:4px; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); background:#ff7800; border-radius:.2rem; -webkit-transition:all .3s; -ms-transition:all .3s; transition:all .3s; }
.notice0053 .titTab a:after { content:""; position:absolute; bottom:0; left:50%; width:.6rem; height:.6rem; opacity:0; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); background:url(/images/template/T0053/main/0053_tit_active_mlink.png)no-repeat center/100% 100%; -webkit-transition:all .3s; -ms-transition:all .3s; transition:all .3s; }
.notice0053 .titTab a span { display:block; overflow:hidden; white-space:nowrap; }
.notice0053 .tabWrap { margin-top:1.5rem; }
.notice0053 .list_box { display:none; margin-top:1rem; }
.notice0053 .list_box ul { margin:-.375rem; }
.notice0053 .list_box li { display:none; width:50%; padding:.375rem; float:left; }
.notice0053 .list_box li:nth-of-type(-n + 4) { display:block; }
.notice0053 .list_box li a { position:relative; display:block; height:5.75rem; padding:1.5rem; border-width:2px; border-color:#fff; border-style:solid; border-radius:1rem; box-shadow:0 0 8px rgba(0,0,0,.15); line-height:1; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.notice0053 .list_box li p { width:100%; overflow:hidden; font-size:.9rem; color:#000; font-weight:600; text-overflow:ellipsis; white-space:nowrap; }
.notice0053 .list_box li span { display:block; margin-top:1.25rem; font-size:.75rem; color:#6a6a6a; text-align:right; transition: all 0.2s; -webkit-transition: all 0.2s; }
.notice0053 .btn_more1 { padding:.3rem .65rem .3rem 1rem; background:#eaeaea; border-radius:1.5rem; }
/* 게시판 : 새글 */
.notice0053 .list_box li.new a:after { content:"N"; position:absolute; top:0; right:1.5rem; width:1.45rem; height:1.45rem; line-height:1.45rem; background:#ff7800; color:#fff; font-size:.8rem; border-radius:50%; text-align:center; -webkit-transform:translateY(-50%); transform:translateY(-50%); }
/* 게시판 : 데이터 없음 */
.notice0053 .list_box li.no_data { float:none; width:100%; text-align:center; }
.notice0053 .list_box li.no_data > p { display:block; border-width:2px; border-color:#fff; border-style:solid; border-radius:1rem; box-shadow:0 0 8px rgba(0,0,0,.15); line-height:5.75rem; }
/* 게시판 : active */
.notice0053 .titTab a.current { font-weight:700; color:#010101; }
.notice0053 .titTab a.current:before { width:100%; }
.notice0053 .titTab a.current:after { opacity:1; }
.notice0053 .list_box.on { display:block; }
.notice0053 .titTab a:hover span,.notice0053 .titTab a:focus span{ font-weight: 700; color: #010101; } 

/* 캘린더 */
.pop_schedule0053 { position:relative; height:100%; }
.pop_schedule0053 .heading { float:left; max-width:7.75rem; margin:1rem 0 0; }
.pop_schedule0053 .sche_wrap { float:right; width:calc(100% - 10rem); height:3rem; margin:0 2rem 1.5rem 0; line-height:3rem; text-align:center; }
.pop_schedule0053 .month { display:inline-block; width:6.5rem; vertical-align:middle; text-align:left; color:#000; letter-spacing:-.09rem; font-size:1.15rem; font-weight:600; }
.pop_schedule0053 .month span { position:relative; display:inline-block; font-size:1.25rem; font-weight:600; line-height:1; }
.pop_schedule0053 .month span:before { content:""; position:absolute; bottom:-.5rem; left:50%; width:100%; height:.15rem; background:#ab40fe; border-radius:.75rem; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); }
.pop_schedule0053 .month span em { font-weight:700; }
.pop_schedule0053 .sche_list { position:relative; display:inline-block; width:calc(100% - 8rem); height:100%; padding:0 3.25rem; vertical-align:middle; }
.pop_schedule0053 .sche_list > a { position:absolute; top:50%; display:block; width:1.95rem; height:1.95rem; line-height:1.95rem; background:#ededed; border-radius:50%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); }
.pop_schedule0053 .sche_list > a:before { content:""; position:absolute; top:50%; left:50%; width:1.35rem; height:.5rem; -webkit-transform:translate(-50%, -50%) translate(-.5px, -.5px); -ms-transform:translate(-50%, -50%) translate(-.5px, -.5px); transform:translate(-50%, -50%) translate(-.5px, -.5px); background-position:center; background-repeat:no-repeat; background-size:100% 100%; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.pop_schedule0053 .sche_list > .prev { left:0; }
.pop_schedule0053 .sche_list > .prev:before { background-image:url('/images/template/T0053/main/schedule_prev.png'); }
.pop_schedule0053 .sche_list > .next { right:0; }
.pop_schedule0053 .sche_list > .next:before { background-image:url('/images/template/T0053/main/schedule_next.png'); }
.pop_schedule0053 .sche_list ul { white-space:nowrap; overflow:hidden; overflow-x:auto; height:100%; }
.pop_schedule0053 .sche_list li { display:inline-block; }
.pop_schedule0053 .sche_list li span { display:block; width:1.5rem; height:1.5rem; line-height:1.5rem; margin:.6rem auto 0; font-weight:600; font-size:.75rem; border-radius:50%; }
.pop_schedule0053 .sche_list li span.event { background:#d8d8d8; }
.pop_schedule0053 .sche_list li span.today { color:#fff; background:#ab40fe; font-weight:700; }
.pop_schedule0053 .lst { position:relative; margin-left:3rem; z-index:1; padding:1.5rem 1.5rem 1.5rem 5.5rem; border-radius:1rem; clear:both; background:url('/images/template/T0053/main/0053_ptrn_cal.png')repeat; }
.pop_schedule0053 .lst .img { position:absolute; top: -0.75rem; left:-3rem; width:6.25rem; height:4.25rem; overflow:hidden; border-radius:0 1.25rem 1.25rem 1.25rem; background:#ab40fe; }
.pop_schedule0053 .lst .img:before { content:""; position:absolute; top:2rem; left:-2rem; width:6rem; height:6rem; background:#8b25da; border-radius:50%; }
.pop_schedule0053 .lst .img > img { position:absolute; top:50%; left:50%; max-width:2.5rem; -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.pop_schedule0053 .lst ul { overflow-y:auto; height:2.8rem; margin:-.25rem; }
.pop_schedule0053 .lst li { width:25%; float:left; padding:.25rem; }
.pop_schedule0053 .lst li a { position:relative; display:block; padding-left:.15rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:.8rem; color:#000; line-height:2.25rem; }
.pop_schedule0053 .lst li a > span { display:inline-block; width:2rem; height:2rem; margin:.15rem .75rem .15rem 0; border-radius:50%; background:#fff; box-shadow:0 0 8px rgba(0,0,0,.17); line-height:2rem; color:#000; font-weight:700; text-align:center; }
/* 캘린더 : 데이터 없음 */
.pop_schedule0053 .lst .no_data { width:100%; text-align:center; line-height:2rem; }
/* active */
.pop_schedule0053 .lst li a:hover span, .pop_schedule0053 .lst li a:focus span{background: #d74a8c; color: #fff;}

/* 식단 */
.meal_menu0053 { position:relative; height:100%; background:#fff; border-radius:1rem; }
.meal_menu0053 .heading { position:relative; display:inline-block; vertical-align:middle; width:12rem; height:4.5rem; margin:0; padding-right:1.5rem; overflow:visible;  color:#fff; line-height:4.5rem; }
.meal_menu0053 .heading:before { content:""; position:absolute; top:0; right:0; width:calc(100% + 6rem); height:100%; background: url('/images/template/T0053/main/0053_ptrn_meal.png')repeat; border-radius:1rem 1rem 1rem 0; overflow:hidden; }
.meal_menu0053 .heading > span { position:relative; display:block; white-space:nowrap; overflow:hidden; }
.meal_menu0053 .inner { position:relative; display:inline-block; width:calc(100% - 22rem); vertical-align:middle; height:1.1rem; overflow-y:auto; }
.meal_menu0053 .inner li + li { margin-top:1.2rem; }
.meal_menu0053 .inner .no_data { text-align:center; }
.meal_menu0053 .inner dl { position:relative; overflow:hidden; padding-left:1.5rem; }
.meal_menu0053 .inner dt { position:relative; display:inline-block; vertical-align:top; width:8.75rem; font-size:1rem; line-height:1; font-weight:600; color:#000; }
.meal_menu0053 .inner dt:before { content:""; position:absolute; top:50%; right:-0.5rem; width:1.9rem; height:.3rem; background:url(/images/template/T0053/main/0053_dot_meal.png)no-repeat center/100% 100%; -webkit-transform:translateY(-50%) translateY(-.5px); -ms-transform:translateY(-50%) translateY(-.5px); transform:translateY(-50%) translateY(-.5px); }
.meal_menu0053 .inner dt em { color:#ff7800 ; }
.meal_menu0053 .inner dd { display:inline-block; vertical-align:top; width:calc(100% - 9rem); padding-left:1rem; color:#222; font-size:.8rem; font-weight:600; word-break:keep-all; line-height:1.25; }
.meal_menu0053 .img { position:absolute; top:50%; right:1rem; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); }
.meal_menu0053 .img > img { display:block; max-width:7.4rem; }
.meal_menu0053 .btn_more2 { top:1.25rem; left:11rem; right:auto; background:#fff; box-shadow:0 0 8px rgba(0,0,0,.25); }
.meal_menu0053 .btn_more2:before { background:#00b4a8; }
/* 식단 : 데이터 없음 */
.meal_menu0053 .inner .no_data { text-align:center; overflow-y: hidden; line-height: 1rem; }

/* 갤러리 */
.gallery0053 { position:relative; height:100%; }
.gallery0053 .heading { width:calc(100% - 7rem); }
.gallery0053 .list_box ul { margin:-.25rem -1rem; }
.gallery0053 .list_box ul:after { content:""; display:block; clear:both; }
.gallery0053 .list_box li { display:none; width:50%; padding:.5rem 1rem; float:left; }
.gallery0053 .list_box li:nth-of-type(-n + 2) { display:block; }
.gallery0053 .list_box a { position:relative; display:block; border-radius:1.5rem; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.gallery0053 .list_box a .img { position:relative; width:100%; height:11.2rem; overflow:hidden; background-color:rgba(0,0,0,.1); border-radius:1.5rem; }
.gallery0053 .list_box a .img img { position:absolute; top:50%; left:50%; width:100%; height:auto; -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%); -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.gallery0053 .list_box a .txt { display:block; width:100%; padding:0 1rem; text-align:center; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:.9rem; font-weight:600; color:#000; line-height:4rem; }
/* 갤러리 : 데이터 없음 */
.gallery0053 .list_box li.no_data { width:100%; line-height:11.2rem; text-align:center; }
.gallery0053 .list_box li.no_data > p { border-radius:1.5rem; background:rgba(0,0,0,.1); }
.gallery0053 .btn_more1 i{width: 1.95rem; height: 1.95rem; line-height: 1.95rem;}

/* 팝업존 */
.pop0053 { position:relative; width:100%; height:100%; }
.pop0053 .control { margin-top:1.5rem; text-align:center; }
.pop0053 .control .page { position:relative; display:inline-block; margin-left:.5rem; vertical-align:middle; color:#333; font-size:.8rem; }
.pop0053 .control .page > strong { display:inline-block; width:1.75rem; height:1.75rem; border-radius:50%; background:#ff7800; color:#fff; line-height:1.75rem; text-align:center; font-size:1rem; font-weight:700; }
.pop0053 .control .page > span { position:relative; padding-left:1.5rem; font-weight: 600; }
.pop0053 .control .page > span:before { content:""; position:absolute; top:50%; left:.4rem; width:.65rem; height:1px; background:#444; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); }
.pop0053 .control a { position:relative; display:inline-block; width:1.75rem; height:1.75rem; line-height:1.75rem; background:#e8e8e8; border-radius:50%; text-align:center; font-size:1rem; color:#000; vertical-align:middle; }
.pop0053 .control .play,
.pop0053 .control .stop { margin:0 .15rem; }
.pop0053 .control .play { display:none; }
.pop0053 .control a img { display:block; }
.pop0053 .pop_img { position:relative; width:100%; height:11.2rem; border-radius:1.5rem; z-index:1; overflow:hidden; background:#f1f1f1; }
.pop0053 .pop_img div { height:100%; }
.pop0053 .pop_img .item { height:100%; }
.pop0053 .pop_img .item a { position:relative; display:block; height:100%; overflow:hidden; background-color:#eee; }
.pop0053 .pop_img .item a img { position:absolute; top:50%; left:50%; max-width:100%; width:auto; height:100%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); -webkit-transition:transform .3s; transition:transform .3s; }
/* active */
.pop0053 .control a:hover,.pop0053 .control a:focus {background: #e5c3ff;}

/* 배너존 */
.banner_zone {line-height: 1; border-top: 1px solid #d1d8e4; background:#fff; }
.banner_zone .container {position: relative; height: 4rem; overflow: hidden; }
.banner_zone h2 {float:left; margin-top: 1.5rem; width: 4rem; font-size: 0.85rem; font-weight: 400; color: #191919; }
.banner_zone .btn {float: left; margin-top: 1.3rem; overflow: hidden; border-left:1px solid #ccc; }
.banner_zone .btn a {float: left; width: 1.4rem; height: 1.4rem; line-height:1.4rem; text-align:center; overflow: hidden; border:1px solid #ccc; border-left:0; }
.banner_zone .btn a.play{display:none; }
.banner_zone .bnWrap { width: calc(100% - 10rem); float:left; padding-top: 0.75rem; padding-left:1.5rem; overflow: hidden; }
.banner_zone .bnWrap a {display: block; height: 2.5rem; line-height: 2.3rem; text-align: center; margin:0 5px; border: 1px solid #c8d1db; overflow: hidden; }
.banner_zone .bnWrap a img {max-width: 100%; max-height: 100%; vertical-align: middle; }

/* responsive */
@media (max-width:1200px) { 
	/* heading*/
	.heading { font-size:1rem; }
	
	/* 메인비주얼 */
	.MVisual0053 .item img { width:100%; height:auto; }
	.MVisual0053 .control{ left:2%; -webkit-transform:translateX(0); -ms-transform:translateX(0); transform:translateX(0); }
	
	/* 바로가기1 */
	.M_link0053 li a span { height:2rem; font-size:.8rem; }
	.M_link0053:before { display: none; }
	
	/* 게시판 */
	.notice0053 .titTab a { font-size:1rem; }
	
	/* 식단 */
	.meal_menu0053 .heading { width:8.5rem; }
	.meal_menu0053 .inner { width:calc(100% - 16rem); }
	.meal_menu0053 .img > img { max-width:4.9rem; }
	.meal_menu0053 .btn_more2 { left:7.5rem; }
	
	
}
@media (max-width:1024px) {
	/* 메인비주얼 */
	.MVisual0053 .item img { width:125%; }
}
@media (max-width:950px) {
	
	/* 바로가기1 */
	.M_link0053 li { float:left; width:25%; } 
	.M_link0053 li a span { height:2rem; font-size:.8rem; }
	
	/* 팝업존 */
	.pop0053 { padding-left:0; }
	.pop0053,
	.pop0053 .pop_img,
	.pop0053 .pop_img div, 
	.pop0053 .pop_img .item, 
	.pop0053 .pop_img .item a { height:auto; }
    .pop0053 .pop_img .item a img { position:relative; display:block; left:auto; top:auto; width:auto; max-width:100%; height:100%; max-height: 15rem; margin:auto; transform:none; -webkit-transform:none; }
	
	/* 캘린더 */
	.pop_schedule0053 .heading { display:block; max-width:calc(100% - 5.5rem); margin:0; }
	.pop_schedule0053 .sche_wrap { width:100%; height:auto; margin-right:0; }
	.pop_schedule0053 .month { position:absolute; top:0; right:0; text-align:right; line-height:1; }
	.pop_schedule0053 .sche_list { display:block; width:calc(100% - 2.5rem); margin-top:1.5rem; }
	.pop_schedule0053 .lst .img { left:-4rem; width:4.5rem; height:4.35rem; border-radius:0 1rem 1rem 1rem; }
	.pop_schedule0053 .lst .img > img { max-width:2.3rem; }
	.pop_schedule0053 .lst { margin-left:4rem; padding-left:1.5rem; }
	.pop_schedule0053 .lst ul { height:5.5rem; }
	.pop_schedule0053 .lst li { width:50%; }
	.pop_schedule0053 .btn_more2 { top:3.5rem; }
	/* 캘린더 : 데이터 없음 */
	.pop_schedule0053 .lst .no_data { line-height:4.35rem; }

	/* 식단 */
	.meal_menu0053 .inner dt { line-height: 2; }
	.meal_menu0053 .inner { height:2rem; }
	.meal_menu0053 .img { right: 1rem; }
	.meal_menu0053 .inner .no_data { line-height:2rem; }
	
	/* 갤러리 */
	.gallery0053 .list_box a { background:#fff; }
	
	/* 배너존 */
	.banner_zone h2 { display:none; }
	.banner_zone .bnWrap { width:calc(100% - 6rem); padding-left:0.75rem; }
}
@media (min-width:951px) { 
	/* btn_more : over */
	.btn_more1:hover i,
	.btn_more1:focus i,
	.btn_more2:hover i,
	.btn_more2:focus i { -webkit-transform:rotate(180deg); -ms-transform:rotate(180deg); transform:rotate(180deg); }

	/* 메인비주얼 : over */
	.MVisual0053 .control > a:hover,
	.MVisual0053 .control > a:focus { background:#b50f5c; }
	
	/* 바로가기1 : over */
	.M_link0053 li a:hover .ico img,
	.M_link0053 li a:focus .ico img { -webkit-animation: icoAct 0.3s; -ms-animation: icoAct 0.3s; animation: icoAct 0.3s; }
	.M_link0053 li a:hover span em,
	.M_link0053 li a:focus span em{ font-weight:700; }
	.M_link0053 li a:hover:before,
	.M_link0053 li a:focus:before { opacity:1; -webkit-animation: icoAct 0.3s; -ms-animation: icoAct 0.3s; animation: icoAct 0.3s; }
	
	/* 게시판 : over */
	.notice0053 .list_box li a:hover,
	.notice0053 .list_box li a:focus { border-color:#ff7800; }
	.notice0053 .list_box li a:hover p,
	.notice0053 .list_box li a:focus p { text-decoration:underline; }
	.notice0053 .list_box li a:hover:before,
	.notice0053 .list_box li a:focus:before { opacity:1; }	
	
	/* 캘린더 : over */
	.pop_schedule0053 .sche_list > a.prev:hover:before,
	.pop_schedule0053 .sche_list > a.prev:focus:before { left:calc(50% + 3px); }
	.pop_schedule0053 .sche_list > a.next:hover:before,
	.pop_schedule0053 .sche_list > a.next:focus:before  { left:calc(50% - 3px); }
	.pop_schedule0053 .lst li a:hover,
	.pop_schedule0053 .lst li a:focus { text-decoration:underline; }

	/* 갤러리 : over */
	.gallery0053 .list_box a:hover,
	.gallery0053 .list_box a:focus { background:#fff; box-shadow:0 0 18px #ffe6d0; }
	.gallery0053 .list_box a:hover .img img,
	.gallery0053 .list_box a:focus .img img { -webkit-transform:translate(-50%, -50%) scale(1.1); -ms-transform:translate(-50%, -50%) scale(1.1); transform:translate(-50%, -50%) scale(1.1); }	
	.gallery0053 .list_box a:hover .txt,
	.gallery0053 .list_box a:focus .txt { text-decoration:underline; }	
	
	@keyframes icoAct {
	 0% {-webkit-transform:translateY(0); transform:translateY(0); }
	 50% { -webkit-transform:translateY(-10%); transform:translateY(-10%); }
	 100% { -webkit-transform:translateY(0); transform:translateY(0); }
	}
	@-webkit-keyframes icoAct {
	 0% {-webkit-transform:translateY(0); transform:translateY(0); }
	 50% { -webkit-transform:translateY(-10%); transform:translateY(-10%); }
	 100% { -webkit-transform:translateY(0); transform:translateY(0); }
	}
	
	/* 배너존 : over */
	.banner_zone .btn a:hover,
	.banner_zone .btn a:focus { background:#f1f1f1; }
 }
 
@media (max-width:768px) {
	/* 게시판 */
	.notice0053 .tabWrap { margin-top:1rem; }
	.notice0053 .list_box li { width:100%; float:none; }
	.notice0053 .list_box li:nth-of-type(3),
	.notice0053 .list_box li:nth-of-type(4) { display:none; }
	
	/* 캘린더 */
	.pop_schedule0053 .lst li { width:100%; }
	.pop_schedule0053 .lst ul { height:8rem; }
	.pop_schedule0053 .sche_list {margin-top: 1rem;}
	/* 캘린더 : 데이터 없음 */
	.pop_schedule0053 .lst .no_data { line-height:7rem; }
	
	/* 갤러리 */
	.gallery0053 .list_box a .img { height:8.4rem; }

	/* 식단 */
	.meal_menu0053 { padding:1.5rem; }
	.meal_menu0053 .inner dt { line-height: 2; margin-right: 1rem;}
	.meal_menu0053 .inner { width: 100%; height:5.8rem; }
	.meal_menu0053 .img { display: none; }
	.meal_menu0053 .heading { position:absolute; top:0; left:0; height:4rem; line-height:4rem; z-index:2; }
	.meal_menu0053 .inner dl { padding-left:0; text-align:right; }
	.meal_menu0053 .inner dt { display:inline-block; width:auto; max-width:calc(100% - 6.5rem); padding-bottom:.75rem; }
	.meal_menu0053 .inner dt:before { top:auto; bottom:0; right:auto; left:50%; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); }
	.meal_menu0053 .inner dd { width:100%; margin-top:1rem; padding-left:0; text-align:left; }
	.meal_menu0053 .btn_more2 { top:1rem; z-index:3; }
	.meal_menu0053 .inner .no_data { line-height:5.9rem; }
}
@media (max-width:560px) { 
	/* 바로가기 */
	.M_link0053 li a .ico {width: 2.5rem; height: 2.5rem; line-height: 2.5rem;}
}
@media (max-width:480px) { 
	
	/* 메인비주얼 */
	.MVisual0053 .control { bottom:.5rem; left:2%; }
	.MVisual0053 .control a{width: 1.5rem; height: 1.5rem; line-height: 1.5rem;}
	
	/* 게시판 */
	.notice0053 .titTab {margin-right: 5.5rem;}
	.notice0053 .titTab li { max-width:100%; }
	.notice0053 .titTab a { padding-bottom:0; }
	.notice0053 .titTab a:after { display:none; }
	.notice0053 .titTab a:before { bottom:0; height:9px; opacity:.3; }
	.notice0053 .btn_more1 {padding: 0.3rem 0.3rem 0.3rem 0.5rem;}
	.notice0053 .list_box li a {height: 5.5rem;}
	
	/* 갤러리 */
	.gallery0053 .list_box li { width:100%; }
	.gallery0053 .list_box a .img { height:11rem; }
	.gallery0053 .list_box a .txt {line-height: 3.5rem;}
}
@media (max-width:380px) { 
	/* 캘린더 */
	.pop_schedule0053 .lst { margin-left:1rem; padding:1.5rem 1rem 1.5rem 2rem; }
	.pop_schedule0053 .lst .img { left:-1rem; width:3rem; height:2.75rem; border-radius:0 .5rem .5rem .5rem; }
	.pop_schedule0053 .lst .img > img { max-width:55%; }
	
	/* 식단 */
	.meal_menu0053 { padding:4.5rem 1.5rem 1rem 1.5rem; }
	.meal_menu0053 .heading { width:calc(100% - 2rem); }
	.meal_menu0053 .inner { height:5.3rem; }
	.meal_menu0053 .inner dl { text-align:left; }
	.meal_menu0053 .inner dt { max-width:100%; padding-bottom: 0.7rem; }
	.meal_menu0053 .inner dd { margin-top:.5rem; }
	.meal_menu0053 .btn_more2 { left:auto; right:1rem; }
	.meal_menu0053 .inner .no_data {line-height: 5.3rem;}
	
	/* 갤러리 */
	.gallery0053 .list_box a .img { height:8rem; }
}