h2.heading{font-size: 1.1rem; font-weight: 700; overflow: hidden; white-space: nowrap; margin-right: 2.5rem; margin-bottom: 1rem;}

/* btn_more */
.btn_more{display: block; position: absolute; top: -.2rem; right: 0; width: 2rem; height: 2rem; line-height: 2rem; text-align: center; border-radius: 50%; background: #dddbf1; font-size: 1.2rem;}
.btn_more.ty2{background: #fff;}
.btn_more i{transition: all 0.2s; -webkit-transition: all 0.2s;}
/** btnTy active **/
.btn_more:hover i,
.btn_more:focus i { -webkit-transform:rotate(180deg); transform:rotate(180deg);}

/* 메인비주얼 */
.MVisual0052 { position:relative; height:100%; overflow:hidden; }
.MVisual0052 .slider,
.MVisual0052 .slick-list,
.MVisual0052 .slick-track{height:100%; }
.MVisual0052 .item { overflow:hidden; line-height:0; }
.MVisual0052 .item img { position:relative; width:auto; height:100%; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); }
.MVisual0052 .item img.M_visual_m { display:none; }
.MVisual0052 .control { position:absolute; left:calc(50% - 600px); bottom:2rem; z-index:1; }
.MVisual0052 .control > a { display:inline-block; width:2rem; height:2rem; line-height:2rem; background:rgba(0, 0, 0, 0.3); color:#fff; text-align:center; border-radius:50%; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.MVisual0052 .control > a.play { display:none; }
/** 메인비주얼 active **/
.MVisual0052 .control > a:hover,
.MVisual0052 .control > a:focus { background:rgba(0,0,0,0.5); }

/* 바로가기 */
.M_link0052 { position:relative; }
.M_link0052 ul { display:flex; margin: 0 calc((36rem - 100%) / 10); height:100%; align-items:center; }
.M_link0052 li { position: relative; flex:1; padding:0 0.4rem; }
.M_link0052 li + li::before{width: 0.3rem; height: 1rem; background: url('/images/template/T0052/main/0052_link_line.png') no-repeat center / contain; position: absolute; left: -0.1rem; top: 2.5rem; content: '';}
.M_link0052 li a { display:block; position:relative; width:100%; height:100%; word-break:keep-all; text-align:center; }
.M_link0052 li a .img { display: flex; justify-content: center; align-items: center; width:6rem; height:6rem; margin:0 auto; background: #f3f5ff; border: 1px dashed #544cb8; border-radius: 0.75rem;}
.M_link0052 li a .img img {width:3.25rem; height: 3.25rem; }
.M_link0052 li a p {height:2rem; font-size:0.9rem; font-weight:600; line-height:1rem; margin-top: 1rem; overflow:hidden; word-break:break-all;}
/** 바로가기 active **/
.M_link0052 li a:hover .img img,
.M_link0052 li a:focus .img img { transform: rotateY(180deg); -webkit-transform: rotateY(180deg); }
.M_link0052 li a:hover p,
.M_link0052 li a:focus p {color:#544cb8;}
.M_link0052 li a .img img,
.M_link0052 li a p{transition: all 0.2s; -webkit-transition: all 0.2s;}

/* 게시판 */
.notice0052 { position:relative; padding-bottom: 1.6rem;}
.notice0052:after{ position: absolute; content: ''; width: 2.3rem; height: 0.4rem; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); background: url(/images/template/T0052/main/0052_notice_line.png) no-repeat; }
.notice0052 h2 {height:2rem; line-height:2rem; font-size:1.5rem; font-weight:700; max-width:10rem; overflow:hidden; text-overflow:ellipsis; margin-bottom:2rem; }
.notice0052 h2 strong {color:#544cb8;}
.notice0052 .titTab { position:absolute; left:0; top:0; width:100%; padding:0 11rem; font-size:0; text-align:center; }
.notice0052 .titTab li { position:relative; display:inline-block; max-width:calc((100% - 7rem) / 3); }
.notice0052 .titTab li + li {margin-left:3.5rem; }
.notice0052 .titTab li + li:before { content:""; position:absolute; left:-1.85rem; top:50%; margin-top: -.1rem; width:0.2rem; height:0.2rem; background:#ccc; }
.notice0052 .titTab li a { display:block; height:2rem; line-height:2rem; font-size: 1.1rem; font-weight:600; color: #555; overflow:hidden; text-overflow:ellipsis; }
.notice0052 .titTab li a:before{ content:""; position:absolute; width:100%; border-radius: .2rem; background:#ffe9d0; left:0; bottom:0; height:0.2rem; opacity:0; -webkit-transition:0.3s; transition:0.3s; }
.notice0052 .list_box { display:none; }
.notice0052 .list_box ul {margin:0 -0.7rem;}
.notice0052 .list_box ul:after {content: ""; display: block; clear: both; visibility: hidden;}
.notice0052 .list_box li { width:33.33%; float:left; padding:0 0.7rem; }
.notice0052 .list_box li:nth-child(n+4) {margin-top:1.3rem;}
.notice0052 .list_box li:nth-child(n+7) { display:none;}
.notice0052 .list_box li a { position:relative; display:flex; height:6.9rem; border:1px solid #bababa; border-radius: 0.75rem; font-weight: 600; flex-direction: row-reverse; padding:1rem 1.5rem; align-items:center; justify-content:space-between; }
.notice0052 .list_box li a:before { content:""; position:absolute; top: 0; left: 0; width:100%; height:100%; border:2px solid #544cb8; border-radius: 0.7rem; box-shadow:5px 5px 10px rgba(92, 19, 181, 0.1); opacity:0; -webkit-transition:0.3s; transition:0.3s; }
.notice0052 .list_box li a .date {display: flex; flex-direction: column-reverse; justify-content: center; position:absolute; width:4.25rem; height: 4.25rem; background: #fff1e0; border-radius: 50%; top: calc(50% - 2.1rem); left: 1rem; color:#222; font-size:0.75rem; text-align:center; }
.notice0052 .list_box li a .date strong{font-size: 1.25rem; font-weight: 800;}
.notice0052 .list_box li a p { width:calc(100% - 4.5rem); font-size:0.9rem; max-height:3.75rem; overflow:hidden; color:#000; }
.notice0052 .list_box li a.new p:before { content:"NEW"; display:inline-block; background-color: #ff8a00; padding: 0.2rem 0.5rem; border-radius: 1.5rem; text-align: center; color:#fff; line-height:0.8rem; font-style:italic; font-size:0.65rem; font-weight:700;  margin-right:0.5rem; vertical-align:middle; }
.notice0052 .btn_more {top: 0;}
/** 게시판 active **/
.notice0052 .titTab li a.current,
.notice0052 .titTab li a:hover,
.notice0052 .titTab li a:focus { color:#ff8a00; font-weight: 700;}
.notice0052 .titTab li a.current:before,
.notice0052 .titTab li a.current:after {opacity:1;}
.notice0052 .list_box li a:hover,
.notice0052 .list_box li a:focus { border:1px solid #544cb8; }
.notice0052 .list_box li a:hover:before,
.notice0052 .list_box li a:focus:before { opacity:1; }
.notice0052 .list_box li a:hover .date strong,
.notice0052 .list_box li a:focus .date strong { border-color:#544cb8; }
/** 게시판 : 데이터 없음 **/
.notice0052 .list_box li.no_data { width:100%; line-height:15.1rem; text-align:center; font-weight:600; }
/** 게시판 :action **/
.notice0052 .list_box.on { display:block; }
.notice0052 a  { -webkit-transition:all .15s; transition:all .15s; }

/* 행사일정 */
.pop_schedule0052 { position:relative; height:100%; background:#dfe4f8; padding:1rem 1.25rem; border-radius: 1rem;}
.pop_schedule0052 h2 {margin-right: 0; margin-bottom: 0;}
.pop_schedule0052 .month { line-height:2.35rem; text-align:center; font-size:0.9rem; margin-bottom:0.5rem; font-weight: 600; }
.pop_schedule0052 .month a {display:inline-block; width:1.5rem; font-size:1rem;}
.pop_schedule0052 .month a i { -webkit-transition:all .3s; transition:all .3s; }
.pop_schedule0052 .month .date {  padding:0 0.5rem; }
.pop_schedule0052 .month .date em { display:inline-block; width:2.35rem; height:2.35rem; background:#fff; border-radius:50%; font-size:1.2rem; color:#6c62c0; font-weight:700; margin-left:0.5rem; }
.pop_schedule0052 .sche_table { background:#fff; text-align:center; padding:0 0.5rem; border-radius: 0.5rem; }
.pop_schedule0052 .sche_table table { font-size:0.75rem; text-align:center; }
.pop_schedule0052 .sche_table th {font-weight:600; color:#000; line-height:2.55rem; border-bottom:1px solid #ddd; }
.pop_schedule0052 .sche_table tr:first-child td { padding-top:0.5rem; }
.pop_schedule0052 .sche_table tr:last-child td { padding-bottom:0.5rem; }
.pop_schedule0052 .sche_table .sun { color:#e23d0b; }
.pop_schedule0052 .sche_table .sat { color:#f64b17; }
.pop_schedule0052 .sche_table td{width:1.65rem; height: 1.65rem; line-height: 1.65rem;}
.pop_schedule0052 .sche_table td a { position:relative; display:block; width: 1.65rem; height:1.65rem; line-height:1.65rem; border-radius:50%; margin:0 auto;}
.pop_schedule0052 .sche_table td a.event { background:#fff1e0; }
.pop_schedule0052 .sche_table td a.today { background:#ff8a00; color:#fff; }
.pop_schedule0052 .lst { position:relative; margin-top:1.4rem;}
.pop_schedule0052 .lst ul { height:11rem; overflow-y:auto; }
.pop_schedule0052 .lst ul li + li { margin-top:0.5rem; }
.pop_schedule0052 .lst ul li a { position:relative; display:block; line-height:1.75rem; color: #333; padding-left:4.1rem; font-weight: 600; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.pop_schedule0052 .lst ul li a span { position:absolute; left:0; top:0; width:3.5rem;background:#6861c1; text-align:center; color:#fff; font-weight: 500; border-radius:1.75rem; transition: all 0.2s; -webkit-transition: all 0.2s; }
.pop_schedule0052 .lst .no_data {line-height:5.8rem; font-weight:600; text-align:center;}
.pop_schedule0052 .btn_more { position:absolute; right:1rem; top: -.85rem; box-shadow: 0 0 0.25rem rgba(0,0,0,0.3); }
/** 행사일정 : active **/
.pop_schedule0052 .sche_table td a:hover,
.pop_schedule0052 .sche_table td a:focus,
.pop_schedule0052 .lst ul li a:hover,
.pop_schedule0052 .lst ul li a:focus {text-decoration:underline; }
.pop_schedule0052 .lst ul li a:hover span,
.pop_schedule0052 .lst ul li a:focus span { background: #383296; }
.pop_schedule0052 .sche_table td span a:not(.event):focus,
.pop_schedule0052 .sche_table td span a:not(.event):hover { text-decoration:none; cursor:auto; } /* 20230204 <span><a></a></span> 관련 수정 */


/* 팝업존 */
.pop0052 { position:relative; width:100%; height:100%; padding:0.75rem 1rem; border:2px solid #668aee; border-radius: 1rem; }
.pop0052 h2{margin-right: 7rem;}
.pop0052 .tit_wrap { position:relative; width:100%; z-index:1; }
.pop0052 .page { position:absolute; right:5rem; top:0; display:inline-block; vertical-align:bottom; color:#222; font-weight: 600; line-height:1.6rem; }
.pop0052 .page strong { color:#0e498f; font-weight: 700;}
.pop0052 .control { position:absolute; top:0; right:0; background:#f4f4f4; border-radius: 1rem; padding:0 0.5rem; }
.pop0052 .control a { position:relative; display:inline-block; width:1rem; height:1.6rem; line-height:1.6rem; vertical-align:middle; text-align:center; font-size:1rem; -webkit-transition:all .15s; transition:all .15s;}
.pop0052 .control a i,
.pop0052 .control a img { position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.pop0052 .control .play { display:none; }
.pop0052 .pop_img { position:relative; height:11.25rem; overflow: hidden; border-radius: 1.5rem; overflow: hidden; background: #eee; isolation: isolate;}
.pop0052 .pop_img div[class*='slick-'],
.pop0052 .pop_img .item {height:100%;}
.pop0052 .pop_img .item a { display: flex; height:100%; line-height:0; align-items:center; justify-content: center; overflow:hidden;}
.pop0052 .pop_img .item img {position:relative; max-width:100%; width:auto; height:auto;}

/* 식단 */
.meal_menu0052 { position:relative; height:100%; background:#ff8a00; padding: 1rem 1.5rem; border-radius: 1rem; color: #333;}
.meal_menu0052 h2 {line-height: 2rem; margin-bottom: .75rem;}
.meal_menu0052 .inner {position:relative; padding-bottom:0.8rem;  }
.meal_menu0052 .inner ul { overflow:hidden; overflow-y:auto; height:5.8rem;  }
.meal_menu0052 .inner li + li { margin-top:1.5rem; }
.meal_menu0052 .inner .no_data {line-height:5.8rem; font-weight:600; text-align:center;}
.meal_menu0052 .inner dl { position:relative; height:auto; }
.meal_menu0052 .inner dt { position:relative; display:inline-block; height:2rem; line-height:2rem; font-weight:600; font-size:0.9rem; margin-bottom:0.5rem; }
.meal_menu0052 .inner dt span{display: inline-block; padding: 0 1.25rem; background: #a13d00; border-radius: 1rem; text-align: center; color: #fff;}
.meal_menu0052 .inner dt em{display: inline-block; background: #fff; color: #d24f00; border-radius: 1rem; padding: 0 1.25rem;}
.meal_menu0052 .inner dd {margin-top: .4rem; font-size: .85rem; line-height: 1.6;  word-break:keep-all; }
.meal_menu0052 img { position:absolute; bottom:1.5rem; right:1.1rem; max-width: 3.4rem; max-height: 3.25rem; }
.meal_menu0052 .btn_more { right:1rem; top:1rem; color: #333;}

/* 갤러리 */
.gallery0052 { position:relative; height:100%; }
.gallery0052 h2 {margin-bottom: 1.5rem;}
.gallery0052 ul { display:flex; flex-wrap:wrap; overflow:hidden; }
.gallery0052 ul li { width:30%; height:100%; text-align:center; }
.gallery0052 ul li:nth-child(n+4) { display:none; }
.gallery0052 ul li + li { margin-left:5%; }
.gallery0052 ul li a .img { position:relative; height:9rem; overflow:hidden; background:#eee; border-radius: 0.5rem 0.5rem 0 0; isolation: isolate;}
.gallery0052 ul li a .img img { position:absolute; top:50%; left:50%; width:100%; height:auto; -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); transform:translate(-50%, -50%); -webkit-transition:all .2s; -ms-transition:all .2s; transition:all .2s; }
.gallery0052 ul li a p { position:relative; font-size:0.85rem; font-weight:600; line-height:2.3rem; background: #efefef; border-radius: 0 0 0.5rem 0.5rem; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.gallery0052 .list_box li.no_data{ width:100%; height:100%; display:flex; align-items:center; justify-content:center; padding:5rem 0; border-radius: 1rem; font-size:.9rem; background:rgba(0,0,0,0.05); }
/** 갤러리 active **/
.gallery0052 .list_box a:hover .img img,
.gallery0052 .list_box a:focus .img img { -webkit-transform:translate(-50%, -50%) scale(1.1); -ms-transform:translate(-50%, -50%) scale(1.1); transform:translate(-50%, -50%) scale(1.1); }
.gallery0052 .list_box a:hover p:before,
.gallery0052 .list_box a:focus p:before { width:100%; }
.gallery0052 ul li a:hover p,
.gallery0052 ul li a:focus p{background: #6861c1; color: #fff;}

/* 배너존 */
.banner_zone {line-height: 1; border-top: 1px solid #d1d8e4;}
.banner_zone .container {position: relative; height: 4rem; overflow: hidden;}
.banner_zone h2 {float:left; margin: 1.5rem 0 0 0; width: 4rem; font-size: 0.8rem; font-weight: 600; color: #191919;}
.banner_zone .btn {float: left; margin-top: 1.3rem; overflow: hidden; border-left:1px solid #ccc;}
.banner_zone .btn a {float: left; width: 1.4rem; height: 1.4rem; line-height:1.4rem; text-align:center; overflow: hidden; border:1px solid #ccc; border-left:0;}
.banner_zone .btn a.play{display:none;}
.banner_zone .bnWrap { width: calc(100% - 10rem); float:left; padding-top: 0.75rem; padding-left:1.5rem; overflow: hidden;}
.banner_zone .bnWrap a {display: block; height: 2.5rem; line-height: 2.3rem; text-align: center; margin:0 5px; border: 1px solid #c8d1db; overflow: hidden;}
.banner_zone .bnWrap a img {max-width: 100%; max-height: 100%; vertical-align: middle;}

@media (max-width: 1240px) {
	/* 메인비주얼 */
	.MVisual0052 .item img { left:-25%; width:150%; height:auto; -webkit-transform:none; transform:none; }
	.MVisual0052 .control { left:1rem; }

	/* 캘린더 */
	.pop_schedule0052 .lst ul{height: 8.8rem;}

	/* 팝업존 */
	.pop0052 .pop_img .item img {width:auto; height:100%;}

	/* 식단 */
    .meal_menu0052 {padding: 1.5rem 2rem;}
	.meal_menu0052 .inner{padding-bottom: 0;}
	.meal_menu0052 .inner dd{padding-right: 3.2rem;}
    .meal_menu0052 .btn_more {right: 2rem; top: 1.5rem;}
}
@media (max-width: 1024px) {
	/* 바로가기 */
    .M_link0052 ul {margin: 0 calc((30rem - 100%) / 10);}
	.M_link0052 li a .img{width: 5rem; height: 5rem;}
	.M_link0052 li a .img img{width: 2.75rem; height: 2.75rem;}
	.M_link0052 li + li::before{top: 2rem;}

	/* 공지사항 */
	.notice0052 h2 { max-width:8rem; font-size:1.2rem; margin-bottom:1rem; }
	.notice0052 .titTab { padding:0 8rem; }
	.notice0052 .titTab li {max-width:calc((100% - 4rem) / 3);}
	.notice0052 .titTab li + li { margin-left:2rem; }
	.notice0052 .titTab li + li:before { left:-1.1rem; }
	.notice0052 .list_box li { width:50%; }
	.notice0052 .list_box li:nth-child(3) {margin-top:1.3rem; }
	.notice0052 .list_box li:nth-child(n+5) { display:none;}
}

@media (max-width: 860px) {
	/* 배너존 */
	.banner_zone h2{display:none;}
	.banner_zone .bnWrap{width:calc(100% - 6rem); padding-left:0.75rem;}
}
@media (max-width:768px) {
	/* 비주얼 */
	.MVisual0052 .control { bottom:2rem; }

	/* 공지사항 */
    .notice0052 {padding-bottom: 0;}
	.notice0052:after { display: none; }
	.notice0052 h2 { max-width:100%; margin-bottom:0; padding:0 5rem 0 0;}
	.notice0052 .titTab { position:relative; left:auto; top:auto; padding:0; text-align:left; margin-bottom:0.5rem; }
	.notice0052 .titTab li { max-width:100%; margin-right: 1rem;}
    .notice0052 .titTab li + li {margin-left: 0;}
    .notice0052 .titTab li + li:before {display: none;}

	/* 바로가기 */
	.M_link0052 ul{flex-wrap: wrap; margin: 0;}
	.M_link0052 li{width: 33.333%; flex: auto; margin-bottom: 0.5rem;}
	.M_link0052 li:nth-of-type(3n+1):before{display:none;}
	.M_link0052 li a p{margin-top: 0.5rem;}

	/* 행사일정 */
	.pop_schedule0052 .lst ul { height:6.5rem;}
	.pop_schedule0052 .month { margin-bottom:0; }
	.pop_schedule0052 .month .date em {width:2rem; height:2rem; line-height:2rem; font-size:1rem;}

	/* 포토갤러리 */
    .gallery0052 h2 {margin-bottom: 1rem;}
	.gallery0052 ul li { width:48%; }
	.gallery0052 ul li + li { margin-left:4%;}
	.gallery0052 ul li:nth-child(n+3) { display:none; }
}
@media (max-width:580px) {
	h2.heading{font-size: 1rem;}

	/* 메인비주얼 */
	.MVisual0052 .control{bottom: 0.5rem;}
	.MVisual0052 .control a{width: 1.65rem; height: 1.65rem; line-height: 1.65rem;}

	/* 공지사항 */
	.notice0052 h2{font-size: 1.1rem;}
	.notice0052 .titTab li a { font-size:0.9rem; }
	.notice0052 .list_box ul{height: auto;}
	.notice0052 .list_box li { width:100%;}
	.notice0052 .list_box li:nth-child(2) { margin-top:0.5rem;}
	.notice0052 .list_box li:nth-child(n + 3) { display:none;}
	.notice0052 .list_box li.no_data { line-height:14.3rem; }
	.notice0052 .list_box li a {padding:2rem 1rem; height: 6rem; }
	.notice0052 .list_box li a .date{width: 3.75rem; height: 3.75rem; top: calc(50% - 1.8rem); font-size: 0.7rem;}
	.notice0052 .list_box li a .date strong{left: 1.15rem; font-size: 1.1rem;}
	.notice0052 .list_box li a p{max-height: 2.4rem; font-size: 0.85rem;}

    .pop0052 .pop_img{ height:auto; text-align:center; }
    .pop0052 .pop_img .item img { top:auto; left:auto; max-height:15rem; transform: none; -ms-transform: none;}

	/* 바로가기 */
	.M_link0052 li a .img{width: 4.5rem; height: 4.5rem;}
	.M_link0052 li a p { font-size:0.8rem;}

}
@media (max-width:380px) {
	/* 바로가기 */
	.M_link0052 li + li::before{top: 1.5rem;}
	.M_link0052 li a .img{width: 3.75rem; height: 3.75rem;}
	.M_link0052 li a .img img{width: 2.25rem; height: 2.25rem;}

	/* 행사일정 */
	.pop_schedule0052{padding: 1rem 0.75rem;}

    /* 식단 */
    .meal_menu0052 {padding: 1rem;}
    .meal_menu0052 .btn_more {right: 1rem; top: 1rem;}

	/* 포토갤러리 */
	.gallery0052 ul li { width:100%; }
	.gallery0052 ul li + li { margin-left:0; margin-top: 1rem;}
    .gallery0052 ul li:nth-child(n+2) {display: none;}
}