/* 메인 컨테이너 */
#container { position:relative; z-index:2; width:100%; }
#container *{ scrollbar-arrow-color: #ddd; scrollbar-Track-Color: #ddd; scrollbar-base-color: #aaa; scrollbar-Face-Color: #aaa; scrollbar-3dLight-Color: #aaa; scrollbar-DarkShadow-Color: #aaa; scrollbar-Highlight-Color: #aaa; scrollbar-Shadow-Color: #aaa;}
#container ::-webkit-scrollbar { width: 5px; height: 3px; }
#container ::-webkit-scrollbar-thumb { background-color: #aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color: #ddd; border-radius:10px; }

.MC_wrap1 {max-width: 60rem; margin: .75rem auto 0;}
.MC_wrap2 {display: flex; justify-content: space-between; align-items: flex-start; max-width: 60rem; margin: 4rem auto 0;}
.MC_wrap2 .MC_cont {display: flex; flex-wrap: wrap; justify-content: space-between; width: calc((100% - 4.25rem) / 100 * 68); padding: 2rem 0;}

.MC_box1 {max-width: 96rem; height: 26rem; margin: 0 auto;} /* 메인비주얼 */
.MC_box2 {} /* 게시판 */
.MC_box3 {margin-top: 2rem;} /* 행사일정 */
.MC_box7 {width: calc((100% - 4.5rem) / 100 * 32); padding: 2rem 0; position: relative;} /* 갤러리 */
.MC_box7:before {content: ""; display: block; width: 400%; height: 100%; border-radius: 0 1.2rem 0 0; background: url('/images/template/T0066/main/0066_thumb_bg.jpg'); position: absolute; right: -2rem; top: 0; z-index: -1;}
.MC_box4 {width: 17.5rem;} /* 팝업존 */
.MC_box5 {width: calc(100% - 20rem);} /* 식단 */
.MC_box6 {margin-top: 3.5rem;} /* 바로가기 */


@media (max-width: 1240px) {

    .MC_wrap1,
    .MC_wrap2 {padding: 0 1rem;}
    .MC_wrap2 .MC_cont {width: calc((100% - 3rem) / 100 * 71);}
    .MC_box7:before {right: -1.5rem;}

    .MC_box1 {height: auto;}
    .MC_box7 {width: calc((100% - 3rem) / 100 * 29);}
    .MC_box5 {width: calc(100% - 19rem);}
}

@media (max-width: 1024px) {

    #container {padding-top: 3.3rem;}
}

@media (max-width: 950px) {

    .MC_wrap1 {margin-top: .25rem;}
    .MC_wrap2 {margin-top: 3.5rem; flex-direction: column;}
    .MC_wrap2 .MC_cont {width: 100%; padding: 1.5rem 0;}

    .MC_box3 {margin-top: 1.5rem;}
    .MC_box7 {width: 100%; padding: 1.5rem 0;}
    .MC_box7:before {width: calc(100% + 2rem); border-radius: 0; right: -1rem;}
    .MC_box6 {margin-top: 1.75rem;}
}

@media (max-width: 580px) {

    .MC_wrap1 {margin-top: .75rem;}

    .MC_box4 {width: 100%;}
    .MC_box5 {margin-top: 1.5rem; width: 100%;}
}

@media (max-width: 480px) {

    .MC_wrap2 {margin-top: 1.5rem;}
}