
/* 통합검색 */
.totalSearch {position: relative; width: 11rem; height: 2rem; border-radius: 2rem; border: 1px solid #3b5081; background: #fff; position: relative; z-index: 1;}
.totalSearch input { padding: 0 2.25rem 0 .5rem; width: 100%; height: 2rem; line-height: 2rem; font-size: 0.6rem; border: none; font-family: '돋움', Dotum; background:none; }
.totalSearch button { position: absolute; bottom: -1px; right: -1px; padding: 0; background:#3b5081; width: 2rem; height: 2rem; line-height: 2rem; color:#fff; border-radius: 50%; border: none; font-size:1.1rem; /*.9rem */ }
.totalSearch input::-webkit-input-placeholder { color: #555; }
.totalSearch input::placeholder { color: #555; }

#header:before {display: none;} /* header 하단 라인 */

/* gnb color */
/* gnb : default */
#gnb {background: #3b5081;}/* gnb 배경색 */
#gnb:before {display: none;} /* 메뉴하단라인 */
#gnb .depth01 > ul > li.on > a {color: #fff;} /* 1차메뉴 active 텍스트 색상 */
#gnb .depth01 > ul > li > a {color: #fff;}/* 1차메뉴 텍스트 색상 */
#gnb .depth01 > ul > li > a:before{ background:#3b5081;} /* 1차메뉴 active underline 색상*/
#gnb .depth01 > ul > li > a > span:before {background: rgba(255,255,255,.25);} /* 1차메뉴 active 그림자 색상 */
#gnb .depth02 > ul > li > a{ color:#111; }/* 2차메뉴 텍스트 색상 */
/* gnb : fullDown */
#nav.fullDown .active .depth01 > ul > li > a {color: #fff;}
#nav.fullDown .depth02 > ul > li > a:hover,
#nav.fullDown .depth02 > ul > li > a:focus,
#nav.fullDown .depth02 > ul > li.active > a{ color:#fff; background:#3b5081; }/* 2차메뉴 active 효과 */
/* gnb : oneDown */
#nav.oneDown .depth02{ border:2px solid #3b5081;}/* 2차메뉴 border-color */
#nav.oneDown .depth02 > ul > li > a:hover,
#nav.oneDown .depth02 > ul > li > a:focus,
#nav.oneDown .depth02 > ul > li.dep.active > a{ color:#3b5081; font-weight:600; }/* 2차메뉴 active 텍스트 색상 */
/* gnb : oneFull */
#nav.oneFull .depth02 > ul > li > a:hover,
#nav.oneFull .depth02 > ul > li > a:focus,
#nav.oneFull .depth02 > ul > li.dep.active > a{ color:#fff; background:#3b5081; }/* 2차메뉴 active 배경색 */
#nav.oneFull .depth03 > ul > li > a:before{background:#3b5081;}/* 3차메뉴 블릿 색상 */

/* footer */
#footer { border-top:1px solid #dbdadf; color:#333; background: #5c6a78;}/* footer 배경, 폰트색상, border */
.footer_link li a {color: #fff;}
.footer_link li a:before{ border-left:1px solid #6b7177; }/* footer link 영역 라인색상 */
.footer_link li a strong {color: #fbca77;}/* footer link 강조 폰트색상 */
#footer address {color: #ececec;}
#footer .copyright {color: #ececec;}/* copyright 폰트색상 */
#footer .btn_top {background: #fbca77; color: #fff;}/* footer 상단이동 버튼 색상 */

/* 방문자수 */
.visitant {background: #fbca77;}
.visitant ul li {color: #000;}
.visitant ul li strong {color: rgba(0,0,0,.5);}
.visitant ul li + li:before {border-left: 1px solid #ccc;}

/* moblie  */
#header .mBtn.mSearch{ border-radius: 50%; background: #3b5081; color:#fff;}/* 모바일 검색 버튼 */
#header .mBtn.mNav{ border-radius: 50%; background: #6452a6; color:#fff;}/* 모바일 메뉴 버튼 */

/* moblie navigation  */
#mNav #mNavClose {  border-radius: 50%; background: #6452a6; color:#fff;}/* 모바일 메뉴 닫기 버튼 */
#mgnb .depth02{ background:#f7faff;}/* 2차메뉴 배경 */
#mgnb .depth02 > ul > li:before{ background:#6452a6;}/* 2차메뉴 블릿 색상*/
#mgnb .depth03{ border-top:2px solid #6452a6;}/* 3차메뉴 border 색상 */
#mgnb .depth01 > ul > li.active > a { color: #fff; background-color:#6452a6; }/* 1차메뉴 active */
#mgnb .depth02 > ul > li.active > a { color: #6452a6; }/* 2차메뉴 active */

/* moblie search  */
#mSearch .btnSearch { background: #3b5081; color:#fff; }
#mSearch .btnClose { border-radius: 50%; background:#3b5081; color:#fff; }

/* lnb */
#lnb h2{ color:#fff;background: #006cea;
    background: -moz-linear-gradient(135deg, #5374c3 0%, #3b5081 100%);
    background: -webkit-linear-gradient(135deg, #5374c3 0%, #3b5081 100%);
    background: linear-gradient(135deg, #5374c3 0%, #3b5081 100%); }
/* lnb:active */
#lnb .dep01 > li > a:before{ background:#e4ecff;}
#lnb .dep01 > li.active > a{ border-color:#3b5081;}
#lnb .dep02 > li > a:before{ background:#3b5081;}
#lnb .dep02 > li.active > a{ color:#3b5081; }
#lnb .dep03 { border-top:2px solid #3b5081;}
#lnb ul > li > a:hover,
#lnb ul > li > a:focus{color:#3b5081;}

/* location : snsBox */
.snsBox button.active,
.snsBox button:hover,
.snsBox button:focus{ color:#fff; border-color:#3b5081; background:#3b5081;}

@media screen and (max-width: 1024px) {
    
    #header {border-bottom: 2px solid #3b5081;}
}