
/* 통합검색 */
.totalSearch { position:relative; width: 11rem; height: 2rem; border-radius: 1rem; overflow: hidden; background:#fff; box-shadow: 0 0 0 2px #01bdae inset; }
.totalSearch input { padding: 0 2.25rem 0 .5rem; width: 100%; height: 2rem; line-height: 2rem; font-size: 0.6rem; border: none; font-family: '돋움', Dotum; background:none;}
.totalSearch button { position: absolute; top:-1px; right:-1px; padding: 0; background:#01bdae; border-radius:50%; width: 2rem; height: 2rem; line-height:38px; color:#fff; border: none; font-size:1rem; /*.9rem */ }
.totalSearch input::-webkit-input-placeholder { color: #555; }
.totalSearch input::placeholder { color: #555; }

#header:before { background:#d2d2d2; } /* header 하단 라인 */

/* gnb color */
/* gnb : default */
#gnb{ background:#fff; }/* gnb 배경색 */
#gnb .depth01 > ul > li.on > a{ color:#01bdae !important; } /* 1차메뉴 active 텍스트 색상 */
#gnb .depth01 > ul > li > a{ color:#333; }/* 1차메뉴 텍스트 색상 */
#gnb .depth01 > ul > li > a:before{ background:#01bdae;} /* 1차메뉴 active underline 색상*/
#gnb .depth01 > ul > li > a > span:before{background:#e3fffd; } /* 1차메뉴 active 그림자 색상 */
#gnb .depth02 > ul > li > a{ color:#111; }/* 2차메뉴 텍스트 색상 */
/* gnb : fullDown */
#nav.fullDown #gnb:before {} /* 메뉴하단라인 */
#nav.fullDown .depth02 > ul > li > a:hover,
#nav.fullDown .depth02 > ul > li > a:focus,
#nav.fullDown .depth02 > ul > li.active > a{ color:#fff; background:#01bdae; }/* 2차메뉴 active 효과 */
/* gnb : oneDown */
#nav.oneDown #gnb:before {} /* 메뉴하단라인 */
#nav.oneDown .depth02{ border:2px solid #01bdae;}/* 2차메뉴 border-color */
#nav.oneDown .depth02 > ul > li > a:hover,
#nav.oneDown .depth02 > ul > li > a:focus,
#nav.oneDown .depth02 > ul > li.dep.active > a{ color:#01bdae; font-weight:600; }/* 2차메뉴 active 텍스트 색상 */
/* gnb : oneFull */
#nav.oneFull #gnb:before {} /* 메뉴하단라인 */
#nav.oneFull .depth02 > ul > li > a:hover,
#nav.oneFull .depth02 > ul > li > a:focus,
#nav.oneFull .depth02 > ul > li.dep.active > a{ color:#fff; background:#01bdae; }/* 2차메뉴 active 배경색 */
#nav.oneFull .depth03 > ul > li > a:before{background:#01bdae;}/* 3차메뉴 블릿 색상 */

/* footer */
#footer { border-top:1px solid #ddd; color:#2e2e2e; background: #f3f3f3; }/* footer 배경, 폰트색상, border */
.footer_link li a:before{ border-left:1px solid #959595; }/* footer link 영역 라인색상 */
.footer_link li a strong { color: #ffa200; }/* footer link 강조 폰트색상 */
#footer .copyright { color:#717070; }/* copyright 폰트색상 */
#footer .btn_top{ background:#ffa200; color:#fff;}/* footer 상단이동 버튼 색상 */

/* 방문자수 */
.visitant{background:#ffa200; }
.visitant ul li{ color:#fff;}
.visitant ul li strong { color:#555;}
.visitant ul li + li:before{ border-left:1px solid #ccc;}

/* moblie  */
#header .mBtn.mSearch{ border-radius:50%; background: #01bdae; color:#fff;}/* 모바일 검색 버튼 */
#header .mBtn.mNav{ border-radius:50%; background: #ffa11b; color:#fff;}/* 모바일 메뉴 버튼 */

/* moblie navigation  */
#mNav #mNavClose {  border-radius:50%; background: #ffa11b; color:#fff;}/* 모바일 메뉴 닫기 버튼 */
#mgnb .depth02{ background:#f7faff;}/* 2차메뉴 배경 */
#mgnb .depth02 > ul > li:before{ background:#ffa11b;}/* 2차메뉴 블릿 색상*/
#mgnb .depth03{ border-top:2px solid #ffa11b;}/* 3차메뉴 border 색상 */
#mgnb .depth01 > ul > li.active > a { color: #fff; background-color:#ffa11b; }/* 1차메뉴 active */
#mgnb .depth02 > ul > li.active > a { color: #ffa11b; }/* 2차메뉴 active */

/* moblie search  */
#mSearch .btnSearch { background: #01bdae; }
#mSearch .btnClose { border-radius:50%; background:#01bdae;  }

/* lnb */
#lnb h2{ color:#fff;background: #4d439c;
    background: -moz-linear-gradient(90deg, #77dfd7 0%, #01bdae 100%);
    background: -webkit-linear-gradient(90deg, #77dfd7 0%, #01bdae 100%);
    background: linear-gradient(90deg, #77dfd7 0%, #01bdae 100%); }
/* lnb:active */
#lnb .dep01 > li > a:before{ background:#d2f5f2;}
#lnb .dep01 > li.active > a{ border-color:#01bdae;}
#lnb .dep02 > li > a:before{ background:#01bdae;}
#lnb .dep02 > li.active > a{ color:#01bdae; }
#lnb .dep03 { border-top:2px solid #01bdae;}
#lnb ul > li > a:hover,
#lnb ul > li > a:focus{color:#01bdae;}

/* location : snsBox */
.snsBox button.active,
.snsBox button:hover,
.snsBox button:focus{ color:#fff; border-color:#01bdae; background:#01bdae;}