@import url('/resource/css/up_pop.css');

/* 메인 컨테이너 */
#container { position:relative; z-index:2; background: url(/images/template/T0073/main/0073_con_bg1.png) no-repeat; padding-top: 2rem; background-position: 50% -5%; background-size: contain;}
#container *{ scrollbar-arrow-color: #ddd; scrollbar-Track-Color: #ddd; scrollbar-base-color: #aaa; scrollbar-Face-Color: #aaa; scrollbar-3dLight-Color: #aaa; scrollbar-DarkShadow-Color: #aaa; scrollbar-Highlight-Color: #aaa; scrollbar-Shadow-Color: #aaa;}
#container ::-webkit-scrollbar { width: 5px; height:3px; }
#container ::-webkit-scrollbar-thumb { background-color: #aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color: #ddd; border-radius:10px; }

.MC_wrap1 { position:relative; margin:2rem auto 2rem auto;}
.MC_cont1 { position:absolute; left:0; width:57%; margin-right:3%;}
.MC_cont1:before{ content:""; position: absolute; right:0; bottom:0; width:200%; height:100%; background:#f2f6fb; z-index:-1; border-radius: 0 1rem 1rem 0;}
.MC_cont2 { width:40%; float:right; margin:2rem 0 1rem; }

.MC_box1 { position:relative; max-width:60rem; height:24rem; margin: 0 auto; } /* 비주얼 */ 
.MC_box1:before{ position: absolute; content: ''; width: 6.3rem; height: 6.3rem; top: 4.5rem; left: -12.4rem; background: url(/images/template/T0073/main/0073_con_bg2.png) no-repeat; }
.MC_box1:after{ position: absolute; content: ''; width: 10.3rem; height: 9.15rem; top: 1.25rem; right: -13.35rem; background: url(/images/template/T0073/main/0073_con_bg3.png) no-repeat; }
.MC_box2 { position:relative; width:17.5rem; height:15.5rem; float:left; margin: 2rem 1.5rem 1rem 0;} /* 팝업존 */
.MC_box3 { position:relative; width:calc(96% - 18rem); height:15.5rem; float:right; padding: 2rem 2rem 0 0;} /* 행사일정 */
.MC_box4 { position:relative; width:100%; height:auto; } /* 바로가기 */
.MC_box5 { position:relative; width:100%; height:8rem; margin-top:1rem; } /* 식단 */
.MC_box5::before{position: absolute; content: ''; top: -1.25rem; width: 100%; height:0.35rem; background: linear-gradient(45deg,#e5e5e5 25%, #fff 0, #fff 60%,#e5e5e5 0, #e5e5e5 75%, #fff 0);
    -webkit-background-size:5px 5px;background-size:5px 5px;}
.MC_box6 { position:relative; width:100%; height:17rem; float:left; margin-top: 1.8rem;} /* 공지사항 */
.MC_box7 { position:relative; width:100%; height:auto; max-width:60rem; margin:0 auto; padding: 2rem 0 3rem 0; } /* 갤러리 */
.MC_box7:before{ content:""; position: absolute; right:-100%; bottom:0; width:300%; height:100%; background:#eef5ff url('/images/template/T0073/main/0073_gallery_ptrn.png');}

@media (max-width:1920px){
    #container { position:relative; z-index:2; background: url(/images/template/T0073/main/0073_con_bg1.png) no-repeat; padding-top: 2rem; background-position: top; background-size: initial;}
}
@media (max-width:1240px){   
    .MC_wrap1 { margin:2rem auto 1rem auto;}
    .MC_cont1 { width:59%; margin-left:2%; padding: 2.5rem 0;}
    .MC_cont2 { width:35%; margin:0; }
    .MC_box1 {  padding: 0 1rem; height:auto; } /* 비주얼 */ 
    .MC_box6 { margin-bottom:1rem; } /* 게시판 */
    .MC_box2 { width:51%;} /* 팝업존 */
    .MC_box3 { width:43.2%;} /* 학사일정 */
}
@media (max-width:1024px){ 
    #container { padding-top: 3.5rem; }
    .MC_box1{ margin-top: 1rem; }
}
@media (max-width:970px){
    .MC_box3 { width:42%;} /* 학사일정 */
}
@media (max-width:860px){
    .MC_cont1 { position:relative; width:100%; display: flex; justify-content: space-between; margin-left: 0; padding: 2rem 0 1rem 0; }
    .MC_cont1:before{right: -20%; border-radius: 0;}
    .MC_cont2 { width:100%; float:none; }

    .MC_box2 { clear: both; margin: 0;} /* 팝업존 */
    .MC_box3 { clear: both; padding: 0;} /* 학사일정 */
    .MC_box4{ margin-top: 1rem; } /* 바로가기 */
    .MC_box6 { height: auto; } /* 게시판 */
} 
@media (max-width:768px){
    #container { background-position: 50% -10%; }
}
@media (max-width:560px){  
    #container { padding: 0; background-position: 50% 1%;}
    .MC_cont1{ flex-direction: column; }
    .MC_wrap1{ margin:2rem auto;}

    .MC_box1 { padding: 0 1rem; }
    .MC_box2 { width: 100%; height: auto; } /* 팝업존 */
    .MC_box3 { width: 100%; margin-top: 1rem; } /* 학사일정 */
    .MC_box5 { width:100%; height:auto; float:none; margin-bottom:1.5rem;} /* 팝업존 */
    .MC_box6 { width:100%; height:auto; float:none; margin-top: 0;} /* 학사일정 */
} 

@media (max-width:480px){
    #container { background-position: 50% -2%;}
    .MC_cont1{ padding: 0.5rem 0 0 0; }
    .MC_box7 { padding: 1rem 0; } /* 갤러리 */
}