
/* 통합검색 */
.totalSearch { position:relative; width: 11rem; height: 2rem; border:1px solid #dedede; border-radius: 1.5rem; }
.totalSearch input { padding: 0 2.25rem 0 .5rem; width: 100%; height: 2rem; line-height: 2rem; font-size: 0.6rem; border: none; font-family: '돋움', Dotum; background:none; border-radius: 1.5rem;}
.totalSearch button { position: absolute; right:0; padding: 0; background:#3f61a5; border: 1px solid #3f61a5; width: 1.9rem; height: 1.9rem; line-height:1.9rem; color:#fff; border: none; border-radius: 1.5rem; font-size:.9rem; font-weight: 600; }
.totalSearch input::-webkit-input-placeholder { color: #555; }
.totalSearch input::placeholder { color: #555; }

/* gnb color */
/* gnb : default */
#gnb{ background:#fff; }/* gnb 배경색 */
#gnb .depth01 > ul > li.on > a{ color:#3f61a5 !important;} /* 1차메뉴 active 텍스트 색상 */
#gnb .depth01 > ul > li > a{ color:#333; }/* 1차메뉴 텍스트 색상 */
#gnb .depth01 > ul > li > a:before{ background:#3f61a5;} /* 1차메뉴 active underline 색상*/
#gnb .depth01 > ul > li > a > span:before{background:#cee1ff; } /* 1차메뉴 active 그림자 색상 */
#gnb .depth02 > ul > li > a{ color:#111; }/* 2차메뉴 텍스트 색상 */
/* gnb : fullDown */
#nav.fullDown #gnb:before {content: none;}
#nav.fullDown .depth02 > ul > li > a:hover,
#nav.fullDown .depth02 > ul > li > a:focus,
#nav.fullDown .depth02 > ul > li.active > a{ color:#fff; background:#3f61a5; }/* 2차메뉴 active 효과 */
/* gnb : oneDown */
#nav.oneDown #gnb:before {content: none;}
#nav.oneDown .depth02{ border:2px solid #3f61a5;}/* 2차메뉴 border-color */
#nav.oneDown .depth02 > ul > li > a:hover,
#nav.oneDown .depth02 > ul > li > a:focus,
#nav.oneDown .depth02 > ul > li.dep.active > a{ color:#3f61a5; font-weight:600; }/* 2차메뉴 active 텍스트 색상 */
/* gnb : oneFull */
#nav.oneFull #gnb:before {content: none;}
#nav.oneFull .depth02 > ul > li > a:hover,
#nav.oneFull .depth02 > ul > li > a:focus,
#nav.oneFull .depth02 > ul > li.dep.active > a{ color:#fff; background:#3f61a5; }/* 2차메뉴 active 배경색 */
#nav.oneFull .depth03 > ul > li > a:before{background:#3f61a5;}/* 3차메뉴 블릿 색상 */

/* footer */
#footer { border-top:1px solid #ddd; color:#666666; background: #eeeeee; }/* footer 배경, 폰트색상, border */
.footer_link li a:before{ border-left:1px solid #ccc; }/* footer link 영역 라인색상 */
.footer_link li a strong { color: #3f61a5; }/* footer link 강조 폰트색상 */
#footer .copyright { color:#666666; }/* copyright 폰트색상 */
#footer .btn_top{ background:#3f61a5; color:#fff;}/* footer 상단이동 버튼 색상 */
#footer address {color:#666666;}

/* 방문자수 */
.visitant{background:#3f61a5; }
.visitant ul li{ color:#fff;}
.visitant ul li strong { color:#d4e8f9;}
.visitant ul li + li:before{ border-left:1px solid #ccc;}

/* moblie  */
#header {border-bottom: 2px solid #8d49c7;}
#header:before {height: 2px; background: #3f61a5;}
#header .mBtn.mSearch{ background: #3f61a5; color:#fff; border-radius: 50%;}/* 모바일 검색 버튼 */
#header .mBtn.mNav{ background: #8d49c7; color:#fff; border-radius: 50%;}/* 모바일 메뉴 버튼 */

/* moblie navigation  */
#mNav #mNavClose { border-radius:.5rem; color:#fff; background:#8d49c7; border-radius: 50%;}/* 모바일 메뉴 닫기 버튼 */
#mgnb .depth02{ background:#fdfaff;}/* 2차메뉴 배경 */
#mgnb .depth02 > ul > li:before{ background:#8d49c7;}/* 2차메뉴 블릿 색상*/
#mgnb .depth03{ border-top:2px solid #8d49c7;}/* 3차메뉴 border 색상 */
#mgnb .depth01 > ul > li.active > a { color: #fff; background-color:#8d49c7; }/* 1차메뉴 active */
#mgnb .depth02 > ul > li.active > a { color: #8d49c7; }/* 2차메뉴 active */

/* moblie search  */
#mSearch .btnSearch { background: #3f61a5; }
#mSearch .btnClose { background:#3f61a5; border-radius: 50%;}

/* lnb */
#lnb h2{ color:#fff;background: #3f61a5;
    background: -moz-linear-gradient(90deg, #86abf5 0%, #3f61a5 100%);
    background: -webkit-linear-gradient(90deg, #86abf5 0%, #3f61a5 100%);
    background: linear-gradient(90deg, #86abf5 0%, #3f61a5 100%); }
/* lnb:active */
#lnb .dep01 > li > a:before{ background:#cee1ff;}
#lnb .dep01 > li.active > a{ border-color:#3f61a5;}
#lnb .dep02 > li > a:before{ background:#3f61a5;}
#lnb .dep02 > li.active > a{ color:#3f61a5; }
#lnb .dep03 { border-top:2px solid #3f61a5;}
#lnb ul > li > a:hover,
#lnb ul > li > a:focus{color:#3f61a5;}

/* location : snsBox */
.snsBox button.active,
.snsBox button:hover,
.snsBox button:focus{ color:#fff; border-color:#3f61a5; background:#3f61a5;}

@media (max-width: 1400px) {
    #nav.fullDown #gnb:before,
    #nav.oneFull #gnb:before,
    #nav.oneDown #gnb:before {content: ''; background-color: #d2d2d2;}
}