
#header::before { background: #d2d2d2; }

/* 통합검색 */
.totalSearch { position:relative; width: 11rem; height: 2rem; overflow: hidden; border-radius:.5rem;}
.totalSearch input { padding: 0 2.25rem 0 .5rem; width: 100%; height: 2rem; line-height: 2rem; font-size: 0.6rem; background: #efefef; border-radius:3rem; border: none; font-family: '돋움', Dotum;}
.totalSearch button { position: absolute; top: -1px; right: -1px; padding: 0; width: 2rem; height: 2rem; line-height:38px; color:#fff; background: #ff5c81; border-radius:.5rem; border: none; font-size:.9rem; }
.totalSearch input::-webkit-input-placeholder { color: #555; }
.totalSearch input::placeholder { color: #555; }

/* gnb color */
/* gnb : default */
#gnb{ background:#fff; }/* gnb 배경색 */
#gnb .depth01 > ul > li.on > a{ color:#ff5c7f !important; } /* 1차메뉴 active 텍스트 색상 */
#gnb .depth01 > ul > li > a{ color:#333; }/* 1차메뉴 텍스트 색상 */
#gnb .depth01 > ul > li > a:before{ background:#ff5c7f;} /* 1차메뉴 active underline 색상*/
#gnb .depth01 > ul > li > a > span:before{background:#ffe4ea; } /* 1차메뉴 active 그림자 색상 */
#gnb .depth02 > ul > li > a{ color:#111; }/* 2차메뉴 텍스트 색상 */
/* gnb : fullDown */
#nav.fullDown #gnb:before{background: #ff5c7f; height: 2px;}
#nav.fullDown .depth02 > ul > li > a:hover,
#nav.fullDown .depth02 > ul > li > a:focus,
#nav.fullDown .depth02 > ul > li.active > a{ color:#fff; background:#ff5c7f; }/* 2차메뉴 active 효과 */
/* gnb : oneDown */
#nav.oneDown #gnb:before{background: #ff5c7f; height: 2px;}
#nav.oneDown .depth02{ border:2px solid #ff5c7f;}/* 2차메뉴 border-color */
#nav.oneDown .depth02 > ul > li > a:hover,
#nav.oneDown .depth02 > ul > li > a:focus,
#nav.oneDown .depth02 > ul > li.dep.active > a{ color:#ff5c7f; font-weight:600; }/* 2차메뉴 active 텍스트 색상 */
/* gnb : oneFull */
#nav.oneFull #gnb:before{background: #ff5c7f; height: 2px;}
#nav.oneFull .depth02 > ul > li > a:hover,
#nav.oneFull .depth02 > ul > li > a:focus,
#nav.oneFull .depth02 > ul > li.dep.active > a{ color:#fff; background:#ff5c7f; }/* 2차메뉴 active 배경색 */
#nav.oneFull .depth03 > ul > li > a:before{background:#ff5c7f;}/* 3차메뉴 블릿 색상 */

/* footer */
#footer { border-top:1px solid #dbdadf; color:#fff; background: #373737; }/* footer 배경, 폰트색상, border */
.footer_link li a:before{ border-left:1px solid #818182; }/* footer link 영역 라인색상 */
.footer_link li a strong { color: #ecb216; }/* footer link 강조 폰트색상 */
#footer address { color:#fff; }/* address 폰트색상 */
#footer .copyright { color:#fff; }/* copyright 폰트색상 */
#footer .btn_top{ background:#ecb216; color:#fff;}/* footer 상단이동 버튼 색상 */

/* 방문자수 */
.visitant{background:#ecb216; }
.visitant ul li{ color:#fff;}
.visitant ul li strong { color:#fff;}
.visitant ul li + li:before{ border-left:1px solid #ccc;}

/* moblie  */
#header .mBtn.mSearch{ background: #ff5c7f; color:#fff; border-radius:1rem;}/* 모바일 검색 버튼 */
#header .mBtn.mNav{ background: #ffb200; color:#fff; border-radius:1rem;}/* 모바일 메뉴 버튼 */

/* moblie navigation  */
#mNav #mNavClose { color:#fff; background:#ffb200; border-radius:1rem;}/* 모바일 메뉴 닫기 버튼 */
#mgnb .depth02{ background:#f7faff;}/* 2차메뉴 배경 */
#mgnb .depth02 > ul > li:before{ background:#ffb200;}/* 2차메뉴 블릿 색상*/
#mgnb .depth03{ border-top:2px solid #ffb200;}/* 3차메뉴 border 색상 */
#mgnb .depth01 > ul > li.active > a { color: #fff; background-color:#ffb200; }/* 1차메뉴 active */
#mgnb .depth02 > ul > li.active > a { color: #ffb200; }/* 2차메뉴 active */

/* moblie search  */
#mSearch .btnSearch { background: #ff5c7f; }
#mSearch .btnClose { background: #ff5c7f; border-radius: 1rem; }

/* lnb */
#lnb h2{ color:#fff;background: #ff5c7f;
    background: -moz-linear-gradient(90deg, #f96b8a 0%, #eb4b6e 100%);
    background: -webkit-linear-gradient(90deg, #f96b8a 0%, #eb4b6e 100%);
    background: linear-gradient(90deg, #f96b8a 0%, #eb4b6e 100%); }
/* lnb:active */
#lnb .dep01 > li > a:before{ background:#ffeaee;}
#lnb .dep01 > li.active > a{ border-color:#ff5c7f;}
#lnb .dep02 > li > a:before{ background:#ff5c7f;}
#lnb .dep02 > li.active > a{ color:#ff5c7f; }
#lnb .dep03 { border-top:2px solid #ff5c7f;}
#lnb ul > li > a:hover,
#lnb ul > li > a:focus{color:#ff5c7f;}

/* location : snsBox */
.snsBox button.active,
.snsBox button:hover,
.snsBox button:focus{ color:#fff; border-color:#ff5c7f; background:#ff5c7f;}

@media screen and (max-width: 1024px){
    #header { border-bottom: 2px solid #ff5c7f; }
}