/* 메인 컨테이너 */
#container { position:relative; z-index:2; width:100%; }
#container *{ scrollbar-arrow-color: #ddd; scrollbar-Track-Color: #ddd; scrollbar-base-color: #aaa; scrollbar-Face-Color: #aaa; scrollbar-3dLight-Color: #aaa; scrollbar-DarkShadow-Color: #aaa; scrollbar-Highlight-Color: #aaa; scrollbar-Shadow-Color: #aaa;}
#container ::-webkit-scrollbar { width: 5px; height: 3px; }
#container ::-webkit-scrollbar-thumb { background-color: #aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color: #ddd; border-radius:10px; }

.MC_wrap1 {position: relative;}
.MC_wrap2 {position: relative; padding: 5.5rem 0 2.5rem; }
.MC_wrap3 {position: relative; padding: 2rem 0; background-color: #f7f8fa; z-index: 0;}
.MC_wrap3:after {clear: both; display: block; content: "";}
.MC_wrap4 {position: relative; padding: 2.5rem 0 3rem;}
.MC_wrap4:after {clear: both; display: block; content: "";}

.MC_box1 {position: relative; width: 100%; height: 24.5rem;} /* 메인비주얼 */
.MC_box2 {position: absolute; bottom: -3.75rem; left: 50%; width: 100%; max-width: 1200px; height: 7.9rem; transform: translateX(-50%); -webkit-transform: translateX(-50%); background: #fff; border-radius: 1.5rem; box-shadow: 5px 5px 5px rgba(0,0,0,0.1); overflow: hidden; z-index: 1;} /* 바로가기 */
.MC_box3 {position: relative; float: left; width: calc(50% - 1rem); height: 9.5rem;} /* 게시판 */
.MC_box4 {position: relative; float: right; margin-left: 1rem; width: calc(50% - 1rem); height: 9.5rem;} /* 게시판 */
.MC_box5 {position: relative; float: left; width: 17.5rem; height: 12.5rem;} /* 캘린더 */
.MC_box6 {position: relative; float: right; width: calc(100% - 20rem); height: 12.5rem;} /* 식단 */
.MC_box7 {position: relative; float: left; width: 17.5rem; height: 13.5rem;} /* 팝업존 */
.MC_box8 {position: relative; float: right;width: calc(100% - 20rem); height: 13.5rem;} /* 갤러리 */

@media (max-width: 1400px) {
}

@media (min-width: 768px) and (max-width: 1240px) {
	.MC_box1 {height: auto;} /* 메인비주얼 */
}

@media (max-width: 1240px) {
    .MC_wrap2 {padding: 5.5rem 0 1.5rem;}
	.MC_box2 {max-width: calc(100% - 2rem); height: 7rem; border-radius: 1.5rem;} /* 바로가기 */
	.MC_box3 {width: calc(50% - 0.75rem);} /* 게시판 */
	.MC_box5 {position: relative; float: left; width: 16.5rem; height: 12.5rem;} /* 캘린더 */
	.MC_box6 {position: relative; float: right; width: calc(100% - 18rem); height: 12.5rem;} /* 식단 */
	.MC_box7 {position: relative; float: left; width: 16.5rem; height: 13.5rem;} /* 팝업존 */
	.MC_box8 {position: relative; float: right;width: calc(100% - 18rem); height: 13.5rem;} /* 갤러리 */

}

@media (max-width: 1024px) {
	#container {padding-top: 3rem;}
	.MC_wrap3{padding: 1.5rem 0;}
}

@media (max-width: 860px) {
	.MC_wrap4 {padding: 1.5rem 0 2rem;}
}

@media (max-width: 768px) {
	.MC_box1{height: auto;}
	.MC_wrap2 {margin-top: -4rem; padding: 6rem 0 1rem;}
	.MC_wrap4 {padding: 0 0 1.5rem;}
	.MC_wrap3 {padding: 1rem 0;}

	.MC_box2 {position: relative; bottom: auto; left: auto; margin: -1rem auto; height: auto; transform: none; -webkit-transform: none;} /* 바로가기 */
	.MC_box2{box-shadow: 1px 5px 5px rgb(0 0 0 / 10%);}
	.MC_box3 {width: 100%; height: auto;} /* 게시판 */
	.MC_box4 {margin-top: 1rem; margin-left: 0; width: 100%; height: auto;} /* 게시판 */
	.MC_box5 {width: 100%; height: auto;} /* 식단 */
	.MC_box6 {margin-top: 2rem; margin-left: 0; width: 100%; height: auto;} /* 캘린더 */
	.MC_box7 {padding-top: 1.5rem; width: 100%; height: auto;} /* 팝업존 */
	.MC_box8 {margin-top: 1rem; margin-left: 0rem; width: 100%; height: auto; padding-top: 0;} /* 갤러리 */
}

@media (max-width: 640px) {	
}

@media (max-width: 480px) {	
}

@media (max-width: 380px) {	
	.MC_box8 {padding-top: 1.5rem; margin-top: 0;}
}
