/*-----------------------------------------------------------
Author : Kyu-min, Hwang
Creative date : 2022. 12. 13
-----------------------------------------------------------*/

/* 메인 컨테이너 */
#container {position: relative; width:100%; z-index: 2;}
#container *{ scrollbar-arrow-color: #ddd; scrollbar-Track-Color: #ddd; scrollbar-base-color: #aaa; scrollbar-Face-Color: #aaa; scrollbar-3dLight-Color: #aaa; scrollbar-DarkShadow-Color: #aaa; scrollbar-Highlight-Color: #aaa; scrollbar-Shadow-Color: #aaa;}
#container ::-webkit-scrollbar { width: 5px; height: 5px; }
#container ::-webkit-scrollbar-thumb { background-color: #aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color: #ddd; border-radius:10px; }

.MC_wrap1 {background: url('/images/template/T0082/main/m_visual_bg.png') center top no-repeat; position: relative;}
.MC_wrap2 {margin-top: 2.5rem;}
.MC_wrap2 .container {display: flex; flex-wrap: wrap; justify-content: space-between;}
.MC_wrap3 {margin-top: 2.25rem; position: relative;}
.MC_wrap3:after {content: ""; display: block; width: 9.8rem; height: 9.15rem; background: url('/images/template/T0082/main/0082_bg.png') center/contain no-repeat; position: absolute; left: 0; bottom: 0; z-index: -1;}
.MC_wrap3 .container {display: flex; justify-content: space-between; padding: 3rem 0;}
.MC_wrap3 .container:before {content: ""; width: 200vw; height: 100%; border-radius: 5rem 0 0 0; background: #f4fbff; position: absolute; left: -3rem; top: 0; z-index: -1;}
.MC_wrap3 .container:after {display: none;}
.MC_wrap3 .container .MC_cont {width: calc((100% - 1.5rem) / 3 * 2);}

.MC_box1 {width: calc(50% + 9rem); height: 26.5rem;} /* 메인비주얼 */
.MC_box2 {width: 18rem; position: absolute; right: 50%; margin-right: -30rem; bottom: 0; padding-right: .5rem; padding-bottom: .5rem;} /* 팝업 */
.MC_box2:before {content: ""; display: block; width: 17.5rem; height: 11.25rem; border-radius: 1.5rem; background: url('/images/template/T0082/main/0082_popup_bg.jpg'); position: absolute; right: 0; bottom: 0; z-index: -1;}
.MC_box4, /* 게시판1 */
.MC_box5 {width: calc(50% - 1.5rem);} /* 게시판2 */
.MC_box3 {margin-top: 2.75rem;} /* 바로가기 */
.MC_box8 {height: 6.25rem;} /* 식단 */
.MC_box7 {margin-top: 2.5rem;} /* 갤러리 */
.MC_box6 {width: calc((100% - 6rem) / 3); height: 25.25rem;} /* 캘린더 */

@media (max-width: 1240px) {

    .MC_wrap3:after {display: none;}
    .MC_wrap3 .container {padding: 3rem 1rem; background: #f4fbff;}
    .MC_wrap3 .container:before {display: none;}
    .MC_wrap3 .container .MC_cont {width: calc(100% - 20rem);}

    .MC_box1 {width: calc(100% - 21rem); height: auto;}
    .MC_box2 {right: 1rem; margin-right: 0;}
    .MC_box4,
    .MC_box5 {width: calc(50% - 1rem);}
    .MC_box6 {width: 18rem;}
}

@media (max-width: 1024px) {

    #container {padding-top: 3.3rem;}

    .MC_wrap2 {margin-top: 2rem;}
    .MC_wrap3 .container .MC_cont {width: calc(100% - 19.5rem);}

    .MC_box1 {width: calc(100% - 20.5rem);}
    .MC_box4,
    .MC_box5 {width: calc(50% - .75rem);}
}

@media (max-width: 960px) {

    .MC_box4 {width: 100%;}
    .MC_box5 {margin-top: 2rem; width: 100%;}
}

@media (max-width: 860px) {

    .MC_wrap1 {background: none;}

    .MC_box1 {width: calc(100% - 1rem);}
    .MC_box2 {width: calc(100% - 2rem); margin: 2rem auto 0; position: relative; right: auto; bottom: auto;}
    .MC_box2:before {width: calc(100% - .5rem); height: calc(100% - 2.7rem);}
}

@media (max-width: 860px) and (min-width: 641px) {

    .MC_wrap3 .container {padding-top: 11.25rem;}
    .MC_wrap3 .container .MC_cont {width: calc(50% - .75rem);}

    .MC_box6 {width: calc(50% - .75rem); height: auto;}
    .MC_box7 {margin-top: 0;}
    .MC_box8 {position: absolute; left: 1rem; top: 3rem; right: 0; margin-right: 1rem;}
}

@media (max-width: 768px) and (min-width: 641px) {

    .MC_wrap3 .container {padding: 10.75rem 1rem 2.5rem;}

    .MC_box8 {top: 2.5rem;}
}

@media (max-width: 640px) {

    .MC_wrap2 {margin-top: 1.75rem;}
    .MC_wrap3 {margin-top: 2rem;}
    .MC_wrap3 .container {flex-direction: column; padding: 2rem 1rem;}
    .MC_wrap3 .container .MC_cont {width: 100%;}

    .MC_box2 {margin-top: 1.75rem;}
    .MC_box3 {margin-top: 2rem; width: 100%;}
    .MC_box5 {margin-top: 1.75rem;}
    .MC_box6 {margin-top: 1.75rem; width: 100%;}
    .MC_box7 {margin-top: 2rem;}
}

@media (max-width: 560px) {

    .MC_box8 {height: auto;}
}

@media (max-width: 480px) {

    .MC_wrap2 {margin-top: 1.5rem;}
    .MC_wrap3 {margin-top: 1.5rem;}
    .MC_wrap3 .container {padding: 1.5rem 1rem;}

    .MC_box2 {margin-top: 1.5rem;}
    .MC_box5 {margin-top: 1.5rem;}
    .MC_box6 {margin-top: 1.5rem;}
    .MC_box7 {margin-top: 1.5rem;}
}

@media (max-width: 380px) {

    .MC_box3 {margin: 2rem -.25rem 0; width: calc(100% + .5rem);}
}