/* 메인 컨테이너 */
#container { position:relative; z-index:2; width:100%; }
#container *{ scrollbar-arrow-color: #ddd; scrollbar-Track-Color: #ddd; scrollbar-base-color: #aaa; scrollbar-Face-Color: #aaa; scrollbar-3dLight-Color: #aaa; scrollbar-DarkShadow-Color: #aaa; scrollbar-Highlight-Color: #aaa; scrollbar-Shadow-Color: #aaa;}
#container ::-webkit-scrollbar { width: 5px; height: 5px; }
#container ::-webkit-scrollbar-thumb { background-color: #aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color: #ddd; border-radius:10px; }

.MC_wrap1 .container {position: relative;}
.MC_wrap1 .container::before { content: ""; width: 300%; height: calc(100% + 1rem); background: url('/images/template/T0092/main/0092_wrap1_pttrn.png'); border-radius: 0 0 0 5rem; position: absolute; top: 0; left: -12rem;}
.MC_wrap3 { position: relative;}
.MC_wrap3::after { content: ""; display: block; width: 100%; height: 100%; background: #eceffe; position: absolute; top: 0; left: 0; z-index: -1;}
.MC_box1 { position: relative; width: 100%; height: 23.75rem; } /* 메인비주얼 */
.MC_box2 { position: relative; width: 100%; height: 8.25rem; margin-top: 2.6rem; } /* 바로가기 */
.MC_box3 { position: relative; width: 100%; height: 15.4rem; margin-top: 2.9rem; } /* 게시판 */
.MC_box4 { position: relative; width: 100%; height: 10.8rem; margin: 1.5rem 0 3.1rem; } /* 캘린더 */
.MC_box5 { position: relative; width: 31%; height: 15.8rem; float: left; margin-top: 1.9rem; margin-right: 3%;} /* 갤러리 */
.MC_box6 { position: relative; width: 30%; height: 15.8rem; float: left; margin-top: 1.9rem; } /* 식단 */
.MC_box7 { position: relative; width: 33%; height: 20.45rem; float: right; padding: 1.9rem 0 2.5rem 2.25rem; } /* 팝업존 */
.MC_box7:before { content: ""; display: block; width: 300%; height: calc(100% + 1rem); position:absolute; top:-1rem; left:0; border-radius: 5rem 0 0 0; background: url('/images/template/T0092/main/0092_pop_pttrn.png') } /* 팝업존 */
 

@media (max-width:1240px){
	.MC_box1 { height: auto; } /* 메인비주얼 */
}
@media (max-width:1024px){
    #container { padding-top:3.5rem; } 
	.MC_wrap3 { margin-top:.8rem;}
}
@media (max-width:900px){
    .MC_wrap3 .container { padding-bottom: 1rem; }

    .MC_box2 { height: auto; margin-top: 1.5rem; } /* 바로가기 */
    .MC_box3 { margin-top: 2.5rem; }/* 게시판 */
    .MC_box5 { width: 48%; margin-left: 0; } /* 갤러리 */
    .MC_box6 { width: 48%; float: right; } /* 식단 */
    .MC_box7 { width: 100%; height: auto; padding: 1.5rem 0; margin-top:1.5rem;} /* 팝업존 */
	.MC_box7:before { top:0; left:-1rem; border-radius: 3rem 0 0 0; } /* 팝업존 */

}

@media (max-width:768px){
    .MC_box3 { height: auto; } /* 게시판 */
}

@media (max-width:600px){
	.MC_box4 { margin: 1.5rem 0 1rem; } /* 캘린더 */
    .MC_box5 { width: 100%; height: auto; margin-top:1rem; } /* 갤러리 */
    .MC_box6 { width: 100%; height: auto;  } /* 식단 */
}

@media (max-width:480px){
	.MC_box3 { margin-top: 2rem; }/* 게시판 */
    .MC_box7 { padding: 1.5rem 0 .8rem; } /* 팝업존 */
}
