/* common style */
h2.heading { color:#363636; font-weight:700; font-size:1rem; margin-bottom: 1.7rem; white-space: nowrap; overflow:hidden;}

.btn_more{ position:absolute; top: 0; right: 0; display: flex; justify-content: center; align-items: center; width: 2rem; height: 2rem; text-align: center; line-height:1; font-size: 1.15rem; color:#363636; }
.btn_more i{-webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s;}
.btn_more:hover i,
.btn_more:focus i { -webkit-transform:rotate(180deg); -ms-transform:rotate(180deg); transform:rotate(180deg); }

/* 메인비주얼 */
.MVisual0099 { position: relative; height: 100%; overflow:hidden;}
.MVisual0099 .slider{ position:relative; z-index: 0;}
.MVisual0099 .item{overflow:hidden; line-height:0;}
.MVisual0099 .item img{position:relative; width:auto; height:100%; left:50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%);}
.MVisual0099 .control{position:absolute; left:50%; margin-left:-30rem; bottom:6rem; z-index:1;}
.MVisual0099 .control > a{display:inline-block; width:2rem; height:2rem; line-height:2rem;  background:rgb(17, 26, 50, 0.5); color:#fff; text-align: center; border-radius:50%; -webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }
.MVisual0099 .control > a.play{display:none;}
.MVisual0099 .control > a:hover,
.MVisual0099 .control > a:focus{ background:rgb(17, 26, 50, 0.9);}


/* 게시판 */
.notice0099 { position:relative; height:100%; }
.notice0099 .titTab { position: relative; margin-right: 2.5rem; font-size: 0; }
.notice0099 .titTab li { position:relative; display:inline-block;max-width: 33.333%; padding: 0 1.2rem; left: -1.2rem;}
.notice0099 .titTab li + li::before { position: absolute; top: 0.65rem; left: -0.15rem; width: 0.25rem; height: 0.7rem; background: url('/images/template/T0099/main/0099_notice_dot.png') no-repeat center / contain; content: ""; }
.notice0099 .titTab a {position: relative; display: block; line-height:2rem; text-align:center; font-size: 1rem; font-weight: 600; color: #767676;}
.notice0099 .titTab a::before {content:""; display: none; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); width: 0.45rem; height: 0.45rem; background: #5155ae; border-radius: 50%; }
.notice0099 .titTab a span{display: block; overflow:hidden; white-space:nowrap;}
.notice0099 .topList { display: block; position: absolute;top: 0;left: 0; }
.notice0099 .topList dl { display: block; width: 18.45rem;height: 12.35rem; background: #fff;padding: 2rem 1.7rem 1.5rem; box-shadow: 0 0 5px rgba(36, 36, 37, 0.26); }
.notice0099 .topList dt{position: relative; line-height: 1.4rem; height: 2.8rem; font-size: .9rem; color:#272727; font-weight: 600; overflow: hidden; text-overflow: ellipsis; overflow: hidden; padding-left: 4.4rem;}
.notice0099 .topList dt::after { position: absolute; top: 0; left: 0.7rem; width: 3.05rem; height: 2.45rem; background: url('/images/template/T0099/main/0099_notice_icon.png') no-repeat center / contain; content: ""; }
.notice0099 .topList dl.new dt::before {position: absolute;top: 0;left: 0 ;width: 1.15rem;height: 1.15rem;line-height: 1.15rem;border-radius: 50%;text-align: center;font-weight: 600;background: #5155ae;color: #fff;content: "N";font-size: 0.6rem; z-index: 1;}
.notice0099 .topList dd { border-top: 1px dashed #767676; padding-top: .7rem; margin-top: 1.1rem; }
.notice0099 .topList dd p{font-size: .8rem; color: #0c0c0c; line-height:1.2rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-weight: 400; }
.notice0099 .topList .date {display: block; margin-top: 1rem; font-size: 0.75rem;color: #767676;z-index: 1;font-weight: 400;}
.notice0099 .topList .date i {margin-right:5px;}
.notice0099 .list_box { display:none; position: relative; width:100%; margin-top: 0.9rem; }
.notice0099 .list_box ul {background: #f8f8f8;padding: 0.8rem 1.2rem 0.8rem 20rem;}
.notice0099 .list_box li {position: relative; border-bottom: 1px dashed #b6bac1;}
.notice0099 .list_box li:nth-child(n+5) {display:none;}
.notice0099 .list_box li:nth-child(4n) {border:none;}
.notice0099 .list_box li a{ position: relative; line-height:2.7rem; display:block; padding-left: .6rem; }
.notice0099 .list_box li a::before {position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); left: 0; width: 0.2rem; height: 0.45rem; border-radius: 1rem; background: #5155ae; content: ""; }
.notice0099 .list_box li a.new { padding-left: 1.6rem; }
.notice0099 .list_box li a.new::before { position: absolute;transform: translateY(-50%); -webkit-transform: translateY(-50%);left: 0 ;width: 1.15rem;height: 1.15rem;line-height: 1.15rem;border-radius: 0.2rem; text-align: center;font-weight: 600;background: #5155ae;color: #fff;content: "N";font-size: 0.6rem; z-index: 1; }
.notice0099 .list_box li p{ width:calc(100% - 4.5rem); overflow:hidden; font-size: .8rem; font-weight: 400; color: #272727; text-overflow: ellipsis; white-space: nowrap; }
.notice0099 .list_box li span { position: absolute; top: 0; right: 0; color: #767676; font-size: 0.75rem; }
.notice0099 .btn_more { top: -3.05rem; background: rgba(81, 85, 174, 0.2);}
/* 게시판 : 데이터 없음 */ 
.notice0099 div.topList { position: relative; top: auto; left: auto; }
.notice0099 div.topList dl.no_data { width: 100%;}
/* 게시판 : active */ 
.notice0099 .titTab a:hover,
.notice0099 .titTab a:focus,
.notice0099 .titTab a.current {color: #5155af; font-weight: 700;}
.notice0099 .titTab a.current::before { display: block; bottom: -0.3rem; }
.notice0099 .list_box.on { display: block; }
.notice0099 .topList:hover dt,
.notice0099 .topList:hover dt {color: #5155ae;}
.notice0099 .topList:hover dd p,
.notice0099 .topList:hover dd p,
.notice0099 .list_box li a:hover p,
.notice0099 .list_box li a:focus p { text-decoration: underline; }
.notice0099 a, 
.notice0099 :before,
.notice0099 .titTab a::before{-webkit-transition:all .15s; -ms-transition:all .15s; transition:all .15s; }

/* 팝업존 */
.pop0099 { position:relative; width:100%; height:100%; }
.pop0099 .control { position: absolute; bottom: -.6rem; right: 0; height: 2.4rem; line-height: 2.4rem; text-align: center; box-shadow: 0 0 5px rgba(36, 36, 37, 0.26); z-index: 1; background: #fff; padding: 0 1rem;}
.pop0099 .control p { display: inline-block; color:#272727; font-weight: 400; font-size:.75rem; vertical-align: middle; font-family: 'Montserrat';}
.pop0099 .control p strong {color: #4956ba; font-weight: 600;}
.pop0099 .control a {display: inline-block; overflow: hidden; text-align:center; color:#000; font-size:.85rem; padding: 0 0.35rem; transition: all .2s; -webkit-transition: all .2s; vertical-align: middle;}
.pop0099 .control a:hover,
.pop0099 .control a:focus {color:#df5c7e;}
.pop0099 .control .play {display: none;}
.pop0099 .pop_img { position:relative; height:11.3rem; margin-top:.25rem; overflow: hidden; background:rgba(0,0,0,0.1);}
.pop0099 .pop_img div[class*='slick-'],
.pop0099 .pop_img .item {height:100%;}
.pop0099 .pop_img .item a { display: flex; height:100%; line-height:0; align-items:center; justify-content: center; overflow:hidden;}
.pop0099 .pop_img .item img {position:relative; max-width:100%; width:auto; height:auto;}


/* 캘린더 */ 
.pop_schedule0099 { position:relative; height:100%; font-size: 0; }
.pop_schedule0099 .tit_wrap { display: inline-block; width:7.5rem; position: relative;  text-align:center; color:#fff;overflow:hidden; vertical-align: top; }
.pop_schedule0099 .tit_wrap h2 {position: relative; font-size: 1rem; font-weight: 600; overflow: hidden; white-space: nowrap; height: 4.25rem; line-height: 4.25rem; background: #5155ae; z-index: 1; padding:0 .5rem;}
.pop_schedule0099 .tit_wrap h2 span {display:block; overflow: hidden; white-space: nowrap;}
.pop_schedule0099 .tit_wrap h2::before { position: absolute; bottom: -5.3rem; right: -4.85rem; width: 11.45rem; height: 8.3rem; border-radius: 50%; transform: rotate(-15deg); -webkit-transform: rotate(-15deg); background: rgba(45, 54, 130, 0.23); z-index: -1; content: ""; }
.pop_schedule0099 .tit_wrap .month { position:relative; height: 4.25rem; line-height: 4.25rem; background: #eee; color: #4956ba; font-size:0.9rem; font-weight: 500; padding-right: 1.5rem;}
.pop_schedule0099 .tit_wrap .month em { display:inline-block; font-size: 1.2rem; font-weight: 700;}
.pop_schedule0099 .inBox { display: inline-block; width: calc(100% - 7.5rem); overflow: hidden; margin-top: 0.85rem; vertical-align: top;}
.pop_schedule0099 .sche_list{position:relative;width: 100%; height: 3.4rem; padding: 0 3.9rem; background: #f1f3ff;}
.pop_schedule0099 .sche_list > a { position:absolute;top: .5rem; width:2rem; height:2rem; line-height:2rem; font-size:1.1rem; background: #fff; color: #272727; text-align: center; border-radius: 50%; transition:.3s; -webkit-transition:.3s; -ms-transition:.3s;}
.pop_schedule0099 .sche_list > .prev { left: 1.5rem; }
.pop_schedule0099 .sche_list > .next { right: 1.5rem; }
.pop_schedule0099 .sche_list ul{ white-space: nowrap; overflow-x: auto; padding: .5rem 0.5rem 0.6rem;}
.pop_schedule0099 .sche_list li{ display:inline-block;}
.pop_schedule0099 .sche_list li a{ display:block;width: 2rem;height: 2rem;line-height: 2rem; margin:0 auto;font-weight: 400; border-radius:50%;font-size: 0.85rem;color: #000; text-align: center; }
.pop_schedule0099 .sche_list li a.event{ background: #d3d8f9;}
.pop_schedule0099 .sche_list li a.today{ position: relative; color:#fff !important; background: #df5c7e; position:relative; z-index: 999;} 
.pop_schedule0099 .sche_list li a.today::before{position: absolute; content: ''; width: 0.4rem; height: 0.4rem; background: #df5c7e; bottom: -0.5rem; left: 50%;transform: translateX(-50%); -webkit-transform: translateX(-50%); border-radius: 50%;}
.pop_schedule0099 .lst { position:relative; z-index:1; padding: 0.85rem 1.5rem 0; }
.pop_schedule0099 .lst ul { overflow-y:auto; height: 3rem;}
.pop_schedule0099 .lst li {width:25%; float:left; margin:.5rem 0; position:relative;}
.pop_schedule0099 .lst li ~ li:after {content: ""; width: 2px; height: 17px; border-left: 2px dotted #dbdbdb; display: block; position: absolute; top: 0.6rem; left: -1.5rem;}
.pop_schedule0099 .lst li:nth-child(4n+1):after {display:none;}
.pop_schedule0099 .lst li a { position:relative; display:block;line-height: 2rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 0.75rem; font-weight: 400; padding: 0 1.5rem 0 2.5rem; color: #000;}
.pop_schedule0099 .sche_list li span{display: block; width: 2rem; height: 2rem; line-height: 2rem; margin: 0 auto; font-weight: 400; border-radius: 50%; font-size: 0.85rem; color: #000;text-align: center;
}
.pop_schedule0099 .sche_list li span.sat{}
.pop_schedule0099 .sche_list li span.sun{}
.pop_schedule0099 .lst li a span{ position:absolute; left:0; top:0; width: 2rem; height: 2rem; background: #4255be; text-align: center; color: #fff; line-height: 2rem; border-radius: 50%; font-weight: 400;}
.pop_schedule0099 .lst .no_data { text-align:center; width:100%; line-height: 3rem; margin: 0; font-size: 0.8rem; }
.pop_schedule0099 .btn_more { top: auto; right: auto; bottom: 0; left: 5.5rem; background: #5155ae; color: #fff; z-index: 1;}
/** 캘린더 : active **/
.pop_schedule0099 .sche_list li:hover a,
.pop_schedule0099 .sche_list li:focus a {text-decoration:underline;}
.pop_schedule0099 .lst li a:hover,
.pop_schedule0099 .lst li a:focus { color: #4255be; }
.pop_schedule0099 .sche_list > .prev:hover,
.pop_schedule0099 .sche_list > .prev:focus {background: #4255be85;}
.pop_schedule0099 .sche_list > .next:hover, 
.pop_schedule0099 .sche_list > .next:focus {background: #4255be85;}

/* 식단 */
.meal_menu0099 { position:relative; width: 100%; height: 100%; background: #df5c7e; padding: 1.65rem 1.5rem 3rem;}
.meal_menu0099 h2 { color: #fff; width: calc(100% - 2.5rem); }
.meal_menu0099 .inner { position:relative; color:#111;}
.meal_menu0099 .inner ul {height: 5.3rem; overflow-y:auto;}
.meal_menu0099 .inner li + li{margin-top:.75rem;}
.meal_menu0099 .inner li:not(.no_data) { display:table; width:100%; height:4.5rem;}
.meal_menu0099 .inner li.no_data { text-align:center; line-height: 4.5rem; color: #fff; }
.meal_menu0099 .inner dl { position:relative; display:table-cell; vertical-align: middle; font-size:0; line-height:0;}
.meal_menu0099 .inner dl > *{font-size: .9rem; line-height:1.4;}
.meal_menu0099 .inner dt {line-height: 2.25rem; text-align: center; font-weight: 600; color: #fff; background: rgba(255, 255, 255, 0.2);}
.meal_menu0099 .inner dd {color: #fff; font-size:0.8rem; word-break:keep-all; padding-top: 0.8rem; padding-right: 2.5rem; font-weight: 400;}
.meal_menu0099 > img{position:absolute; right: 1rem; bottom: -0.5rem; max-width: 4.3rem; height: 4.25rem;}
.meal_menu0099 .btn_more { top: 1.25rem; right: 1.5rem; background: #fff; color: #000; }

/* 갤러리 */
.gallery0099 { position:relative;height: 100%;}
.gallery0099 h2 { margin-bottom: 0.9rem; width: calc(100% - 2.5rem); }
.gallery0099 .list_box ul {display: flex; justify-content: space-between; overflow:hidden;}
.gallery0099 .list_box li{width: 31.5%; float:left;}
.gallery0099 .list_box li:nth-child(n+4) {display: none;}
.gallery0099 .list_box li.no_data{ text-align:center; width:100%; font-size:.8rem;line-height: 10.3rem;background: rgba(0, 0, 0, 0.2);}
.gallery0099 .list_box a { position:relative; display:block; overflow:hidden;}
.gallery0099 .list_box a .img{height: 8.3rem; overflow:hidden; background:#ccc;}
.gallery0099 .list_box a .img img { position:relative; top:50%; left:50%; transform:translate(-50%, -50%) scale(1); -webkit-transform:translate(-50%, -50%) scale(1); -ms-transform:translate(-50%, -50%) scale(1); width:auto; height:100%; transition:.15s; -webkit-transition:.15s; -ms-transition:.15s;} 
.gallery0099 .list_box a p.txt{ display:block; width: 100%; font-size: .8rem; line-height: 2.4rem; font-weight:600; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color: #363636; }
.gallery0099 .list_box a .cont span{ display:block; color:#666;}
.gallery0099 .btn_more { top: -0.3rem; background: #ebebeb; }
/** 갤러리 : active **/
.gallery0099 .list_box a:hover .img img,
.gallery0099 .list_box a:focus .img img {transform:translate(-50%, -50%) scale(1.1); -webkit-transform:translate(-50%, -50%) scale(1.1); -ms-transform:translate(-50%, -50%) scale(1.1);}
.gallery0099 .list_box a:hover p.txt,
.gallery0099 .list_box a:focus p.txt { color:#4255be;}

/* 바로가기1 */
.M_link0099 { position:relative; height:100%; z-index: 9;}
.M_link0099 ul{width: calc(100% + 2rem); margin-left: -1rem; display: table; table-layout: fixed;position: relative;z-index: 999;}
.M_link0099 li { position:relative; display:table-cell; vertical-align: top;}
.M_link0099 li a {position:relative; display: block; width:100%; text-align: center; color: #222;}
.M_link0099 li a p{ display: flex; justify-content: center; align-items: center; width: 4.75rem; height: 4.75rem; text-align:center; background: #fff; box-shadow: 0 0 5px rgba(36, 36, 37, 0.26); margin: 0 auto; transition: .3s; -webkit-transition: .3s; -ms-transition: .3s; border: 3px solid transparent;}
.M_link0099 li a img { width: 55px; height: 52px; vertical-align: middle;}
.M_link0099 li a span{display:block; line-height:1rem; max-height:2rem; font-size: .85rem; margin: 0.6rem .25rem 0; overflow:hidden; font-weight: 600;}
/** 바로가기1 : active **/
.M_link0099 li a:focus p,
.M_link0099 li a:hover p { border-color: #4956ba; box-shadow: none; }
.M_link0099 li a:focus span,
.M_link0099 li a:hover span {color:#4255be; font-weight:700;}

/* 배너존 */
.banner_zone {line-height: 1; border-top: 1px solid #e5e5e5;}
.banner_zone .container {position: relative; height: 4rem; overflow: hidden;}
.banner_zone h2 {float:left; margin-top: 1.5rem; width: 4rem; font-size: 0.8rem; font-weight: 600; color: #191919;}
.banner_zone .btn {float: left; margin-top: 1.3rem; overflow: hidden; border-left:1px solid #ccc;}
.banner_zone .btn a {float: left; width: 1.4rem; height: 1.4rem; line-height:1.4rem; text-align:center; overflow: hidden; border:1px solid #ccc; border-left:0;}
.banner_zone .btn a.play{display:none;}
.banner_zone .bnWrap { width: calc(100% - 10rem); float:left; padding-top: 0.75rem; padding-left:1.5rem; overflow: hidden;}
.banner_zone .bnWrap a {display: block; height: 2.5rem; line-height: 2.3rem; text-align: center; margin:0 5px; border: 1px solid #c8d1db; overflow: hidden;}
.banner_zone .bnWrap a img {max-width: 100%; max-height: 100%; vertical-align: middle;}

@media (max-width: 1240px) {
    /*메인비주얼*/
    .MVisual0099 .item img{width: 145%; height:auto;}
    .MVisual0099 .control {left: 1rem; bottom: 1rem; margin-left: 0;}

    .M_link0099 ul { width: 100%; margin-left: 0; }
    
}

@media (max-width: 1110px) {
    /* 게시판 */
    .notice0099 .topList dl {width: 12rem; padding: 2rem 1.2rem 1.5rem; }
    .notice0099 .list_box ul {padding: 0.8rem 1.2rem 0.8rem 13.5rem;}
}

@media (max-width: 1024px) {
   

    /* 캘린더 */
    .pop_schedule0099 .lst li {width:33.333333%;}

    /* 갤러리 */
    .gallery0099 .list_box li{width: 48%; }
    .gallery0099 .list_box li:nth-child(3n) {display: none; }
} 


@media (max-width:940px){
    h2.heading { margin-bottom: 0.8rem; }

    .notice0099 .titTab li { padding: 0 0.8rem; left: -0.8rem; }
    .notice0099 .topList dl { width: 15rem; }
    .notice0099 .list_box ul { padding: 0.8rem 1.2rem 0.8rem 16.5rem; }
    
}

@media (max-width: 840px) {
    /* 배너존 */
	.banner_zone h2{display:none;}
	.banner_zone .bnWrap{width:calc(100% - 6rem); padding-left:0.75rem;}

    /* 바로가기1 */
    .M_link0099 li { display: inline-block; width: 25%;}
    .M_link0099 li a span{ margin: 0.6rem .25rem 0.6rem; }
}

@media (max-width: 768px) {	
   

    /* 캘린더 */
    .pop_schedule0099 .lst li {width:50%;}

    /* 갤러리 */
    .gallery0099 .list_box li{width: 100%; }
    .gallery0099 .list_box li:nth-child(2) {display: none; }
    .gallery0099 .list_box li + li{margin-left:0;}

    /* 팝업존 */
    .pop0099 .pop_img{ height:auto; }
    .pop0099 .pop_img .item img { top:auto; left:auto; max-height:15rem; transform: none; -webkit-transform: none; -ms-transform: none;}
}

@media (max-width: 640px) {	

    /* 게시판 */
    .notice0099 .topList { position: relative; top: auto; left: auto; }
    .notice0099 .topList dl { width: 100%; height: auto; padding: 1rem; }
    .notice0099 .topList dt{ font-size:.9rem; }
    .notice0099 .topList .date {display: block; font-size: 0.75rem; color: #777; z-index: 1; }
    .notice0099 .list_box ul { padding: 1rem 1.2rem;}
    .notice0099 .list_box li a { line-height: 2rem; }
    /* 게시판 : 데이터 없음 */ 
    .notice0099 .list_box li.no_data{ line-height: 5rem; }
    
    /* 캘린더 */
    .pop_schedule0099 .tit_wrap { display: flex; width: 100%; }
    .pop_schedule0099 .tit_wrap h2 { width: 11rem; }
    .pop_schedule0099 .tit_wrap .month { width: calc(100% - 11rem); }
    .pop_schedule0099 .inBox {width: 100%; margin-top: 0;}
    .pop_schedule0099 .lst { padding: 0.5rem 0 0;}
    .pop_schedule0099 .btn_more { top: 2.25rem; right: 0; left: auto; bottom: auto; }


}

@media (max-width: 560px) {
	/* 메인비주얼 */
	.MVisual0099 .control > a{ width:1.65rem; height:1.65rem; line-height:1.65rem; }

    /* 식단 */
    .meal_menu0099 {padding: 1.2rem 1.2rem 3rem;height: auto;}
    .meal_menu0099 .inner {width: 100%;}
    .meal_menu0099 .btn_more{ top: 1rem; right: 1.2rem; }
    
    /* 캘린더 */
    .gallery0099 .list_box ul { display: block; }
    .gallery0099 .list_box li + li { margin-top: 0.5rem; }

    /* 갤러리 */ 
    .gallery0099 .list_box li:nth-child(2) {display: block; }
     
}

@media (max-width: 480px) {    
    /* 바로가기1 */
    .M_link0099 li { width: 33.333333%;}
    .M_link0099 li:nth-child(n+3) {margin-top:.1rem;}
    .M_link0099 li a p{width: 4rem; height: 4rem; }
    .M_link0099 li a img { width:2.25rem; height:2.1rem;}

    /* 게시판 */
    .notice0099 .titTab {overflow: hidden; }
    .notice0099 .titTab li { max-width:100%;}
    .notice0099 .titTab a.current::before { display: none; }

    /* 캘린더 */
    .pop_schedule0099 .tit_wrap h2 { width: 9rem; }
    .pop_schedule0099 .tit_wrap .month { width: calc(100% - 9rem); }
    .pop_schedule0099 .sche_list {padding:0 2.75rem;}
    .pop_schedule0099 .sche_list > .prev {left:.5rem;}
    .pop_schedule0099 .sche_list > .next {right:.5rem;}
    .pop_schedule0099 .lst ul { height: 7rem; }
    .pop_schedule0099 .lst li { width: 100%; margin: 0; }
    .pop_schedule0099 .lst li + li { margin-top: 0.5rem; }
    .pop_schedule0099 .lst .no_data { line-height: 7rem;}

}

@media (max-width: 320px) {    
   /* 캘린더 */
    .pop_schedule0099 .tit_wrap h2 { width: 8rem; }
    .pop_schedule0099 .tit_wrap .month { line-height:1.25rem; padding-top:1rem; }
    .pop_schedule0099 .tit_wrap .month em {display:block;}

}