/* 메인 컨테이너 */
#container { position:relative; z-index:2; width:100%; }
#container *{ scrollbar-arrow-color: #ddd; scrollbar-Track-Color: #ddd; scrollbar-base-color: #aaa; scrollbar-Face-Color: #aaa; scrollbar-3dLight-Color: #aaa; scrollbar-DarkShadow-Color: #aaa; scrollbar-Highlight-Color: #aaa; scrollbar-Shadow-Color: #aaa;}
#container ::-webkit-scrollbar { width: 5px; height: 3px; }
#container ::-webkit-scrollbar-thumb { background-color: #aaa; border-radius:10px; }
#container ::-webkit-scrollbar-track { background-color: #ddd; border-radius:10px; }
#container .MC_box5 ::-webkit-scrollbar-track { background-color: #f4f4f4; }

.MC_wrap1 { position:relative; background: url(/images/template/T0096/main/m_visual_bg.png) no-repeat center 126px; border-radius:0 1.5rem; }
.MC_wrap1 .container { padding-top:2.35rem; padding-bottom:6.25rem; }
.MC_wrap1 .container:before { position:absolute; right:12.85rem; top:0; width:200%; height:100%; background:#fff7e2; border-radius:0 0 2.5rem; z-index:-1; content:''; }
.MC_wrap2 { position:relative; margin-top:7rem; }
.MC_wrap3 { position:relative; margin-bottom:2rem; }
.MC_wrap3 .container { padding-top:2.5rem; padding-bottom:3rem; }
.MC_wrap3 .container:before { content:""; position:absolute; top:0; left:-2.8rem; z-index:-2; width:200%; height:100%; background:#f5f5ff; border-bottom-left-radius:1.5rem; }

[class^="MC_box"]:after { content:""; display:block; clear:both; }
.MC_box1 { position:relative; height:22rem; } /* 메인비주얼 */
.MC_box2 { position:absolute; left:-1rem; right:-1rem; bottom:-4.55rem; width:auto; border-radius:4.5rem; height:9rem; padding:1.25rem 2rem; clear:both; background:#fff; box-shadow:2px 0 10px rgba(0,0,0,.1); } /* 바로가기1 */
.MC_box3 { position:relative; width:calc(100% - 19.5rem); height:15rem; margin-bottom:2.25rem; padding-right:3.3%; float:left; } /* 게시판 */
.MC_box3:before { content:""; position:absolute; z-index:-1; top:0; left:50%; width:500%; height:100%; background:#fff; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); }
.MC_box4 { position:relative; width:19.5rem; height:14.75rem; margin-bottom:2.25rem; float:left; } /* 팝업존 */
.MC_box5 { clear:both; position:relative; height:auto; padding:1.25rem 0; } /* 식단 */
.MC_box5:before { content:""; position:absolute; top:0; left:-2.8rem; z-index:-2; width:200%; height:100%; background:#dcddfc; border-top-left-radius:1.5rem; }
.MC_box6 { position:relative; width:calc(100% - 32.5%); height:15rem; padding-right:3.3%; float:left; } /* 갤러리 */
.MC_box7 { position:relative; width:32.5%; height:12.5rem; float:left; } /* 캘린더 */


/* responsive */
@media (max-width:1240px){
	.MC_box2 { left:1rem; right:1rem; padding:1.25rem 1.5rem; } /* 바로가기1 */
}

@media (max-width:1200px) {
	.MC_box1 { height:auto; } /* 메인비주얼 */
}

@media (max-width:1024px) {
 

	.MC_wrap1 .container { padding-top:1.5rem; }
	.MC_wrap2 { margin-top:6.5rem; }
	.MC_wrap3 { margin-bottom:1rem; }
	.MC_wrap3 .container { padding-top:1.5rem; padding-bottom:2rem; }

	.MC_box3 { margin-bottom:2rem; } /* 게시판 */
	.MC_box4 { margin-bottom:2rem; } /* 팝업존 */
}

@media (max-width:950px){
	.MC_wrap2 { margin-top:14.5rem; }
	.MC_wrap3 { margin-bottom:1.5rem; }
	.MC_wrap3 .container { padding-top:1.5rem; padding-bottom:1.5rem; }

	.MC_box2 { bottom:-12.55rem; border-radius:1rem; height:17rem; padding:1.25rem; } /* 바로가기1 */
	.MC_box3 { padding-right:2%; margin-bottom:1.5rem; }  /* 게시판 */
	.MC_box4 { margin-bottom:1.5rem; } /* 팝업존 */
	.MC_box6 { padding-right:2%; } /* 갤러리 */
}

@media (max-width:768px){
	.MC_wrap1 .container:before { right:5rem; }
	.MC_wrap2 { margin-top:14rem; }

	.MC_box2 { bottom:-12.05rem; height:16.5rem; } /* 바로가기1 */
	.MC_box3 { width:100%; height:auto; margin-bottom:0; padding-right:0; float:none; }  /* 게시판 */
	.MC_box4 { width:100%; height:auto; margin:1.5rem 0; float:none; }  /* 팝업존 */
	.MC_box5 { height:auto; } /* 식단 */
	.MC_box6 { width:100%; height:auto;  padding-right:0; float:none; } /* 갤러리 */
	.MC_box7 { width:100%; height:auto; margin-top:1.5rem; float:none; } /* 캘린더 */
}

@media (max-width:480px){
	.MC_wrap1 .container { padding-top:1rem; padding-bottom:5.5rem; }
	.MC_wrap2 { margin-top:11.5rem; }
	.MC_wrap3 .container { padding-top:1rem; padding-bottom:1rem; }

	.MC_box2 { bottom:-10.05rem; height:14.5rem; padding:1rem 1rem; } /* 바로가기1 */
	.MC_box4 { margin:1rem 0; }  /* 팝업존 */
	.MC_box5 { padding:1rem 0; } /* 식단 */
	.MC_box7 { margin-top:1rem; } /* 캘린더 */
}

@media (max-width:370px){
	.MC_wrap2 { margin-top:18rem; }

	.MC_box2 { bottom:-16.55rem; height:21rem; padding:1rem .5rem; } /* 바로가기1 */
}

@media (max-width:350px){

}