@charset "utf-8";

/* 메인 컨테이너 */
#container { position:relative; z-index:2; width:100%; }

.MC_wrap1 { position:relative; padding-top:2rem; background:url('/00_common/images/T3001_main/3001_bg_main.png') no-repeat center top; overflow:hidden; }
.MC_wrap1 .container { padding-top:1.3rem; padding-bottom:5rem; }
.MC_wrap2 { position:relative; background:url('/00_common/images/T3001_main/3001_bg02_main.png') no-repeat; background-size:cover; }
.MC_wrap2 .container { padding-bottom:2.1rem; }

.con_wrap { float:right; width:43.5%; }
.con_wrap2 { float:right; width:65%; }

.MC_box1 { position:relative; float:left; width:52%; height:22.45rem; margin-top:2.5rem; } /* 메인비주얼 */
.MC_box2 { position:relative; width:100%; height:7.5rem; margin-top:2.5rem; } /* 바로가기1 */
.MC_box3 { position:relative; width:auto; height:auto; margin-top:3rem; margin-left:0; } /* 팝업존 */
.MC_box4 { position:relative; max-width:1200px; height:15.5rem; margin:-3rem auto 5rem; } /* 게시판 */
.MC_box5 { position:relative; float:left; width:27%; height:28.15rem; } /* 캘린더 */
.MC_box6 { position:relative; width:100%; height:17.55rem; } /* 갤러리 */
.MC_box7 { position:relative; width:100%; height:7.6rem; margin-top:2.3rem; } /* 식단 */

@media (max-width: 1200px) {

    .MC_wrap1 {padding-top:0;}
	.MC_wrap1 .container { padding-bottom:2.5rem; }
    .MC_wrap2 { padding-top:2.5rem; background-image:none; background-color:#ebebeb; }

    .con_wrap2 { float:none; width:100%; }

    /* 팝업존 */
    .MC_box3 { margin-left:0; }

    /* 게시판 */
    .MC_box4 { margin:0 0.7rem 2.5rem 0.7rem; }

    /* 캘린더 */
    .MC_box5 { float:none; width:100%; height:auto; margin-bottom:1.5rem; }

    /* 갤러리 */
    .MC_box6 { height:auto; }

}

@media (max-width: 1024px) {

    .con_wrap { overflow:hidden; float:none; width:100%; height:16.5rem; margin-top:1.5rem; }

    /* 메인비주얼 */
    .MC_box1 { float:none; width:100%; height:auto; margin-top:1.5rem; padding-top:0.4rem; overflow:hidden; margin-top:0; }

    /* 바로가기1 */
    .MC_box2 { float:left; width:52.5%; height:100%; margin-top:0; }
 
    /* 팝업존 */
    .MC_box3 { float:right; width:45%; height:100%; margin-top:0; }

}

@media (max-width: 680px) {

    .con_wrap { height:auto; }
    
    /* 바로가기1 */
    .MC_box2 { float:none; width:100%; }

    /* 팝업존 */
    .MC_box3 { float:none; width:100%; margin-top:1.5rem; }

}

@media (max-width: 600px) {
    
    /* 식단 */
    .MC_box7 { height:auto; }

}

@media (max-width: 540px) {	

    /* 게시판 */
    .MC_box4 { margin-bottom:0.5rem; }

}