@charset "utf-8";

#wrap {position: relative;}
.container {position: relative; margin: 0 auto; max-width: 1200px;}
.container:after { content:""; display:block; clear:both; }

/* 상단(로고 및 메뉴) */
#header {position: relative; margin: 0 auto; height:140px; background: #fff; border-bottom: 1px solid #c0c0c0; }
#header:before {position: absolute; top: 80px; left: 0; width: 100%; height: 1px; background: #c0c0c0; content: "";}
#header h1 {position: absolute; top: 25px; left: 0;}
#header h1 a { display:block; }

.top {height: 80px;}
.top:after {clear: both; display: block; content: "";}
.top_menu {position: absolute; top: 25px; right: 230px;}
.top_menu li {float: left;}
.top_menu li a {position: relative; display: block; padding: 0 10px; line-height: 38px; font-size: 0.7rem; color: #666;}
.top_menu li a:hover,
.top_menu li a:focus { text-decoration:underline; }
.top_menu li + li a:before {position: absolute; top: 16px; left: 0; width: 1px; height: 8px; background: #3e3e3f; content: "";}

/* 검색 - 웹버전 */
.box_search_0 {position: absolute; top: 25px; right: 0; width: 220px; height: 38px; border: 1px solid #5b90ff; border-radius: 19px; overflow: hidden;}
.box_search_0 input {padding: 0 48px 0 10px; width: 100%; height: 36px; line-height: 36px; font-size: 0.6rem; border: none;}
.box_search_0 button {position: absolute; top: -1px; right: -1px; padding: 0; width: 38px; height: 38px; background: #5b90ff url('/00_common/images/common/search.png') no-repeat center center; border: none; border-radius: 50%;}
.box_search_0 input::-webkit-input-placeholder {color: #555;}

/* 웹네비게이션 */
/* gnb common */
#blind{display:none; position:absolute; left:0; top:3rem; width:100%; height:200vh; background:rgba(0,0,0,0.8); z-index:1;}
#nav{position:relative; width:100%; z-index:99999;}
#gnb{position:relative; height:50px; z-index:2;}
#gnb li a{position:relative; display:block; }
#gnb li a span{position:relative;}
#gnb .depth01{width:100%; max-width:100vw; margin:0 auto; z-index:1;}
#gnb .depth01 > ul{text-align:center; width:100%; font-size:0; line-height:0;}
#gnb .depth01 > ul > li{display:inline-block; vertical-align:top; font-size:.8rem; line-height:1.6;}
#gnb .depth01 > ul > li.on > a{color:#22499d !important;}
#gnb .depth01 > ul > li > a{display:table; width:100%; height:3rem; text-align:center; font-size:.9rem; color:#333; padding:0 3rem; font-weight:400; }
#gnb .depth01 > ul > li > a > span{display:table-cell; vertical-align:middle;}
#gnb .depth01 > ul > li > a[target='_blank'] > span:after{content:"\e980"; display:inline-block; padding-left:.25rem; font-family: 'xeicon'; font-size:.9rem; }
#gnb .depth01.depWidth > ul {display:table;}
#gnb .depth01.depWidth > ul > li{display:table-cell;}
#gnb .depth01.depWidth > ul > li > a{padding:0;}
#gnb .depth02{width:100%; height:auto; text-align:left;}
#gnb .depth02 > ul{padding:.75rem 0;}
#gnb .depth02 > ul > li.dep:before{content:"\e913"; position:absolute; right:.5rem; top:.5rem; font-family: 'xeicon'; font-size:.8rem; z-index:2;}
#gnb .depth02 > ul > li.dep:hover:before {color:#fff;}
#gnb .depth02 > ul > li.dep.active:before{content:"\e91a"; color:#fff;}
#gnb .depth02 > ul > li.dep > a{padding-right:1.25rem;}
#gnb .depth02 > ul > li > a{color:#111; font-weight:400; padding:.5rem 1rem; font-size:.8rem;}
#gnb .depth02 > ul > li > a:before{content:""; position:absolute; left:0; top:1.1rem; width:0; height:0; border-radius:50%; background:#22499d;}
#gnb .depth02 > ul > li > a[target='_blank'] > span:after{content:"\e980"; display:inline-block; padding-left:.25rem; font-family: 'xeicon'; vertical-align: middle; font-size:.8rem; }
#gnb .depth02 > ul > li.active > a:before{color:#fff;}
#gnb .depth02 > ul > li > a:hover,
#gnb .depth02 > ul > li.active > a{color:#fff; background:#22499d;}
#gnb .depth03{position:relative; display:none; margin:0 0 .25rem;}
#gnb .depth03 > ul{border-bottom:1px solid #ddd; background:#f9f9f9; padding:.5rem 1rem; }
#gnb .depth03 > ul > li > a{font-size:.75rem; padding:.15rem 0; color:#000; opacity: .8;}
#gnb .depth03 > ul > li > a > span:before{content:""; position:absolute; left:0; bottom:0; width:0; height:1px; background:#777;}
#gnb .depth03 > ul > li > a[target='_blank'] > span:after{content:"\e980"; display:inline-block; padding-left:.15rem; font-family: 'xeicon'; vertical-align: middle; font-size:.7rem; }
#gnb .depth03 > ul > li > a:hover,
#gnb .depth03 > ul > li > a:focus{opacity: 1;}
#gnb .depth03 > ul > li > a:hover > span:before,
#gnb .depth03 > ul > li > a:focus > span:before{width:100%;}
#gnb .active > .depth03{display:block;}
#nav ul, #nav li, #nav :after, #nav :before, #nav div, #nav a{transition: all .3s; -webkit-transition: all .3s; }

/* fullDown */
#nav.fullDown #gnb{height:3rem; overflow:hidden;}
#nav.fullDown #gnb:before{content:''; position:absolute; left:0; top:calc(2.9rem + 1px); width:100%; height:1px; background:rgba(0,0,0,0.1); z-index:1;}
#nav.fullDown #gnb:after{content:""; position:absolute; left:0; top:1px; width:100%; height:0; background:#fff; z-index:0; transition-delay: .3s; opacity: 0;}
#nav.fullDown ul,
#nav.fullDown li{height:100%;}
#nav.fullDown .depth01{position:relative;}
#nav.fullDown .depth01 > ul{display:table;}
#nav.fullDown .depth01 > ul > li{display:table-cell;}
#nav.fullDown .depth01 > ul > li + li{border-left:1px solid transparent;}
/* #nav.fullDown .depth01 > ul > li + li > a:before{content:""; position:absolute; left:-1px; top:0; width:2px; height:4rem; background:#fff; opacity: 0; z-index:2;} */
#nav.fullDown .depth01 > ul > li.on > a{color:#22499d !important;}
#nav.fullDown .depth02{position:relative; left:auto; top:auto; opacity: 0; visibility: hidden; transition-delay: .0s;}
#nav.fullDown .depth02 li{position:relative;}

#nav.fullDown #gnb.active{height:auto;}
#nav.fullDown #gnb.active:after{height:100%; transition-delay: .0s; opacity: 1;}
#nav.fullDown .active .depth01 > ul > li > a{color:#000;}
#nav.fullDown .active .depth01 > ul > li + li{border-color:#eee; transition-delay: .5s;}
#nav.fullDown .active .depth01 > ul > li + li > a:before{opacity: 1;}
#nav.fullDown .active .depth02{opacity: 1; visibility: visible; transition-delay: .3s;}

/* oneDown */
#nav.oneDown #gnb{height:3rem;}
#nav.oneDown #gnb:before{content:''; position:absolute; left:0; top:calc(2.9rem + 1px); width:100%; height:1px; background:rgba(0,0,0,0.1); z-index:1;}
#nav.oneDown ul,
#nav.oneDown li{height:100%;}
#nav.oneDown .depth01{position:relative;}
#nav.oneDown .depth01 > ul{width:100%; text-align:center;}
#nav.oneDown .depth01 > ul > li{position:relative; display:inline-block; float:none;}
#nav.oneDown .depth02{position:absolute; width:100%; left:0; top:3rem; opacity: 0; visibility: hidden; transition-delay: .0s; text-align:left;}
#nav.oneDown .depth02:before{content:""; position:absolute; left:0; top:0; width:100%; height:0; background:#fff; z-index:0; opacity: 0;}
#nav.oneDown .depth02 li{position:relative;}

/*#nav.oneDown #gnb.active{background:#fff;}*/
#nav.oneDown .active .depth01 > ul > li > a{color:#000;}
#nav.oneDown .depth01 > ul > li.on > .depth02{opacity: 1; visibility: visible; display:block;}
#nav.oneDown .depth01 > ul > li.on > .depth02:before{height:100%; opacity: 1; }

/* oneFull */
#nav.oneFull #gnb{height:3rem; }
#nav.oneFull #gnb:before{content:''; position:absolute; left:0; top:calc(2.9rem + 1px); width:100%; height:1px; background:rgba(0,0,0,0.1); z-index:1;}
#nav.oneFull ul,
#nav.oneFull li{height:100%;}
#nav.oneFull .depth01 > ul{width:100%; text-align:center; font-size:0; line-height:0;}
#nav.oneFull .depth01 > ul > li{display:inline-block; float:none; vertical-align: top; font-size:.8rem; line-height:1.6;}
#nav.oneFull .depth02{position:absolute; left:0; top:3rem; opacity: 0; visibility: hidden; transition-delay: .0s; text-align:left;}
#nav.oneFull .depth02:before{content:""; position:absolute; left:0; top:0; width:100%; height:0; background:#fff; z-index:0; opacity: 0; transition-delay: .2s; -webkit-transition-delay: .2s;}
#nav.oneFull .depth02 > ul{width:100%; max-width:80rem; margin:0 auto; font-size:0; line-height:0;}
#nav.oneFull .depth02 > ul > li{width:20%; display:inline-block; vertical-align: top; padding:.75rem .5rem; font-size:.8rem; line-height:1.6;}
#nav.oneFull .depth02 > ul > li > a{text-align:center; border:1px solid #22499d;}
#nav.oneFull .depth02 > ul > li > a:before{display:none;}
#nav.oneFull .depth02 > ul > li > a:hover,
#nav.oneFull .depth02 > ul > li > a:focus{color:#fff; background:#22499d; }
#nav.oneFull .depth03{margin:0 0 .25rem; opacity: 0; transition: all .15s; -webkit-transition: all .15s;}
#nav.oneFull .depth03 > ul{margin-top:.5rem}

#nav.oneFull #gnb.active{height:auto; background:#fff; transition-delay: 0s; -webkit-transition-delay: 0s;}
#nav.oneFull .active .depth01 > ul > li > a{color:#000;}
#nav.oneFull .active .depth03{ opacity:1; transition: all .3s; -webkit-transition: all .3s; transition-delay: .15s; -webkit-transition-delay: .15s; display:block;}
#nav.oneFull .depth01 > ul > li.on > .depth02{opacity: 1; visibility: visible;}
#nav.oneFull .depth01 > ul > li.on > .depth02:before{height:100%; opacity: 1; transition-delay: 0s; -webkit-transition-delay: 0s;}

/* mobile layout */
#tablet {display: none; width: 100%;}
#tabletHeader {position: fixed; top: 0; left: 0; width: 100%; height: 68px; background: #fff; border-bottom: 2px solid #334c82; z-index: 10;}
#tabletLogo {padding: 0.75rem 0 0; text-align: center;}
#tabletLogo a { display:inline-block; }
#tabletLogo a img { vertical-align:middle; }
#menuOpen {position: fixed; top: 22px; left: 2.5%; z-index: 11; width: 24px; height: 23px;}
#menuOpen a { display:block; overflow:hidden; width:100%; height:100%; }
#menuOpen img { width:100%; height:100%; }

/* mobile 검색영역 */
#searchOpen { position: fixed; right: 2.5%; top: 22px; z-index: 11; width: 24px; height: 23px;}
#searchOpen a { display:block; overflow: hidden; width:100%; height:100%; }
#searchOpen img { width:100%; height:100%; }

#mSearch { overflow: hidden; position: fixed; top: 68px; left: 0; z-index: 11; width: 100%; height: 0; background-color: #334c82; -webkit-transition: 0.25s ease; -ms-transition: 0.25s ease; transition: 0.25s ease; }
#mSearch .con p {position: relative; margin: 0 auto; padding: 20px 170px 0 0; width: 90%;}
#mSearch .con .inputText {width: 100%; padding: 0 10px 0; height: 39px; line-height: 39px; background: #fff; border-radius: 3px 0 0 3px; border:0;}
#mSearch .con .btnSearch {position: absolute; top: 20px; right: 90px; min-width: 80px; font-size: 0.75rem;}
#mSearch .btnSearch, 
#mSearch a.btnSearch {display: inline-block; height:39px; color: #fff; background-color: #5b80ce; border: 0; border-radius: 0 3px 3px 0; line-height:39px;}
#mSearch .btnSearchClose {position: absolute; top: 25px; right: 5%; width: 25px; height: 33px; padding: 0; color: transparent; background: url('/00_common/images/common/btn_search_close.png') no-repeat 50% 0; overflow: hidden;}
#mSearch.active {height: 90px;}

/* mobile navi */
#mNavi {position:absolute; top: 0; left: -80%; width: 80%; height: 100%; background-color: #30394a; transition: 0.25s ease; -webkit-transition: 0.25s ease;}
#mNavi::before {position: fixed; top: 0; left: -80%; width: 80%; height: 100%; background-color: #30394a; z-index: 11; content: ""; transition: 0.25s ease; -webkit-transition: 0.25s ease;}
#mNavi #mtitle {position: relative; width: 100%; height: 68px; background: #354052; border-bottom: 1px solid #434d5e; z-index: 12;}
#mNavi #mtitle a {position: absolute; top: 18px; left: 18px; display: inline-block; width: 34px; height: 34px; color: transparent; background:url('/00_common/images/common/btn_close.gif') no-repeat; background-size: 100% auto; overflow: hidden;}
#mNavi.active {left: 0;}
#mNavi.active::before {left: 0;}

#mNavi #mgnb {position: relative; z-index: 12;}
#mNavi #mgnb .snb {border-bottom: 1px solid #535c6c;}
#mNavi #mgnb .snb, #mNavi #mgnb .snb ul li {background-color: #30394a;}
#mNavi #mgnb .snb li {float: left; border-bottom: 0;}
#mNavi #mgnb .snb li a {display: inline-block; padding: 0 1rem; height: 2.5rem; line-height: 2.5rem; text-align: left; font-size: 0.7rem; color: #fff; vertical-align: middle;}

#mNavi #mgnb ul {overflow: hidden}
#mNavi #mgnb ul li {position: relative; border-bottom: 1px solid #535c6c; background-color: #30394a;}
#mNavi #mgnb ul li a {display: block; padding: 0 0 0 1rem; height: 2.5rem; line-height: 2.5rem; color: #fff;}
#mNavi #mgnb ul li a:hover, #mNavi #mgnb ul li a:focus, #mNavi #mgnb ul li a:active {color: #2eaced;}

#mNavi #mgnb ul li ul {display: none; padding: 0.5rem 0; background-color: #202631;}
#mNavi #mgnb ul li ul li {border-bottom: 0; background-color: #202631}
#mNavi #mgnb ul li ul li a {height: 2rem; line-height: 2rem; font-size: 0.7rem;}

#mNavi #mgnb ul li ul li ul {display: none; padding: 0.25rem 0;}
#mNavi #mgnb ul li ul li ul li a {padding: 0 0 0 1.5rem; height: 1.5rem; line-height: 1.5rem; font-size: 0.6rem; color: #ccc;}

#mNavi #mgnb ul li ul li.row > a:before,
#mNavi #mgnb ul li ul li.row > a:after {position: absolute; display: block; background-color: #a7a8aa; content: '';}
#mNavi #mgnb ul li ul li.row > a:before {top: 14px; right: 18px; width: 9px; height: 1px;}
#mNavi #mgnb ul li ul li.row > a:after {top: 10px; right: 22px; width: 1px; height: 9px;}
#mNavi #mgnb ul li ul li.on > a:after {display: none;}

/* footer */
#footer {position: relative;padding: 1.5rem 0 2.5rem;color:#fff;font-weight:200;font-size: 0.7rem;background: #273640;}
#footer .container{padding-right: 15rem;}
.footer_link {margin-bottom: 1rem;}
.footer_link ul { overflow:hidden; }
.footer_link li {float: left;}
.footer_link li a {display: block; padding: 0 12px; letter-spacing: -0.025em; background: url('/00_common/images/common/bar_footer.png') no-repeat left center; }
.footer_link li:first-child a {padding-left: 0; background: none;}
.footer_link li a:hover,
.footer_link li a:focus { text-decoration:underline; }
.footer_link li a strong { color: #d2e0ff; font-weight:400; }
#footer address { line-height: 2; }
#footer address span { display:block; }
#footer .copyright { color:#a2a8a8; }
#footer .btn_top { display:block; overflow:hidden; position:fixed; right:0; bottom:35px; z-index:100; width:2.6rem; height:2.6rem; }
#footer .btn_top img { width:100%; height:100%; }

/* 방문자수 */
.visitant {position:absolute;top: 0;right:0;width:23%;height:2rem;background:#90b2d0;border-radius:40px;}
.visitant h2 {text-indent:-10000em; font-size:0;}
.visitant ul {overflow:hidden;}
.visitant ul li {width:49%; float:left; line-height:2rem; text-align:center; color:#fff; font-size:0.65rem;}
.visitant ul li + li { background: url('/00_common/images/common/bar_visitant.png') no-repeat left center; }
.visitant ul li strong {margin-right:0.5rem; color:#333; }

/* 서브레이아웃 */
#sub_container {position:relative; background:#fff;}
#sub_container:after {content:""; display:block; clear:both;}

.S_visual{position:relative; width:100%; background:#f5fdff;}
.S_visual p {max-width:1920px; margin:0 auto; text-align:center; line-height:0; overflow:hidden;}
.S_visual p img{width:100%; }

.sub_content {position:relative; z-index:7; max-width:1200px; margin:0 auto; min-height:600px;}

.box_line_map_1 .sp_home,
.box_line_map_1 .span_gt {display:block; overflow:hidden; height:0; font-size:0; line-height:100px; text-indent:-10000px;}

/* 서브메뉴 */
#snb {height:3.25rem; line-height:3.25rem; background:#5e92ff; border-radius:1.5rem 1.5rem 0 0; margin-top:-1.5rem; } 
#snb .snb_wrap { position:relative; padding-left:3.25rem; }
#snb .home {position:absolute; left:0; top:0; display: inline-block; width: 3.25rem; height: 3.25rem; background: #5382e6; border-radius:1.5rem 0 0 0; }
#snb .home:after {display: block; text-align: center; font-family: "xeicon"; font-size: 1.2rem; color: #fff; content: "\e900";}
#snb a { position: relative; display: block; font-size: 0.8rem; color:#333; z-index:1; }
#snb ul { position: absolute; left: 0; top: 0; padding-top: 3.25rem; height: 3.25rem; }
#snb ul.open { height: auto; } 
#snb ul.open > li { visibility: visible; opacity: 1; }  
#snb ul.open > li.active > a:after { width: 100%; }
#snb ul.open > li.active > a:before { -webkit-transform: rotate(180deg); transform: rotate(180deg); opacity:1; }
#snb li { position:relative; width: 100%; opacity: 0; visibility: hidden;  }
#snb li a{line-height:1.6; font-size:0.75rem; } 
#snb li.active { position: absolute; top: 0; left: 0; display: table; width: 100%; height: 3.25rem; visibility: visible; opacity: 1; z-index:1;  }
#snb li.active:before { content:""; position:absolute; right:0; top:1rem; width:1px; height:1.25rem; background:#fff; opacity:0.5; } 
#snb li.active > a { display: table-cell; color:#fff; vertical-align: middle; padding:0 2rem 0 1rem; }
#snb li.active > a:before { content: "\e941"; position: absolute; right: 1rem; top: 0;  font-family: 'xeicon'; font-weight: normal; line-height:3.25rem; opacity:0.65;} 
#snb li:not(.active) > a {  padding: 0.6rem 1rem; background: #fff; border:1px solid #ccc; border-top:none;}
#snb li:not(.active):last-child > a { border-radius:0 0 0.5rem 0.5rem;}
#snb li:not(.active) > a:hover,  
#snb li:not(.active) > a:focus { background:#f1f2f4; color:#3277dd;}
#snb li:not(.active) > a span { position: relative; padding: 0.25rem 0; }
#snb li > a[target='_blank'] > span:after { content: "\e980"; display: inline-block; margin-left: 5px; font-size: 0.8rem; font-family: 'xeicon'; }
#snb .dep01 { width:11.6rem; position: relative; z-index: 3; }
#snb .dep01 > li { width: 100%; } 
#snb .dep02,
#snb .dep03 { left: 100%; width: 100%; }
#snb li, #snb a, #snb :before, #snb :after{transition: all .3s; -webkit-transition: all .3s;}

/* 서브페이지 */
#subContent{position:relative; margin:0 0 100px 0;}
.subContent_body{position:relative; min-height:600px;}

/* 로케이션 */
#location {position:absolute; right:90px; top:65px; display:block; overflow:hidden; font-size:14px; }
#location img {vertical-align:middle; margin-top:-2px}
#location span,
#location strong {display:inline-block; padding-left:13px; margin-left:7px; background:url('/00_common/images/sub_com/bgLocation.gif') no-repeat 0 7px;}
#location span {color:#666;}
#location strong {color:#333;}

.box_line_map{display:none;}

/* 페이지 타이틀 */
#subContent #pageTitle { position:relative; display:block; font-size:1.3rem; letter-spacing:-1px; color:#111; font-weight: 400; padding:2rem 0 1rem 0; margin-bottom:30px; text-align:center; border-bottom:1px dotted #d0d5df;} 
#subContent #pageTitle:before{ content:""; position:absolute; top:1.8rem; left:50%; margin-left:-0.75rem; width:1rem; height:1rem; background:#0085d8; border-radius:50%; opacity:0.43; z-index:-1;}
#subContent #pageTitle:after{ content:""; position:absolute; top:1.8rem; right:50%; margin-right:-0.75rem; width:1rem; height:1rem; background:#00d3d5; border-radius:50%; opacity:0.43; z-index:-1;}
#subContent #pageTxt {margin:8px 0 30px 0; color:#666; font-size:13px; line-height:150%; font-weight: 200;}

/* etc : sns */ 
.snsBox {position:absolute; top:0; right:0; height:3.25rem; text-align:right; z-index:2;} 
.snsBox:after {content:""; position:absolute; left:50%; top:1rem; width:1px; height:1.25rem; background:#fff; opacity:0.5;}
.snsBox > button { width:2.5rem; text-align:center; height:3.25rem; font-size:0;} 
.snsBox > button:before { font-size:1rem; font-family:"xeicon"; color:#fff;  }
.snsBox .btnPrint:before {content:"\e9bb"; } 
.snsBox .btnShare:before {content:"\e9e9";}
.sns_more {display:none; position:absolute; width:190px; right:3rem; top:3.5rem; }
.sns_more button {display:inline-block; width:34px; height:34px; overflow:hidden; background:url("/00_common/images/sub_com/btnSns.png") no-repeat 0 0; cursor:pointer}
.sns_more .btnFbook {background-position:0 0;}
.sns_more .btnTwt {background-position:-34px 0;}
.sns_more .btnkko {background-position:-68px 0;}
.sns_more .btnkks {background-position:-102px 0;}
.sns_more .btnBlog{background-position:-136px 0;} 

/* media query mobile */
@media screen and (max-width: 1280px){
	.container {margin: 0 0.7rem;}

	#gnb .depth01 > ul > li > a{font-size:.8rem; }
	
	/* oneDown */
	#nav.oneDown .depth02{width:100%; left:0;}

	.sub_content { width:95%; }

	
}

@media screen and (max-width: 1200px){

	

}

@media screen and (max-width: 1024px){

	/* 상단(로고 및 메뉴) */
	#header {height: 68px; border-bottom: none;}
	#header:before {display: none;}
	#web {display: none;}
	#tablet,
	.tabletlogo {display: block;}

	/* footer */
	#footer:before {display: none;}
	#footer .container{padding-right:0;}
	.footer_link li {width: 100%;}
	.footer_link li {width: 33.33%; line-height: 30px; border: 1px solid #ddd;}
	.footer_link li a {background:none; text-align: center;}
	.footer_link li:nth-child(4), .footer_link li:nth-child(5) { border-top:0}
	.footer_link li:nth-child(2), .footer_link li:nth-child(3), .footer_link li:nth-child(5) {border-left:0}

	/* 방문자수 */
    .visitant {position:relative;top: auto;right: auto;width: auto;margin-top: .5rem;}
	
	/*맨위로가기*/
	.btn_top{bottom:2.5%; right:2.5%;}

	/* 서브레이아웃 */
	#sub_container,
	.sub_content,
	.S_visual{width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box}
	#sub_container {margin-top:0;}	
	#sideContent {display:none;}
	
	#subContent{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; width:100%; margin:0 0 50px 0;}
	.subContent_body{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; padding:0 2% 0; min-height:auto;}
	
	#snb { border-radius:0; margin-top:0;}
	#snb .home { border-radius:0;}

	/* 서브비주얼 */
	.S_visual p img{width:140%; margin-left:-20%; } 
	#location {display:none;}

	/* etc : sns*/ 
	.snsBox:after {display:none;}
	.snsBox .btnPrint { display:none; }
	.sns_more { right:0.5rem;}

	/* linemap */
	.box_line_map_1 .span_gt,
	.box_line_map_1 .sp_home,
	.box_line_map_2 > a .sp_img {background-image:url("/00_common/images/common/sp_sub.png"); background-repeat:no-repeat;}
	.box_line_map {display:block; width:100%; position:relative; z-index:80; height:39px; padding:0; margin:0; border-bottom:1px solid #eee; background-color:#f3f3f3;}
	.box_line_map_1 {position:relative; width:100%;}
	.box_line_map_1 > p,
	.box_line_map_1 > p > span,
	.box_line_map_1 .box_line_map_2 {float:left; margin:0 7px;}
	.box_line_map_1 .box_line_map_2 {margin:0;}
	.box_line_map_1 > p {height:39px; font-weight: 400; color:#555;}
	.box_line_map_1 > p > span {font-weight: 400;}
	.box_line_map_1 .txt  {line-height:39px;}
	.box_line_map_1 .sp_home {width:15px; margin:14px 7px 0 13px; padding-top:13px; background-position:0 0;}
	.box_line_map_1 .span_gt {width:9px; margin-top:12px; padding-top:17px; background-position:-40px 0;}
	.box_line_map_2 {position:relative;}
	.box_line_map_2.on {width:200px;}
	.box_line_map_2 > a {display:block; float:left; position:relative; padding-right:23px; line-height:39px; font-weight: 400; color:#555;}
	.box_line_map_2 > a .sp_img {display:block; position:absolute; top:18px; right:5px; width:9px; height:5px; background-position:-20px 0;}
	.box_line_map_2.on > a .sp_img {background-position:-30px 0;}
	.box_line_map_2.on > a {color:#151515;}
	.box_snb_1 {display:none; overflow:hidden; position:absolute; top:35px; left:-5px; z-index:1; max-height:0;}
	.box_snb_1 ul {border-top:1px solid #d5d5d5; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5;}
	.box_snb_1 a {display:block; font-size:12px; padding:0 20px; border-bottom:1px solid #d5d5d5; background-color:#fff; color:#555; line-height:39px; white-space:nowrap;}
	.box_snb_1 a:hover,
	.box_snb_1 li.on a {background-color:#5b90ff; color:#fff; text-decoration:underline;}
	
	/* 전체 가로 스크롤 테이블  */
	#all-scroll{display: block; position:relative; overflow:hidden; overflow-x: auto; margin:0}
	#all-scroll .page{white-space: nowrap; border-bottom:0; border-right:0}

}
@media (max-width:800px) {
	/* 서브메뉴 */ 
	#snb { height:3rem; line-height:3rem; }
	#snb .home { height:3rem; }
	#snb li.active { height:3rem; }
	#snb li.active:before { display:none; }
	#snb .dep01{width:calc(100% - 2.5rem)}
	#snb .dep02 > li.active{border-left:0;}
	#snb ul { padding-top:3rem; height:3rem; }
	#snb ul.open:before  { top:3rem; height:calc(100% - 3rem); }
	#snb ul:not(.mobSnb) { left: 0; }
	#snb ul:not(.mobSnb):before { display: none; }
	#snb ul:not(.mobSnb) li { width: 100%; }
	#snb ul:not(.mobSnb) li.active > a { opacity: 0; }
	#snb ul.mobSnb { opacity: 1; left: 0; }
	#snb ul.mobSnb > li.active > a { opacity: 1; z-index:1; } 
	#snb li.active > a:before { line-height:3rem; }
	.snsBox > button { height:3rem;}

}
@media (max-width:690px) {
    /* 서브레이아웃 */
	/* 페이지 타이틀 */
	#pageTitle {font-size:24px; padding-top:18px;}	
}

@media (max-width:560px) {
	/* mobile 검색영역 */
	#mSearch .con p {padding-right:120px;}
	#mSearch .con .btnSearch {right:50px; min-width:70px;}
	
	/* footer */
	.footer_link li {width:50%}
	.footer_link li:nth-child(3), .footer_link li:nth-child(5){border-left:1px solid #ddd !important;}
	.footer_link li:nth-child(3){border-top:0}
	.footer_link li:nth-child(4) {border-left:0 !important}
}

@media screen and (max-width: 480px){
	/* footer */
	.footer_link li {width:100%}
	.footer_link li:nth-child(2), .footer_link li:nth-child(4), .footer_link li:nth-child(5){border-left:1px solid #ddd !important;}
	.footer_link li:nth-child(2){ border-top:0 !important}
	
	 /* 서브레이아웃 */ 
	/* linemap */
	.box_line_map_2 > a {padding-right:0;}
	.box_line_map_2 > a .sp_img,
	.box_line_map_1 .sp_home,
	.box_line_map_1 .sp_home + .span_gt{display:none}
	.box_line_map_1 .span_gt {overflow:hidden; position:relative; width:23px; height:39px; margin-top:0; padding-top:0; background-image:none;/* Old browsers */ background: #f3f3f3;/* FF3.6+ */ background: -moz-linear-gradient(left,  #bababa 0%, #f3f3f3 100%); /* Chrome,Safari4+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%,#bababa), color-stop(100%,#f3f3f3)); /* Chrome10+,Safari5.1+ */  background: -webkit-linear-gradient(left, #bababa 0%, #f3f3f3 100%); /* Opera 11.10+ */ background: -o-linear-gradient(left,  #bababa 0%,#f3f3f3 100%); /* IE10+ */ background: -ms-linear-gradient(left, #bababa 0%, #f3f3f3 100%); /* W3C */ background: linear-gradient(to right, #bababa 0%, #f3f3f3 100%); /* IE6-9 */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#f3f3f3', GradientType=1 );}
	.box_line_map_1 .span_gt:before{display:block; position:absolute; top:20px; left:-40px; width:40px; height:40px; border:1px solid #fff; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg); -webkit-transform-origin:0 0; -moz-transform-origin:0 0; -ms-transform-origin:0 0; transform-origin:0 0; background-color:#f3f3f3; content:'';}
	.box_line_map_1 > p > span,
	.box_line_map_1 > p {margin:0 3px;}
	.box_line_map_1 > p:first-child {padding-left:10px;}
}

@media (max-width:380px) {
	/* mobile navi */
	#mNavi #mgnb .snb li a {padding: 0 0.75rem;}

	/* footer */	
	.box_footer .box_info span:before{content: ''; display: block;}
	
	 /* 서브레이아웃 */
	/* 페이지 타이틀 */
	#pageTxt {font-size:12px; margin:6px 0 20px 0;}
}


