@import url("basic.css");
@import url("../../../font/XEIcon-2.3.3/xeicon.min.css");

/*-------------------------------------------------
Author : KLIC
Create date : 2020. 05. 19. SY,CHo
-------------------------------------------------*/

/* ========================================== BODY */

#wrap {position: relative; padding-bottom: 6.25rem; min-height: 100vh; transition: all 0.35s; -webkit-transition: all 0.35s;}
#wrap:after {position: absolute; top: 3rem; left: 12.5rem; width: 1px; height: calc(100% - 3rem); background: #e7e7e7; opacity: 0; content: ""; transition: all 0.35s; -webkit-transition: all 0.35s;}

#container {margin-left: 0; transition: all 0.35s; -webkit-transition: all 0.35s;}
#container:after {clear: both; display: block; width: 100%; content: "";}

/* ========================================== HEADER */

#header {position: relative; height: 3rem; line-height: 3rem; color: #fff; letter-spacing: -0.05em; background: #3f4d67/** #0081dd */;}
#header .logo {position: absolute; top: 0.5rem; left: 1.5rem;}
#header .logo a {display: block; width: 8.75rem; height: 2rem; color: transparent; background: url(/images/web/apple/layout/logo.png) no-repeat left top / 100%; overflow: hidden;}
#header a:hover,
#header a:focus{ text-decoration: underline;}

#util {position: absolute; top: 0; right: 0; display: inline-block; height: 3rem; font-size:0;}
#util > p { height:100%; display:inline-block;}
#util > p > a{ color:#fff; line-height:3rem; padding:0 1.5rem; font-size:.75rem;}
#util > p.util_blue { background:#3256ca; } 
#util > p.util_navy { background:#344784; }
#util > p.util_purple { background:#0000bf; }
#util > p.util_darkNavy { background:#333f54; }
#util .userInfo{ display:inline-block; margin-left:2rem; vertical-align: top;}
#util .userInfo > li {float: left; font-size:.75rem; line-height:3rem;}
#util .userInfo > li ~ li{ margin-left:1.5rem;}
#util .userInfo > li > a {position: relative; display: inline-block; padding-right:2.25rem;}
#util .userInfo > li > .icons:before {display:inline-block; width: 1.5rem; height: 1.5rem; line-height: 1.4rem; text-align: center; font-family: 'xeicon'; font-size: 0.9rem; border: 0.05rem solid #fff; border-radius: 50%; margin-right:5px; vertical-align: middle;}
#util .icon01:before {content: "\ea94";}
#util .icon02:before {content: "\e9f3";}
#util .icon02:after {position: absolute; top: 0; right: 1rem; font-family: 'xeicon'; content: "\e936";}
#util .icon03:before {content: "\eada";}

#boxAdmin {position: absolute; top: 3rem; right: 1.5rem; height: 0; line-height: 1.5; color: #666; background: #fff; border: 1px solid #dcdcdc; overflow: hidden; z-index: 1; opacity: 0; visibility: hidden; transition: all 0.25s; -webkit-transition: all 0.25s;}
#boxAdmin:after {position: absolute; top: -6px; right: 1rem; width: 10px; height: 10px; background: #fff; border-top: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; content: ""; transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
#boxAdmin .memInfo {position: relative; padding: 1rem 5rem 0.75rem 4.5rem; min-width: 13rem;}
#boxAdmin .memInfo .memPhoto {position: absolute; top: 50%; left: 1rem; display: inline-block; margin-top: -1.25rem; width: 2.5rem; height: 2.5rem; background: #fafafa url(/images/web/apple/layout/bg.png) no-repeat center; border: 1px solid #dcdcdc; border-radius: 50%; overflow: hidden;}
#boxAdmin .memInfo .memPhoto img {max-width: 100%;}
#boxAdmin .memInfo .memName strong {font-size: 0.75rem; color: #000;}
#boxAdmin .memInfo .btnLog {position: absolute; bottom: 0.75rem; right: 1rem; padding: 0.25rem 0.5rem; font-family: 'Titillium Web'; font-size: 0.65rem; color: #676767; background: #fafafa; border: 1px solid #e7e7e7;}
#boxAdmin .conInfo {padding: 0.5rem 1rem; background: #fafafa; border-top: 1px dashed #dcdcdc;}
#boxAdmin .conInfo strong {color: #000;}
/* active */
#boxAdmin.active {height: auto; overflow: visible; opacity: 1; visibility: visible;}

/* ========================================== 메인메뉴 */

#mainMenu {position: absolute; top: 3rem; left: -12.5rem; width: 12.5rem; color: #333; transition: all 0.25s; -webkit-transition: all 0.25s;}
#mainMenu a {position: relative; display: block; padding: 0 1rem;}
#mainMenu .gnb > li > a {font-size: 0.75rem; height: 3rem; line-height: 3rem; border-bottom: 1px solid #e7e7e7;}
#mainMenu .gnb > li > a .icons {display: inline-block; margin-right: 0.5rem; width: 0.8rem; height: 0.8rem; vertical-align: middle; background: url(/images/web/apple/main/icons1.png) no-repeat; background-size: 8.8rem auto;}
#mainMenu .gnb > li > a .icon01 {background-position: 0 0;}
#mainMenu .gnb > li > a .icon02 {background-position: -0.8rem 0;}
#mainMenu .gnb > li > a .icon03 {background-position: -1.6rem 0;}
#mainMenu .gnb > li > a .icon04 {background-position: -2.4rem 0;}
#mainMenu .gnb > li > a .icon05 {background-position: -3.2rem 0;}
#mainMenu .gnb > li > a .icon06 {background-position: -4rem 0;}
#mainMenu .gnb > li > a .icon07 {background-position: -4.8rem 0;}
#mainMenu .gnb > li > a .icon08 {background-position: -5.6rem 0;}
#mainMenu .gnb > li > a .icon09 {background-position: -6.4rem 0;}
#mainMenu .gnb > li > a .icon10 {background-position: -7.2rem 0;}
#mainMenu .gnb > li > a .icon11 {background-position: -8rem 0;}
#mainMenu .gnb .dep2 {display: none; padding: 0.65rem 0 0.65rem 1rem; color: #444; background: #fafafa; border-bottom: 1px solid #e7e7e7;}
#mainMenu .gnb .dep2 > li > a {height: 1.75rem; line-height: 1.75rem;}
#mainMenu .gnb .dep2 > li > a:after {position: absolute; top: 0; right: 0.65rem; font-family: 'xeicon'; color: #fff; content: "\ea3e";}

#mainMenu .gnb > li.active > a, #mainMenu .gnb > li > a:hover {color: #0081dd;}
#mainMenu .gnb > li.active > a .icon01, #mainMenu .gnb > li > a:hover .icon01 {background-position: 0 -0.8rem;}
#mainMenu .gnb > li.active > a .icon02, #mainMenu .gnb > li > a:hover .icon02 {background-position: -0.8rem -0.8rem;}
#mainMenu .gnb > li.active > a .icon03, #mainMenu .gnb > li > a:hover .icon03 {background-position: -1.6rem -0.8rem;}
#mainMenu .gnb > li.active > a .icon04, #mainMenu .gnb > li > a:hover .icon04 {background-position: -2.4rem -0.8rem;}
#mainMenu .gnb > li.active > a .icon05, #mainMenu .gnb > li > a:hover .icon05 {background-position: -3.2rem -0.8rem;}
#mainMenu .gnb > li.active > a .icon06, #mainMenu .gnb > li > a:hover .icon06 {background-position: -4rem -0.8rem;}
#mainMenu .gnb > li.active > a .icon07, #mainMenu .gnb > li > a:hover .icon07 {background-position: -4.8rem -0.8rem;}
#mainMenu .gnb > li.active > a .icon08, #mainMenu .gnb > li > a:hover .icon08 {background-position: -5.6rem -0.8rem;}
#mainMenu .gnb > li.active > a .icon09, #mainMenu .gnb > li > a:hover .icon09 {background-position: -6.4rem -0.8rem;}
#mainMenu .gnb > li.active > a .icon10, #mainMenu .gnb > li > a:hover .icon10 {background-position: -7.2rem -0.8rem;}
#mainMenu .gnb > li.active > a .icon11, #mainMenu .gnb > li > a:hover .icon11 {background-position: -8rem -0.8rem;}
#mainMenu .gnb > li.active .dep2 {display: block;}
#mainMenu .gnb .dep2 > li.active > a, #mainMenu .gnb .dep2 > li > a:hover {color: #fff; background: #53657c;}

/* ========================================== 컨텐츠 공통 */

/* NOTICE */
.MC_notice {padding: 0 1rem; height: 3rem; background: #fafafa; border-bottom: 1px solid #e7e7e7;}
.MC_notice .allMenu {position: relative; float: left; display: inline-block; margin-top: 0.65rem; width: 1.7rem; height: 1.7rem; line-height: 1.7rem; color: transparent; border: 1px solid #dcdcdc; overflow: hidden;}
.MC_notice .allMenu:before {position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; font-family: 'xeicon'; font-size: 1rem; color: #666; content: "\e91c"; transition: all 0.35s; -webkit-transition: all 0.35s;}
.MC_notice .notice {position: relative; float: right; display: inline-block; margin-top: 0.85rem; padding: 0 2.6rem 0 4.5rem; width: 25rem; height: 1.3rem; line-height: 1.3rem;}
.MC_notice .notice h3 {position: absolute; top: 0; left: 0; padding-left: 1.4rem; font-family: 'Titillium Web'; font-size: 0.8rem; font-weight: 400; color: #000;}
.MC_notice .notice h3:before {position: absolute; top: 0; left: 0; font-family: 'xeicon'; font-size: 1rem; color: rgba(0,0,0,0.6); content: "\ea5b";}
.MC_notice .notice .slideBox {display: block; width: 100%; height: 1.3rem; overflow: hidden;}
.MC_notice .notice .btns {position: absolute; top: 0; right: 0; margin-top: 0; width: 2.6rem;}
.MC_notice .notice .btns a {position: relative; display: inline-block; width: 1.3rem; height: 1.3rem; color: transparent;}
.MC_notice .notice .btns a:after {position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; font-family: 'xeicon'; font-size: 0.9rem; color: #666; border: 1px solid #dcdcdc; overflow: hidden;}
.MC_notice .notice .btns .prev:after {content: "\e930";}
.MC_notice .notice .btns .next {margin-left: -1px;}
.MC_notice .notice .btns .next:after {content: "\e936";}

.MC_notice + h2 {padding: 0 1rem; line-height: 3rem; font-size: 0.9rem; font-weight: 400; color: #000; border-bottom: 1px solid #e7e7e7;}

/* ========================================== 푸터 레이아웃 */

#footer {position: absolute; left: 0; bottom: 0; padding: 2rem 1rem; width: 100%; background: #fafafa; border-top: 1px solid #dcdcdc; transition: all 0.25s; -webkit-transition: all 0.25s;}
#footer address strong {display: inline-block; margin: 0 0.25rem 0 1.5rem; font-weight: 400; color: #333;}
#footer .copyright {margin-top: 0.25rem; color: #828282;}

#wrap.active:after {opacity: 1;}
#wrap.active #container {margin-left: 12.5rem; min-width: 320px;}
#wrap.active #mainMenu {left: 0;}
#wrap.active .MC_notice .allMenu:before {content: "\e906";}
#wrap.active #footer {left: 12.5rem; width: calc(100% - 12.5rem); min-width: 320px;}

@media screen and (max-width: 1280px){
	.MC_notice .notice {width: calc(100% - 3rem);}
}

@media screen and (max-width: 1024px){
}

@media screen and (max-width: 768px){
	/* ========================================== HEADER */
	#util > li > a {padding: 0; width: 2rem; height: 3rem; color: transparent;}
	#util > li > a:after {color: #fff;}
	#boxAdmin {right: 0;}
}

@media screen and (max-width: 600px){
	.MC_notice .notice .btns a {margin-top: 0;}
}
