@charset "utf-8";

button {cursor:pointer;}

/* 로그인 : Start *******************************************************************************************************************************************************************************************************/
/* 로그인 : 회원로그인 / SNS로그인 / 휴대전화 본인확인 / 나이스 아이핀(I-PIN)인증 공통 */
.mber_login_box {position:relative; padding:0.5rem; overflow:hidden;}
.mber_login_box .mber_login_OR {display:block; position:absolute; left:50%; top:3.75rem; width:2.5rem; height:20.9rem; margin-left:-1.25rem;}
.mber_login_box .mber_login_OR:before {content:""; display:block; position:absolute; left:50%; top:0; width:1px; height:100%; border-left:1px dashed #bec3cc;}
.mber_login_box .mber_login_OR:after {content:"OR"; display:block; position:absolute; left:50%; top:50%; width:2.5rem; height:2.5rem; margin:-1.25rem 0 0 -1.25rem; padding-right:0.35rem; line-height:2.5rem; font-size:1.1rem; font-style:italic; text-align:center; color:#fff; background:#7995b8; border-radius:1.25rem;}

.mber_login_box h3.login_tit {margin-top:0.5rem; line-height:2rem; color:#111; font-size:1.5rem; font-weight:400;}
.mber_login_box h3.login_tit span {color:#044ca4;}
.mber_login_box p.login_info {padding-bottom:0.7rem; font-size:0.7rem; color:#666; word-break:keep-all; border-bottom:1px dashed #c4c4c4;}

/* 회원로그인 */
.mber_login_box .mber_login {position:relative; width:40%; height:20.9rem; margin:3.25rem auto 0; padding:3.25rem 2.5rem 1.75rem; border:1px solid #c9c9c9; box-shadow:4px 3px 3px 0 rgba(0, 0, 0, 0.1);}
.mber_login_box .mber_login:before {content:""; display:block; position:absolute; left:50%; top:-3.25rem; width:6.5rem; height:6.5rem; margin-left:-3.25rem; background:#eee url('/images/web/apple/member/ico_login.png') no-repeat; background-size: contain; border-radius:3.25rem;}

.mber_login_box .mber_login ul li {position:relative; height:2.25rem; margin:0.25rem 0; padding-left:2.5rem; border-bottom:1px solid #000; overflow: hidden;}
.mber_login_box .mber_login ul li label {position:absolute; left:0; top:0; display:block; width:2.25rem; height:2.25rem; text-indent:-10000em;}
.mber_login_box .mber_login ul li.mber_id label {background:url('/images/web/apple/member/ico_login_id.png') no-repeat center;}
.mber_login_box .mber_login ul li.mber_pw label {background:url('/images/web/apple/member/ico_login_pw.png') no-repeat center;}
.mber_login_box .mber_login ul li input {width:100%; height:2.25rem; font-size:0.7rem; line-height:2.25rem; color:#444; vertical-align:middle; border:none;}
.mber_login_box .mber_login .btnLogin {position:relative; width:100%; height:2.25rem; margin:1.25rem 0 0.75rem; line-height:2.25rem; color:#fff; font-size:0.8rem; font-weight:400; text-align:center; border:1px solid #00377b; background:#044ca4; overflow:hidden;}
.mber_login_box .mber_login .btnLogin span {position:relative; display:block; z-index:2;}
.mber_login_box .mber_login .btnLogin:before{content:''; position:absolute; bottom:-1.5rem; right:-1.5rem; width:1.5rem; height:1.5rem; border-radius:50%; background:rgba(0,0,0,0.5); z-index:1;} /* 첫번째 색상 */
.mber_login_box .mber_login .btnLogin:after {content:''; position:absolute; bottom:-1.5rem; left:-1.5rem; width:1.5rem; height:1.5rem; border-radius:50%; background:#044ca4;  z-index:1;} /* 두번째 색상 */
.mber_login_box .mber_login .btnLogin:hover:before {transform:scale(30); transition:all 0.4s;}
.mber_login_box .mber_login .btnLogin:hover:after{transform:scale(30); transition:all 0.4s; transition-delay:0.3s;}

.mber_login_box .mber_login .mber_btnEtc a {position:relative; display:inline-block; padding:0 0.5rem; color:#666; font-size:0.7rem; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; transition:all 0.3s ease;}
.mber_login_box .mber_login .mber_btnEtc a:before {content:""; display:block; position:absolute; left:0; top:50%; width:1px; height:0.45rem; margin-top:-0.25rem; border-left:1px dotted #9a9a9a;}
.mber_login_box .mber_login .mber_btnEtc a:first-child {padding-left:0;}
.mber_login_box .mber_login .mber_btnEtc a:first-child:before {display:none;}
.mber_login_box .mber_login .mber_btnEtc a:hover {color:#044ca4; font-weight:400;}
.mber_login_box .mber_login .mber_btnEtc a span {position:relative; display:block;}
.mber_login_box .mber_login .mber_btnEtc a span:before{content:''; position:absolute; bottom:0; left:50%; width:0; height:1px; background:#044ca4; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; transition:all 0.3s ease;}
.mber_login_box .mber_login .mber_btnEtc a:hover span:before {content:''; position:absolute; bottom:0; left:50%; width:100%; height:1px; margin-left:-50%;}

/* SNS로그인 */
.mber_login_box .mber_snsL {position:relative; width:40%; height:20.9rem; margin:3.25rem auto 0; padding:3.25rem 2.5rem 1.75rem; border:1px solid #c9c9c9; box-shadow:4px 3px 3px 0 rgba(0, 0, 0, 0.1);}
.mber_login_box .mber_snsL:before {content:""; display:block; position:absolute; left:50%; top:-3.25rem; width:6.5rem; height:6.5rem; margin-left:-3.25rem; background:#eee url('/images/web/apple/member/ico_sns_login.png') no-repeat; background-size: contain; border-radius:3.25rem;}
.mber_login_box .mber_snsL .sns_login {margin-top:2rem;}
.mber_login_box .mber_snsL .sns_login li {height:2.25rem; margin-bottom:0.15rem; line-height:2.25rem; font-size:0.8rem; overflow:hidden;}
.mber_login_box .mber_snsL .sns_login li a {position:relative; display:block; color:#fff; font-weight:400;}
.mber_login_box .mber_snsL .sns_login li a:before{content:''; position:absolute; top:0; right:0; bottom:0; left:0; z-index:1; width:120%; height:110%;  transform:translateX(-120%) skew(-15deg); transition:transform 0.7s cubic-bezier(0, 0, 0.21, 0.87) 0s;}
.mber_login_box .mber_snsL .sns_login li a:hover:before,
.mber_login_box .mber_snsL .sns_login li a:focus:before{transform:translateX(-10%) skew(-15deg) perspective(500px);}
.mber_login_box .mber_snsL .sns_login li.login_sns_na a {background:#03a806;}
.mber_login_box .mber_snsL .sns_login li.login_sns_na a:hover:before, .mber_login_box .mber_snsL .sns_login li.login_sns_na a:focus:before {background:#008c03;}
.mber_login_box .mber_snsL .sns_login li.login_sns_ka a { color:#222; background:#ffd538;}
.mber_login_box .mber_snsL .sns_login li.login_sns_ka a:hover:before, .mber_login_box .mber_snsL .sns_login li.login_sns_ka a:focus:before {background:#f1c51f;}
.mber_login_box .mber_snsL .sns_login li.login_sns_fa a {background:#3b59dd;}
.mber_login_box .mber_snsL .sns_login li.login_sns_fa a:hover:before, .mber_login_box .mber_snsL .sns_login li.login_sns_fa a:focus:before {background:#1d3ab7;}

.mber_login_box .mber_snsL .sns_login li a span {position:relative; position:relative; display:block; padding-left:2.25rem; text-align:center; z-index:2;}
.mber_login_box .mber_snsL .sns_login li.login_sns_na a span {background:url('/images/web/apple/member/btn_logo_naver.png') no-repeat left top;}
.mber_login_box .mber_snsL .sns_login li.login_sns_ka a span { color:#222; background:url('/images/web/apple/member/btn_logo_kakao.png') no-repeat left top;}
.mber_login_box .mber_snsL .sns_login li.login_sns_fa a span {background:url('/images/web/apple/member/btn_logo_face.png') no-repeat left top;}
.mber_login_box .mber_snsL .sns_login_txt {margin-top:0.75rem; font-size:0.7rem; letter-spacing:-1px;}

/* 비회원 로그인 */
.nmbr_txtBox {padding-bottom:2rem; font-size:0.7rem; text-align:center;}
.nmbr_txtBox dt {line-height:2rem; color:#111; font-size:1.7rem; font-weight:400;}
.nmbr_txtBox dt span {color:#044ca4;}
.nmbr_txtBox dd {margin-top:1rem;}
.nmbr_txtBox dd.nmbr_txtBox_atte {margin-top:2rem; padding-top:2rem; border-top:1px dashed #bec3cc; }
.nmbr_txtBox dd.nmbr_txtBox_atte span {display:inline-block; padding-left:1rem; background:url('/images/web/apple/member/bu_atte2.png') no-repeat left 4px;}

/* 휴대전화 본인확인 & 나이스 아이핀(I-PIN)인증 공통 : 회원가입 3단계에도 같이 쓰임 */
.mber_login_box .btn_nmbr_crtfc {position:relative; display:block; height:2.25rem; margin:1.25rem 0 0; line-height:2.25rem; color:#fff; font-size:0.8rem; font-weight:400; text-align:center; border:1px solid #00377b; background:#044ca4; overflow:hidden;}
.mber_login_box .btn_nmbr_crtfc span {position:relative; display:block; background:url('/images/web/apple/member/login_btn_linkW.png') no-repeat 95% center; z-index:2;}
.mber_login_box .btn_nmbr_crtfc:before{content:''; position:absolute; bottom:-1.5rem; right:-1.5rem; width:1.5rem; height:1.5rem; border-radius:50%; background:rgba(0,0,0,0.5); z-index:1;} /* 첫번째 색상 */
.mber_login_box .btn_nmbr_crtfc:after {content:''; position:absolute; bottom:-1.5rem; left:-1.5rem; width:1.5rem; height:1.5rem; border-radius:50%; background:#044ca4;  z-index:1;} /* 두번째 색상 */
.mber_login_box .btn_nmbr_crtfc:hover:before {transform:scale(30); transition:all 0.4s;}
.mber_login_box .btn_nmbr_crtfc:hover:after{transform:scale(30); transition:all 0.4s; transition-delay:0.3s;}

.mber_login_box .btn_nmbr_crtfcW {position:relative; display:block; height:2.25rem; margin:1rem 0 0; line-height:2.25rem; color:#044ca4; font-size:0.8rem; font-weight:400; text-align:center; border:1px solid #d1d1d1; background:#fff; overflow:hidden;}
.mber_login_box .btn_nmbr_crtfcW span {position:relative; display:block; background:url('/images/web/apple/member/login_btn_linkB.png') no-repeat 95% center; z-index:2;}
.mber_login_box .btn_nmbr_crtfcW:before{content:''; position:absolute; bottom:-1.5rem; right:-1.5rem; width:1.5rem; height:1.5rem; border-radius:50%; background:#e7f2ff; z-index:1;} /* 첫번째 색상 */
.mber_login_box .btn_nmbr_crtfcW:after {content:''; position:absolute; bottom:-1.5rem; left:-1.5rem; width:1.5rem; height:1.5rem; border-radius:50%; background:#fff;  z-index:1;} /* 두번째 색상 */
.mber_login_box .btn_nmbr_crtfcW:hover:before {transform:scale(30); transition:all 0.4s;}
.mber_login_box .btn_nmbr_crtfcW:hover:after{transform:scale(30); transition:all 0.4s; transition-delay:0.3s;}

.mber_login_box .nmbr_Tbu {position:relative; margin-top:1rem; padding-left:0.5rem; font-size:0.75rem; line-height:1.2rem; word-break:keep-all;}
.mber_login_box .nmbr_Tbu:before {content:""; display:block; position:absolute; left:0; top:0.45rem; width:0.15rem; height:0.15rem; background:#0096ff; border-radius:0.1rem;}

/* 휴대전화 본인확인 */
.mber_login_box .nmbr_phone {position:relative; width:40%; height:20.9rem; margin:3.25rem auto 0; padding:3.25rem 2.5rem 1.75rem; border:1px solid #c9c9c9; background:#fcfcfc; box-shadow:4px 3px 3px 0 rgba(0, 0, 0, 0.1);}
.mber_login_box .nmbr_phone:before {content:""; display:block; position:absolute; left:50%; top:-3.25rem; width:6.4rem; height:6.4rem; margin-left:-3.25rem; border:1px solid #c9c9c9; background:#fff url('/images/web/apple/member/ico_login_phone.png') no-repeat; background-size: contain; border-radius:3.25rem;}

/* 나이스 아이핀(I-PIN)인증 */
.mber_login_box .nmbr_ipin {position:relative; width:40%; height:20.9rem; margin:3.25rem auto 0; padding:3.25rem 2.5rem 1.75rem; border:1px solid #c9c9c9; background:#fcfcfc; box-shadow:4px 3px 3px 0 rgba(0, 0, 0, 0.1);}
.mber_login_box .nmbr_ipin:before {content:""; display:block; position:absolute; left:50%; top:-3.25rem; width:6.4rem; height:6.4rem; margin-left:-3.25rem; border:1px solid #c9c9c9; background:#fff url('/images/web/apple/member/ico_login_ipin.png') no-repeat; background-size: contain; border-radius:3.25rem;}
/* 로그인 : End *******************************************************************************************************************************************************************************************************/


/* 회원가입 : Start *******************************************************************************************************************************************************************************************************/
/* 가입절차 */
.mber_join_box ol.join_step {margin-bottom:2.5rem; padding-bottom:1rem; border-bottom:1px dashed #bec3cc; overflow:hidden; }
.mber_join_box ol.join_step li {position:relative; width:20%; float:left; text-align:center;}
.mber_join_box ol.join_step li div.join_IcoBox{position:relative;}
.mber_join_box ol.join_step li div.join_IcoBox:after {content:''; position:absolute; top:50%; left:0; width:0.65rem; height:1.1rem; margin:-0.55rem 0 0 -0.3rem; background:url('/images/web/apple/member/arr_joinG.png') no-repeat; z-index:1;}
.mber_join_box ol.join_step li:first-child div.join_IcoBox:after {display:none;}
.mber_join_box ol.join_step li span.ico_joinStep {position:relative; display:inline-block; margin:0 auto; padding:0.55rem; border:2px dotted #b0b0b0; border-radius:50%;}
.mber_join_box ol.join_step li span.ico_joinStep img {display:block; background:#eee; border-radius:50%;}
.mber_join_box ol.join_step li.on span.ico_joinStep {border:2px dotted #044ca4;}
.mber_join_box ol.join_step li.on span.ico_joinStep img {background:#d7e6f9;}
.mber_join_box ol.join_step li span {font-size:1.5rem; font-weight:400;}
.mber_join_box ol.join_step li span.point_col1 {color:#044ca4;}
.mber_join_box ol.join_step li span.point_col2 {color:#020202;}
.mber_join_box ol.join_step li strong {display:block; font-size:1.05rem; font-weight:200; color:#838383;}

/* 회원가입 : 공통 */
.mber_join_box .join_tit {font-size:1.7rem; font-weight:400; text-align:center; color:#000;}
.mber_join_box .join_tit2 {font-size:1.1rem; font-weight:400; text-align:center; color:#044ca4;}
.mber_join_box .join_txt {margin-top:1rem; font-size:0.7rem; text-align:center; padding-bottom:1.75rem; border-bottom:1px dashed #c9c9c9;}
.mber_join_box .join_atte {margin-top:2rem; font-size:0.7rem; color:#777; text-align:center;}
.mber_join_box .join_atte span {position:relative; display:inline-block; padding-left:1rem; text-align:left;}
.mber_join_box .join_atte span:before {content:""; display:block; position:absolute; left:0; top:2px; width:0.8rem; height:0.8rem; background:url('/images/web/apple/member/bu_atte2.png') no-repeat; background-size: contain;}
/* 회원가입 : 공통 : 버튼 */
.mber_join_box .btn_joinB, .mber_join_box .btn_joinG {margin:0.1rem; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -ms-transition:all 0.3s ease; transition:all 0.3s ease;}
.mber_join_box .btn_joinB {display:inline-block; width:5.9rem; height:2.4rem; line-height:2.4rem; color:#fff; font-size:0.8rem; font-weight:400; text-align:center; border:1px solid #00377b; background:#044ca4;}
.mber_join_box .btn_joinB:hover {background:#00377b;}
.mber_join_box .btn_joinG {display:inline-block; width:5.9rem; height:2.4rem; line-height:2.4rem; color:#fff; font-size:0.8rem; font-weight:400; text-align:center; border:1px solid #9098a4; background:#a5aab1;}
.mber_join_box .btn_joinG:hover {background:#9098a4;}

/* 회원구분 */
.mber_join_box .joinStep1{margin-top:1rem; padding-bottom:2rem; border-bottom:1px dashed #c9c9c9; overflow:hidden;}
.mber_join_box .joinStep1 .joinBox {position:relative; width:30%; float:left; margin:3.3rem 0 0 5%; padding:3.3rem 2.5rem 2.5rem; border:1px solid #c9c9c9; box-sizing:border-box;}
.mber_join_box .joinStep1 .joinBox:first-child {margin-left:0;}
.mber_join_box .joinStep1 .joinBox .joinBico {position:absolute; top:-3.3rem; left:50%; display:block; width:6.5rem; height:6.5rem; margin-left:-3.3rem; border:1px solid #c9c9c9; border-radius:50%; background:#fff;}
.mber_join_box .joinStep1 .joinBox dl {font-size:0.8rem; text-align:center; color:#777; word-break:keep-all;}
.mber_join_box .joinStep1 .joinBox dl dt {margin-bottom:1rem; line-height:4rem; font-size:1.5rem; font-weight:400; color:#044ca4; border-bottom:1px dashed #c9c9c9;}
.mber_join_box .joinStep1 .joinBox dl dd {min-height:2.5rem;}
.mber_join_box .joinStep1 .joinBox a {display:block; margin-top:1rem; line-height:2.15rem; font-size:0.8rem; font-weight:400; text-align:center; color:#fff; border:1px solid #00377b; background:#044ca4 url('/images/web/apple/member/btn_join_arr.png') no-repeat 90% center; -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -ms-transition:all 0.2s ease; transition:all 0.2s ease;}
.mber_join_box .joinStep1 .joinBox a:hover {background-position:88% center; background-color:#00377b;}

/* 약관동의 */
.mber_join_box .joinStep2 {margin:1rem 0 1.5rem; padding-bottom:1.25rem; border-bottom:1px dashed #c9c9c9; overflow:hidden;}
.mber_join_box .joinStep2 .joinStplat {position:relative; height:11rem; padding:1.75rem 1.25rem; border:1px solid #ddd; background:#fcfcfc; overflow-y:auto;}
.mber_join_box .joinStep2 .joinStplat .StplatT1 {margin-top:1rem; font-size:0.9rem; font-weight:400; color:#000;}
.mber_join_box .joinStep2 .joinStplat .StplatT1:first-child {margin-top:0;}
.mber_join_box .joinStep2 .joinStplat .StplatT2 {margin-top:0.5rem; font-size:0.8rem; font-weight:400; color:#333;}
.mber_join_box .joinStep2 .joinStplat .StplatT3 {margin-top:0.25rem; font-size:0.7rem; color:#666;}
.mber_join_box .joinStep2 .joinStplat .StplatDl1 dt {margin-top:0.5rem; font-size:0.8rem; font-weight:400; color:#333;}
.mber_join_box .joinStep2 .joinStplat .StplatDl1 dd {margin-top:0.25rem; font-size:0.7rem; color:#666;}
.mber_join_box .joinStep2 .joinStplat ol ul {margin-left:0.25rem;}
.mber_join_box .joinStep2 .joinStplat ol ol {margin-left:0.75rem;}
.mber_join_box .joinStep2 .joinStplat ol, .mber_join_box .joinStep2 .joinStplat ul {margin-top:0.15rem; margin-bottom:0.15rem;}
.mber_join_box .joinStep2 .joinStplat ul li {position:relative; padding-left:0.5rem;}
.mber_join_box .joinStep2 .joinStplat ul > li:before {content:""; display:block; position:absolute; left:0; top:0.45rem; width:4px; height:4px; background:#666; }
.mber_join_box .joinStep2 .joinStplat ul > li > ul > li:before {content:""; display:block; position:absolute; left:0; top:0.5rem; width:0.25rem; height:2px; background:#666; }
.mber_join_box .joinStep2 .joinStplat ul > li > ul > li > ul > li:before {content:""; display:block; position:absolute; left:0; top:0.5rem; width:2px; height:2px; background:#666; }
.mber_join_box .joinStep2 .join_agre {margin-top:1.25rem; font-size:0.75rem;  text-align:right;}
.mber_join_box .joinStep2 .join_agre label {margin-left:0.25rem; vertical-align:middle;}
.mber_join_box .joinStep2 .join_agre label strong {font-weight:400; color:#111;}
.mber_join_box .joinStep2 .join_agre label span {color:#044ca4;}

/* 본인확인 : 본인확인완료 / 본인확인페이지는 위에 비회원로그인과 같은 css 사용*/
.joinStep3 dl.joinCrtfc {margin:1rem 0; text-align:center; font-size:0.7rem; color:#777;}
.joinStep3 dl.joinCrtfc dt {position:relative; display:inline-block; padding-top:12.25rem; font-size:0.9rem; color:#777; font-weight:400;}
.joinStep3 dl.joinCrtfc dt:before {content:""; display:block; position:absolute; left:50%; top:0; width:11.5rem; height:11.5rem; margin-left:-5.75rem; background:#f7f9fb url('/images/web/apple/member/ico_joinCrtfc.png') no-repeat center; border-radius:50%;}
.joinStep3 dl.joinCrtfc dd.txt {margin:1rem 0; padding-bottom:1rem; border-bottom:1px dashed #c9c9c9;}
.joinStep3 dl.joinCrtfc dd.txt span {position:relative; display:inline-block; padding-left:1rem; text-align:left;}
.joinStep3 dl.joinCrtfc dd.txt span:before {content:""; display:block; position:absolute; left:0; top:0.1rem; width:0.8rem; height:0.8rem; background:url('/images/web/apple/member/bu_atte2.png') no-repeat; }

/* 정보입력 */
.joinStep4 {margin:1rem 0;}
.joinStep4 .btn_Join_id {height:1.4rem; margin:0.1rem; padding:0 0.75rem 0 2rem; font-size:0.7rem; line-height:1.4rem; color:#fff; vertical-align:middle; border:1px solid #00397f; background:#044ca4 url('/images/web/apple/member/ico_id_search.png') no-repeat 0.75rem center;}
.joinStep4 .btn_Join_id:hover {background-color:#00397f;}
.joinStep4 .btn_Join_adres {height:1.4rem; margin:0.1rem 0; padding:0 0.75rem; font-size:0.7rem; line-height:1.4rem; color:#444; vertical-align:middle; border:1px solid #cdcdcd; background:#fff;}
.joinStep4 .btn_Join_adres:hover {background-color:#f7f7f7;}
.joinStep4 .btn_Join_adres,
.joinStep4 button.btn_Join_id {line-height: inherit;}

/* 가입완료 */
.joinStep5 {margin:1rem 0; text-align:center; font-size:0.7rem; color:#777;}
.joinStep5 p.joinEnd {position:relative; display:inline-block; padding-top:12.25rem; font-size:0.9rem; color:#777; font-weight:400;}
.joinStep5 p.joinEnd:before {content:""; display:block; position:absolute; left:50%; top:0; width:11.5rem; height:11.5rem; margin-left:-5.75rem; background:#f7f9fb url('/images/web/apple/member/ico_joinEnd.png') no-repeat center; border-radius:50%;}

/* 회원가입 : End *******************************************************************************************************************************************************************************************************/



@media screen and (max-width:1200px){ 

	/* 로그인 : Start *******************************************************************************************************************************************************************************************************/
	/* 로그인 */
	.mber_login_box .mber_login_OR {position:relative; left:auto; top:auto; width:100%; height:4.5rem; margin:0;}
	.mber_login_box .mber_login_OR:before {left:0; top:50%; width:100%; height:1px; border-top:1px dashed #bec3cc; border-left:none;}

	.mber_login_box h3.login_tit, .mber_login_box p.login_info {text-align:center;}


	/* 일반 로그인 */
	.mber_login_box .mber_login.fl, .mber_login_box .mber_snsL.fr {float:none !important;}
	.mber_login_box .mber_login,  .mber_login_box .mber_snsL {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
	.mber_login_box .mber_login {width:90%; height:auto; margin:3.25rem auto 0; padding:3.25rem 1.5rem 1.75rem; }

	/* SNS 로그인 */
	.mber_login_box .mber_snsL {width:90%; height:auto; margin:3.25rem auto 0; padding:3.25rem 1.5rem 1.75rem; }

	/* 비회원 로그인 */
	/* 휴대전화 본인확인 */
	.mber_login_box .nmbr_phone.fl, .mber_login_box .nmbr_ipin.fr {float:none !important;}
	.mber_login_box .nmbr_phone, .mber_login_box .nmbr_ipin {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
	.mber_login_box .nmbr_phone {width:90%; height:auto; margin:3.25rem auto 0; padding:3.25rem 1.5rem 1.75rem; }

	/* 나이스 아이핀(I-PIN)인증 */
	.mber_login_box .nmbr_ipin {width:90%; height:auto; margin:3.25rem auto 0; padding:3.25rem 1.5rem 1.75rem; }

	/* 로그인 : End *******************************************************************************************************************************************************************************************************/


	/* 회원가입 : Start *******************************************************************************************************************************************************************************************************/
	/* 가입절차 */
	.mber_join_box ol.join_step {margin-bottom:1rem;}
	.mber_join_box ol.join_step li span.ico_joinStep {width:60%;}
	.mber_join_box ol.join_step li span.ico_joinStep img {width:100%; height:auto;}
	.mber_join_box ol.join_step li span {font-size:1.2rem;}
	.mber_join_box ol.join_step li strong {font-size:0.9rem;}

	.mber_join_box .join_tit {font-size:1.5rem;}

	/* 회원구분 */

	.mber_join_box .joinStep1 .joinBox {width:32%;margin:2.5rem 0 0 2%; padding:2.5rem 1.5rem 1.5rem; }
	.mber_join_box .joinStep1 .joinBox .joinBico {top:-2.5rem; left:50%; width:4.9rem; height:4.9rem; margin-left:-2.5rem;}
	.mber_join_box .joinStep1 .joinBox .joinBico img {width:100%; height:100%;}
	.mber_join_box .joinStep1 .joinBox dl {font-size:0.7rem;}
	.mber_join_box .joinStep1 .joinBox dl dt {line-height:3rem; font-size:1.2rem; }
	.mber_join_box .joinStep1 .joinBox dl dd br {display:none;}






	/* 회원가입 : End *******************************************************************************************************************************************************************************************************/



}

@media screen and (max-width:1000px){ 

	

}


@media screen and (max-width:800px){ 

	
	/* 회원가입 : Start *******************************************************************************************************************************************************************************************************/
	/* 가입절차 */
	.mber_join_box ol.join_step li span.ico_joinStep {width:60%;}
	.mber_join_box ol.join_step li span.ico_joinStep img {width:100%; height:auto;}
	.mber_join_box ol.join_step li span {font-size:1rem;}
	.mber_join_box ol.join_step li strong {font-size:0.8rem;}
	
	/* 회원구분 */
	.mber_join_box .joinStep1 .joinBox {width:100%; margin:3.5rem 0 0 0; float:none; }
	.mber_join_box .joinStep1 .joinBox:first-child {margin-top:2.5rem;}
	.mber_join_box .joinStep1 .joinBox dl dd {min-height:auto;}

	/* 회원가입 : End *******************************************************************************************************************************************************************************************************/
	
	
}


@media screen and (max-width:600px){ 

	/* 회원가입 : Start *******************************************************************************************************************************************************************************************************/
	/* 가입절차 */
	.mber_join_box ol.join_step li {width:50%; margin-bottom:0.5rem; padding-left:3rem; text-align:left; box-sizing:border-box; }
	.mber_join_box ol.join_step li div.join_IcoBox {position:absolute; top:0; left:0; width:2.5rem; height:2.5rem;}
	.mber_join_box ol.join_step li div.join_IcoBox:after {display:none;}
	.mber_join_box ol.join_step li span.ico_joinStep {display:block; padding:0.25rem; border:1px dotted #b0b0b0;}
	.mber_join_box ol.join_step li.on span.ico_joinStep {border:1px dotted #044ca4;}
	.mber_join_box ol.join_step li span {font-size:0.7rem;}
	.mber_join_box ol.join_step li strong {font-size:0.8rem;}

	/* 회원가입 : End *******************************************************************************************************************************************************************************************************/



}


@media screen and (max-width:500px){ 

	/* 로그인 : Start *******************************************************************************************************************************************************************************************************/
	/* 로그인 */
	.mber_login_box h3.login_tit { font-size:1.2rem;}
	
	/* 일반 로그인 */
	.mber_login_box .mber_login {width:100%; margin:2rem auto 0; padding:2rem 1rem 1.5rem; }
	.mber_login_box .mber_login:before {left:50%; top:-2rem; width:4rem; height:4rem; margin-left:-2rem;}

	.mber_login_box .mber_login .mber_btnEtc a {padding:0 0.25rem;}

	/* SNS 로그인 */
	.mber_login_box .mber_snsL {width:100%; margin:2rem auto 0; padding:2rem 1rem 1.5rem; }
	.mber_login_box .mber_snsL:before {left:50%; top:-2rem; width:4rem; height:4rem; margin-left:-2rem;}
	.mber_login_box .mber_snsL .sns_login {margin-top:1rem;}

	/* 비회원 로그인 */
	.nmbr_txtBox {padding-bottom:1rem;}
	.nmbr_txtBox dt {line-height:1.7rem; font-size:1.4rem;}
	.nmbr_txtBox dd {margin-top:0.5rem;}
	.nmbr_txtBox dd.nmbr_txtBox_atte {margin-top:1rem; padding-top:1rem;}
	
	/* 휴대전화 본인확인 */
	.mber_login_box .nmbr_phone {width:100%; margin:2rem auto 0; padding:2rem 1rem 1.5rem; }
	.mber_login_box .nmbr_phone:before {left:50%; top:-2rem; width:3.9rem; height:3.9rem; margin-left:-2rem;}

	/* 나이스 아이핀(I-PIN)인증 */
	.mber_login_box .nmbr_ipin {width:100%; margin:2rem auto 0; padding:2rem 1rem 1.5rem; }
	.mber_login_box .nmbr_ipin:before {left:50%; top:-2rem; width:3.9rem; height:3.9rem; margin-left:-2rem;}
	
	/* 로그인 : End *******************************************************************************************************************************************************************************************************/



}

@media screen and (max-width:380px){ 




}

@media screen and (max-width:320px){ 




}