@charset "utf-8";
/* CSS Document */


* {margin: 0; padding: 0; list-style: none;	text-decoration: none;}
body {font-family:'맑은 고딕', 'Malgun Gothic', '돋움', 'Dotum', '굴림', 'Gulim', AppleGothic, UnDotum, Arial, Tahoma, Verdana, sans-serif; color:#333}

/* 팝업 */
#wrap{position:relative; width:100%; height:100%; min-height:880px;}

.error { position:relative; width:1020px; height:100%; margin:0 auto; padding-top:80px; text-align:center; overflow:hidden}
.error h2 { font-weight:bold; font-size:30px; word-break:keep-all; color:#222; letter-spacing:-2px; margin:40px 0 20px}
.error h2 strong { color:#22b7bb}
.error p {font-size:16px; color:#2b415a; letter-spacing:-1px; word-break:keep-all; margin-top:20px; color:#666666 }
.error p strong { font-weight:normal;}

.error ul { min-height:140px; border-radius:140px;  padding:35px 30px; margin-top:40px; background:#22b7bb;}
.error ul li { font-size:28px; color:#fff; line-height:60px; letter-spacing:-1px;  word-break:keep-all;  text-align:cebter;}

.error_img { margin:30px 0 20px}

.f_txt { text-align:center} 
.f_txt address{ font-size:13px; line-height:24px; font-style:normal; }
.f_txt p.copyright { font-size:11px; margin-top:5px;}
.f_txt p.copyright span {color:#666;}

.srchBtn { display:flex; flex-wrap:wrap; justify-content: center; align-items: center; padding:1.25rem 1rem;color:#333;}
.srchBtn a[class*='btnTy_'],
.srchBtn button[class*='btnTy_']{ min-width:3.5rem; padding:.5rem .75rem; border-radius:8px; }
.srchBtn .btn_pop{background:#0081dd; border:1px solid #0081dd; color:#fff; min-width: 4.5rem; padding: 0.7rem 1.2rem; border-radius: 12px; font-size:1.2rem; font-weight: 800; color:#fff; line-height:30px; letter-spacing:-1px;  word-break:keep-all;  text-align:cebter;}

.btn_bl {padding:10px 15px; color:#fff; background:#155eb6; margin-right:10px; font-weight: 800}
.btn_bl:hover, .btn_bl:focus {background:#0f4e99;font-weight: 800}
.btn_blL {padding:9px 14px; color:#155eb6; border:1px solid #155eb6;font-weight: 800}




@media screen and (max-width:1019px) {
	.error { width:100%; padding:20px 0 0;}
	.error h2 { font-size:30px;}


}

@media screen and (max-width:680px) {


	.error p {  font-size:14px;}
	.error ul { border-radius:0; background:#22b7bb;}
  .error ul li { font-size:16px;line-height:40px; }


}

@media screen and (max-width:580px) {
	.error h2 { font-size:26px;}
	.error ul { background-image:none; margin-top:30px; }
	.error_img { width:auto; }



}


